include ../global/mixins
include ../global/header
include ../global/footer

block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title= title
    meta(name="description", content="CmBox | Креативная маркетинговая упаковка")

    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="shortcut icon", href="img/favicons/icon-favicon.svg", type="image/svg")

  body

    block header

    block main

    block footer

    script(src="js/vendor.min.js")
    script(src="js/default.js")
    script(src="js/main.js")
