mixin header()

  -
    const headerList = [
      {
        text: 'О нас',
        link: 'about-us.html'
      },
      {
        text: 'Услуги',
        link: 'services.html'
      },
      {
        text: 'Этапы',
        link: 'steps.html'
      },
      {
        text: 'Портфолио',
        link: 'portfolio.html'
      },
      {
        text: 'Блог',
        link: 'blog.html'
      },
      {
        text: 'Контакты',
        link: 'contacts.html'
      },
    ];

  header.main-header
    nav.main-header__wrapper.container
      a.main-header__todo-menu(href="#")
        span.visually-hidden Портфолио
      .main-header__image
        a(href="main.html")
          +img('svg', 'logo', 'svg', '120', '43', 'Логотип')
      a.main-header__link-services(href="#")
        span.visually-hidden Услуги
        +img('svg', 'icon-box', 'svg', '26', '26', 'Услуги')
      button.main-header__btn.main-header__btn--closed(href="#")
        span.visually-hidden Открыть меню
      .main-header__wrap-menu
        ul.main-header__list
          each item in headerList
            li
              a(href= item.link)= item.text
        .main-header__box-tablet
          a(href="tel:375296086368") +375 (29) 608-63-68
          +social-list.social-list--tablet
      .main-header__box
        a.main-header__link-phone(href="tel:375296086368")
          +img('svg', 'icon-mobile', 'svg', '9', '18', 'Телефон')
          span +375 (29) 608-63-68
        +social-list
