mixin header()
  -
    var headerList = [
      {
        text: 'О нас',
        link: 'about-us.html'
      },
      {
        text: 'Услуги',
        link: 'main-services.html'
      },
      {
        text: 'Этапы',
        link: 'main-stages.html'
      },
      {
        text: 'Портфолио',
        link: 'portfolio.html'
      },
      {
        text: 'Блог',
        link: 'blog.html'
      },
      {
        text: 'Контакты',
        link: 'contacts.html'
      },
    ];

  -
    var stageList = [
      {
        link: '#',
        text: 'Стратегия'
      },
      {
        link: '#',
        text: 'Анализ'
      },
      {
        link: '#',
        text: 'Дизайн'
      },
      {
        link: '#',
        text: 'Разработка'
      },
      {
        link: '#',
        text: 'Продвижение'
      },
      {
        link: '#',
        text: 'Автоматизация'
      },
      {
        link: '#',
        text: 'Поддержка'
      },
    ];

  -
    var servicesList = [
      {
        path: 'svg',
        image: 'icon-site',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'Сайт',
        link: '#',
        text: 'Сайт'
      },
      {
        path: 'svg',
        image: 'icon-sale',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'Воронка продаж',
        link: '#',
        text: 'Воронка продаж'
      },
      {
        path: 'svg',
        image: 'icon-seo',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'Сео',
        link: '#',
        text: 'SEO'
      },
      {
        path: 'svg',
        image: 'icon-contecst',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'Контекст',
        link: '#',
        text: 'Контекст'
      },
      {
        path: 'svg',
        image: 'icon-social',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'Соцсети',
        link: '#',
        text: 'Соцсети'
      },
      {
        path: 'svg',
        image: 'icon-video',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'Видеомаркетинг',
        link: '#',
        text: 'Видеомаркетинг'
      },
      {
        path: 'svg',
        image: 'icon-crm',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'ЦРМ',
        link: '#',
        text: 'CRM'
      },
    ];

  header.main-header
    nav.main-header__wrapper.container
      .main-header__logo
        a(href="index.html")
          +img('svg', 'logo', 'svg', '120', '43', 'Логотип')
      .main-header__stage-box
        a.main-header__link-stage.main-header__link-stage--closed(href="#")
          span.visually-hidden Меню с этапами
        .main-header__stage-nav.main-header__stage-nav--closed
          h1 Этапы
          ul.main-header__stage-list
            each item in stageList
              li
                a(href= item.link)= item.text
      .main-header__services-box
        a.main-header__link-services.main-header__link-services--closed(href="#")
          span.visually-hidden Наши услуги
        .main-header__services-nav.main-header__services-nav--closed
          h1 Услуги
          ul.main-header__services-list
            each item in servicesList
              li
                a(href= item.link)
                  +img(item.path, item.image, item.format, item.width, item.height, item.altText)
                  = item.text
      .main-header__wrap-menu-nav
        button.main-header__btn.main-header__btn--closed(href="#")
          span.visually-hidden Бургер меню
        .main-header__wrap-menu
          ul.main-header__list
            each item in headerList
              li
                a(href= item.link)= item.text
          .main-header__box-tablet
            a(href="tel:375296086368") +375 (29) 608-63-68
            +social-list.social-list--tablet
      .main-header__box
        a.main-header__link-phone(href="tel:375296086368")
          +img('svg', 'icon-mobile', 'svg', '9', '18', 'Телефон')
          span +375 (29) 608-63-68
        span.main-header__social
        +social-list
