mixin header()
  -
    var headerList = [
      {
        text: 'О нас',
        link: 'about-us.html'
      },
      {
        text: 'Услуги',
        link: 'services-analytics.html'
      },
      {
        text: 'Этапы',
        link: 'stage-analysis.html'
      },
      {
        text: 'Портфолио',
        link: 'portfolio.html'
      },
      {
        text: 'Отзывы',
        link: 'feedback.html'
      },
      {
        text: 'Блог',
        link: 'blog.html'
      },
      {
        text: 'Контакты',
        link: 'contacts.html'
      },
    ];

  -
    var stageList = [
      {
        link: '#',
        text: 'Стратегия'
      },
      {
        link: '#',
        text: 'Анализ'
      },
      {
        link: '#',
        text: 'Дизайн'
      },
      {
        link: '#',
        text: 'Разработка'
      },
      {
        link: '#',
        text: 'Продвижение'
      },
      {
        link: '#',
        text: 'Автоматизация'
      },
      {
        link: '#',
        text: 'Поддержка'
      },
    ];

  -
    var servicesList = [
      {
        path: 'svg',
        image: 'icon-site',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'Сайт',
        link: '#',
        text: 'Сайт'
      },
      {
        path: 'svg',
        image: 'icon-sale',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'Воронка продаж',
        link: '#',
        text: 'Воронка продаж'
      },
      {
        path: 'svg',
        image: 'icon-seo',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'Сео',
        link: '#',
        text: 'SEO'
      },
      {
        path: 'svg',
        image: 'icon-contecst',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'Контекст',
        link: '#',
        text: 'Контекст'
      },
      {
        path: 'svg',
        image: 'icon-social',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'Соцсети',
        link: '#',
        text: 'Соцсети'
      },
      {
        path: 'svg',
        image: 'icon-video',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'Видеомаркетинг',
        link: '#',
        text: 'Видеомаркетинг'
      },
      {
        path: 'svg',
        image: 'icon-crm',
        format: 'svg',
        width: '48',
        height: '48',
        altText: 'ЦРМ',
        link: '#',
        text: 'CRM'
      },
    ];

  header.main-header
    nav.main-header__wrapper.container
      .main-header__logo
        a(href="index.html")
          +img('svg', 'logo', 'svg', '120', '43', 'Логотип')
      .main-header__stage-box
        a.main-header__link-stage.main-header__link-stage--closed(href="#")
          span.visually-hidden Меню с этапами
        .main-header__stage-nav.main-header__stage-nav--closed
          h1 Этапы
          ul.main-header__stage-list
            each item in stageList
              li
                a(href= item.link)= item.text
      .main-header__services-box
        .main-header__services-nav.main-header__services-nav--closed
          h1 Услуги
          ul.main-header__services-list
            each item in servicesList
              li
                a(href= item.link)
                  +img(item.path, item.image, item.format, item.width, item.height, item.altText)
                  = item.text
      .main-header__nav-box
        .main-header__wrap-menu-nav
          button.main-header__btn.main-header__btn--closed(href="#")
            span
            span
            span
          .main-header__wrap-menu
            ul.main-header__list
              li
                a(href="#") О нас
              li.main-header__link-services
                a(href="#") Услуги
              li.main-header__stage-link
                a(href="#") Этапы
              li
                a(href="#") Портфолио
              li
                a(href="#") Отзывы
              li
                a(href="#") Блог
              li
                a(href="#") Контакты
            .main-header__box-tablet
              .main-header__box-info
                a(href="tel:+375296086368") +375 (29) 608 63 68 (Минск)
                a(href="tel:+74996086368") +7 (499) 208 63 68 (Москва)
                a(href="#")
                  span.link-modal-question Заказать звонок
                +social-list.social-list--tablet
        .main-header__box
          a.main-header__box-phone(href="#")
            +img('svg', 'icon-mobile', 'svg', '24', '24', 'Заказать звонок')
            span.link-modal-question Заказать звонок
          +social-list
        .main-header__tel
          a.main-header__link-phone(href="tel:+375296086368")
            +img('svg', 'icon-mobile', 'svg', '24', '24', 'Телефон')
            | +375 (29) 608-63-68 (Минск),
          a(href="tel:+74996086368") +7 (499) 608-63-68 (Москва)
