extends ../layout/page-layout

block variables
  - var title = "О нас"

block header
  +header

block main

  -
    var imageList = [
      {
        link: '#',
        path: 'png',
        name: 'logo-deepsleep',
        format: 'png',
        width: '240',
        height: '70',
        altText: 'Дипслип'
      },
      {
        link: '#',
        path: 'png',
        name: 'logo-exim',
        format: 'png',
        width: '240',
        height: '70',
        altText: 'Эксимэлектро'
      },
      {
        link: '#',
        path: 'png',
        name: 'logo-torwood',
        format: 'png',
        width: '240',
        height: '70',
        altText: 'Торвуд'
      },
      {
        link: '#',
        path: 'png',
        name: 'logo-techimport',
        format: 'png',
        width: '240',
        height: '70',
        altText: 'Техимпорт'
      },
    ];

  -
    var navList = [
      {
        linkText: 'Дизайн'
      },
      {
        linkText: 'Seo'
      },
      {
        linkText: 'Воронка продаж'
      },
      {
        linkText: 'Контекст'
      },
      {
        linkText: 'Видеомаркетинг'
      },
      {
        linkText: 'Аналитика'
      },
      {
        linkText: 'Соцсети'
      },
      {
        linkText: 'Стратегия'
      },
      {
        linkText: 'Crm'
      },
      {
        linkText: 'Сайт'
      },
    ];

  main
    section.about-us
      .about-us__wrapper.container
        h1 О нас
        .about-us__box
          .about-us__box-text
            p Мы являемся агентством веб- и бизнес-аналитики. Основное направление нашей деятельности – это бизнес-аналитика и ключевые течения интернет-маркетинга: веб-аналитика, SEO-продвижение, контекстная реклама, SMM, а также ряд других сопутствующих услуг.
            ul.about-us__list
              li
                +img('about-us', 'icon-loupe', 'svg', '48', '48', 'Инструменты')
                p Используем
                  span  самые эффективные инструменты
                  |  для создания комплексного продвижения в интернете.
              li
                +img('about-us', 'icon-loupe', 'svg', '48', '48', 'Инструменты')
                p Всегда
                  span  ход рекламной компании,
                  |  чтобы оперативно внести корректировки для повышения её эффективности.
              li
                +img('about-us', 'icon-loupe', 'svg', '48', '48', 'Инструменты')
                p Всегда
                  span  ответственно относимся
                  |  к исполнению нашей работы.
              li
                +img('about-us', 'icon-loupe', 'svg', '48', '48', 'Инструменты')
                p
                  span  Гарантируем хороший результат
                  |  и фиксируем это в договоре для вашего спокойствия.
          .about-us__image
            +picture('about-us', 'img-boss', 'img-boss-mobile', 'svg', '815', '430', 'Руководство', '767')
            ul.about-us__nav-list
              each item in navList
                li
                  a(href="#")= item.linkText
    section.clients
      .clients__wrapper.container
        h2 Наши клиенты
        .clients__slider-wrapper
          .clients__swiper-container.swiper-container
            ul.clients__image-list.swiper-wrapper
              each item in imageList
                li.swiper-slide
                  .clients__image-box
                    a(href= item.link)
                      +img(item.path, item.name, item.format, item.width, item.height, item.altText)
            .clients__swiper-button-prev.swiper-button-prev
            .clients__swiper-button-next.swiper-button-next
    section.teams
      .teams__wrapper.container
        h2 Наша команда
        .teams__box
          .teams__box-text
            h3 Маркетинг
            p Маркетинг – это совокупность процессов, направленных на создание, продвижение и предоставление продукта покупателям, а также управление взаимоотношениями с ними.  Главная задача маркетинга – повышение рыночных позиций предприятия, получение прибыли. Для этого используются различные методы, стратегии и инструменты, начиная с конкурентного анализа и заканчивая повышением конкурентоспособности товара или услуги.
          .teams__image.teams__image--marketing
            +img('about-us', 'img-marketing', 'svg', '500', '570', 'Маркетинг')
            +img('about-us', 'marketing-element-1', 'svg', '200', '97', 'Элемент 1')
            +img('about-us', 'marketing-element-2', 'svg', '200', '97', 'Элемент 2')
            +img('about-us', 'marketing-element-3', 'svg', '200', '97', 'Элемент 3')
            +img('about-us', 'marketing-mobile', 'svg', '650', '575', 'Маркетинговая стратегия')
        .teams__box
          .teams__box-text
            h3 Дизайн
            p Web-дизайн – это важная отрасль веб разработки сайта, основной задачей которой является проектирование пользовательского интерфейса. Это не просто привлекательная картинка, а имидживое решение, которое сделает сайт узнаваемым среди тысяч других и сформирует деловую репутацию компании.
          .teams__image.teams__image--designers.teams__image--row
            +img('about-us', 'img-designers', 'svg', '530', '525', 'Дизайнеры')
            +img('about-us', 'designers-element-1', 'svg', '30', '38', 'Элемент 1')
            +img('about-us', 'designers-element-2', 'svg', '40', '38', 'Элемент 2')
            +img('about-us', 'designers-element-3', 'svg', '40', '40', 'Элемент 3')
            +img('about-us', 'designers-element-4', 'svg', '36', '36', 'Элемент 4')
            +img('about-us', 'designers-element-5', 'svg', '50', '45', 'Элемент 5')
            +img('about-us', 'designers-element-6', 'svg', '115', '85', 'Элемент 6')
            +img('about-us', 'designers-element-7', 'svg', '70', '80', 'Элемент 7')
            +img('about-us', 'designers-mobile', 'svg', '530', '585', 'Дизайнеры')
        .teams__box
          .teams__box-text
            h3 Разработка
            p Смысл веб-разработки заключается в написании кода для функционирования сайта. Веб-разработчики с помощью интегрированных сред разработки и языков программирования на основе созданного дизайнерами проекта строят полностью работоспособный сайт.
          .teams__image
            +img('about-us', 'img-developers', 'svg', '630', '534', 'Разработчики')
        .teams__box
          .teams__box-text
            h3 Seo
            p SEO (Search Engine Optimization) — совокупность работ по развитию сайта, изменению его окружения, анализу поведения пользователей, направленная на улучшение уже существующих позиций по целевым запросам (в Яндексе, Google, Mail.ru и других поисковиках), а также получение хороших позиций (в ТОП-10) по новым интересующим запросам.
          .teams__image.teams__image--seo.teams__image--row
            +img('about-us', 'img-seo', 'svg', '500', '530', 'СЕО')
            +img('about-us', 'seo-element-1', 'svg', '42', '42', 'Элемент 1')
            +img('about-us', 'seo-element-2', 'svg', '60', '55', 'Элемент 2')
            +img('about-us', 'seo-element-4', 'svg', '75', '75', 'Элемент 3')
            +img('about-us', 'seo-element-5', 'svg', '65', '80', 'Элемент 4')
            +img('about-us', 'seo-element-3', 'svg', '60', '80', 'Элемент 5')
            +img('about-us', 'seo-mobile', 'svg', '500', '530', 'СЕО')
        .teams__box
          .teams__box-text
            h3 Контекст
            p Контекстолог — это специалист, который занимается ведением и анализом контекстной рекламы. Он настраивает рекламу так, чтобы она показывалась только тем людям, которые искали в поиске аналогичную информацию. Преимущество контекстной рекламы — быстрая отдача. После размещения целевая аудитория увидит рекламу , если правильно подобраны ключевые слова.
          .teams__image.teams__image--context
            +img('about-us', 'img-context', 'svg', '500', '634', 'Контекстолог')
            +img('about-us', 'context-element-1', 'svg', '87', '87', 'Элемент 1')
            +img('about-us', 'context-element-2', 'svg', '95', '120', 'Элемент 2')
            +img('about-us', 'context-element-3', 'svg', '85', '120', 'Элемент 3')
            +img('about-us', 'context-element-4', 'svg', '55', '55', 'Элемент 4')
            +img('about-us', 'context-mobile', 'svg', '500', '635', 'Контекстолог')
        .teams__box
          .teams__box-text
            h3 Smm
            p SMM-продвижение в социальных сетях наряду с другими видами рекламы, чаще всего — таргетированной и контекстной рекламой, составляет основу многих маркетинговых стратегий. Нередко маркетологи принимают решение в пользу одного только SMM — для некоторых брендов работы с соцсетями, прямых коммуникаций с клиентом бывает более чем достаточно.
          .teams__image.teams__image--row
            +img('about-us', 'img-smm', 'svg', '475', '590', 'SMM')
        .teams__box.teams__box--mans
          .teams__box-text
            h3 Видеомаркетинг
            p Видеомаркетинг — это деятельность, направленная на формирование потребностей у людей в каком-либо товаре с помощью видео. Является очень мощным инструментом для продвижения бизнеса.
          .teams__image.teams__image--operators.teams__image--box
            +img('about-us', 'img-mans', 'svg', '1140', '617', 'Операторы')
            +img('about-us', 'quadrocopter-1', 'svg', '125', '87', 'Элемент 1')
            +img('about-us', 'quadrocopter-2', 'svg', '135', '105', 'Элемент 2')
            +img('about-us', 'style-mobile', 'svg', '700', '510', 'Операторы')
          .teams__image-svg-animate
            +img('about-us', 'img-operator', 'svg', '300', '405', 'Оператор-постановщик')
            +img('about-us', 'img-katerina', 'svg', '600', '485', 'Имиджмейкер')
            .teams__box-text.teams__box-text--animate
              h3 Стиль
              p Имиджмейкер выступает организатором и связующим звеном между всеми участниками творческого процесса.
          .teams__box-text.teams__box-text--tablet
            h3 Стиль
            p Имиджмейкер выступает организатором и связующим звеном между всеми участниками творческого процесса.
            h3 Видеомаркетинг
            p Видеомаркетинг — это деятельность, направленная на формирование потребностей у людей в каком-либо товаре с помощью видео. Является очень мощным инструментом для продвижения бизнеса.

block footer
  +footer
