extends ../layout/page-layout

block variables
  - var title = "Блог"

block header
  +header

block main
  -
    var blogList = [
      {
        path: 'png',
        image: 'blog-image-1',
        format: 'png',
        width: '370',
        height: '150',
        altText: '1 Карточка',
        textCard: 'Шаблон, который поможет регулярно писать статьи',
        timeText: '24 апреля 2020'
      },
      {
        path: 'png',
        image: 'blog-image-1',
        format: 'png',
        width: '370',
        height: '150',
        altText: '1 Карточка',
        textCard: 'Шаблон, который поможет регулярно писать статьи',
        timeText: '24 апреля 2020'
      },
    ];

  main.gray-box
    section.article
      .article__title.container
        a(href="blog.html")
          +img('svg', 'icon-left-arrow', 'svg', '48', '48', 'Вернуться в блог')
          h1 Блог
      .article__wrapper
        +img('jpg', 'image-article', 'jpg', '1920', '430', 'Фото статьи')
        .article__box-sharing.container
          time(datetime="24 апреля 2020") 24 апреля 2020
          +sharing
        .article__box-article.container
          .article__box-text
            h2 Как перестать угождать клиентам и начать приносить им пользу
            p Попытки исполнять все пожелания клиента, не спорить с ним (и, если быть откровенными, попросту не вникать в задачи достаточно глубоко) нередко ведут к началу конца.
            p Основатель и руководитель коммуникационного агентства Biznesmuza, евангелист экспертного маркетинга Марина Соболева рассказывает, как из режима «угодного специалиста» перейти в «режим мастера». И объясняет, почему важно это сделать.
            h3 Проблема 1. Недостаток въедливости
            p Рынок стимулирует быть «№1 в своей сфере». Но многие до сих воспринимают это не как работу на результат, а как гонку за лидерством и ресурсами любой ценой. При этом только опыт, въедливость и дотошность исполнителя способны свести к общему знаменателю те картинки, что есть в головах всех участников процесса, и стать залогом качественного результата.
            p Разберу на примерах, как поступают «угодные» специалисты — и почему не надо так делать.
            strong Отсутствие грамотных вопросов («все понятно, погнали»)
            p Желание сэкономить время и не досаждать клиенту может вылиться в то, что результат работы его неприятно удивит, а вам потребуется гораздо больше времени на то, чтобы переделать все с нуля. Поэтому — только техзадание с последующим предметным обсуждением и только согласование каждого этапа.
            strong Нежелание глубоко вникать в задачу («не за эти деньги»)
            p На рынке огромное количество предложений в разных ценовых сегментах, и на каждое находится свой клиент. Поэтому нужно учиться объяснять цену и ход работ (со всей «невидимой» работой). Если аргументов в пользу цены не хватает, то надо нарабатывать опыт до этой цены в полную силу, а не наоборот.
            span Кроме того, все уточняющие вопросы и описание этапов работы хорошо работают на отсев неподходящих клиентов на старте, максимально приближая ожидания к реальности.
            h3 Проблема 2. Обоюдная иллюзия: презумпция компетентности
            p Нередко клиенты в вопросах контент-маркетинга отдают все по максимуму «на откуп» исполнителю, и специалисты соглашаются собирать информацию самостоятельно, без привлечения внутренней экспертизы. Или сами изначально предлагают такую схему клиенту.
            p И он радостно соглашается. А после — сталкивается с жестокой реальностью. Любая незначительная (на непрофессиональный взгляд) мелочь может исказить смысл, а недостоверный факт — загубить все на корню.
            h3 Итог
            ul.article__list
              li: p Важно искать решение задач клиента в союзе с ним, но при этом не идти против себя. Увлеченность — как раз то, что отличает мастера от фейка, ориентированного только на результат, «пшик» и внешний образ. Не делайте того, что не отзывается внутренне и не «зажигает».
              li: p Занимайте позицию в общении с клиентами, не вставая в позу. Аргументируйте цену и варианты решения, презентуйте максимально подробно то, что гарантируете на выходе, сверяйтесь с целью и держите под контролем, не поменялась ли она.
              li: p Создавайте реальные ценности, а не спекулируйте вниманием. Не обещайте того, что не можете дать. Не говорите, что умеете, если это не так. Не соглашайтесь решать задачу неподходящими инструментами или «лишь бы». Вопрос в бюджете клиента? Вникайте и предлагайте альтернативы. Сообщайте о рисках честно и «на берегу».
          .article__box-articles
            .article__box-wrapper
              h3 Свежие статьи
              ul.blog.blog__list
                each item in blogList
                  li
                    .blog__card
                      a(href="article.html")
                        .blog__image
                          +img(item.path, item.image, item.format, item.width, item.height, item.altText)
                          .blog__time
                            time(datetime=item.timeText)= item.timeText
                        .blog__text
                          p= item.textCard
block footer
  +footer
