extends ../layout/page-layout

block variables
  - var title = "Отзывы"

block header
  +header

block main

  main
    section.feedback
      .feedback__wrapper-left
        .feedback__box-title
          strong 68 отзывов
          a(href="#").button
            span Написать отзыв
        section.feedback__box-logotypes
          .feedback__box-info
            a(href="#")
              article.yellow
                +img('png', 'logo-exim', 'png', '202', '58', 'Эксим')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article.green
                +img('png', 'logo-techimport', 'png', '202', '58', 'Техимпорт')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article.brown
                +img('png', 'logo-torwood', 'png', '202', '58', 'Торвуд')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-exim', 'png', '202', '58', 'Эксим')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-techimport', 'png', '202', '58', 'Техимпорт')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-torwood', 'png', '202', '58', 'Торвуд')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-exim', 'png', '202', '58', 'Эксим')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-techimport', 'png', '202', '58', 'Техимпорт')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-torwood', 'png', '202', '58', 'Торвуд')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-exim', 'png', '202', '58', 'Эксим')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-techimport', 'png', '202', '58', 'Техимпорт')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-torwood', 'png', '202', '58', 'Торвуд')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-exim', 'png', '202', '58', 'Эксим')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-techimport', 'png', '202', '58', 'Техимпорт')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-torwood', 'png', '202', '58', 'Торвуд')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-exim', 'png', '202', '58', 'Эксим')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-techimport', 'png', '202', '58', 'Техимпорт')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-torwood', 'png', '202', '58', 'Торвуд')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-exim', 'png', '202', '58', 'Эксим')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-techimport', 'png', '202', '58', 'Техимпорт')
                p Интернет-магазин
          .feedback__box-info
            a(href="#")
              article
                +img('png', 'logo-torwood', 'png', '202', '58', 'Торвуд')
                p Интернет-магазин
        .feedback__scroll-mouse
      .feedback__wrapper-right
        .feedback__box
          h1 Отзывы
          article
            .feedback__title
              .feedback__title-text
                strong Стив Джобс
                span Генеральный директор Torwood
            p Мы являемся агентством веб- и бизнес-аналитики. Основное направление нашей деятельности – это бизнес-аналитика и ключевые течения интернет-маркетинга: веб-аналитика, SEO-продвижение, контекстная реклама, SMM, а также ряд других сопутствующих услуг.
            <iframe src="https://www.youtube.com/embed/EeqPIAYPtiQ"></iframe>
        .main-footer.portfolio-page__footer
          .main-footer__wrapper.container
            .main-footer__box
              .main-footer__box-image
                .main-footer__image
                  a(href='#')
                    +img('svg', 'logo', 'svg', '120', '43', 'Логотип')
                +footer-social
              span © 2019 - ∞
              p ООО "Дигитал Креатив Маркетинг"
            .main-footer__contacts
              a.main-footer__link-location(href="#") ул. Калиновского 77а, офис 310
              a.main-footer__link-mail(href="mail:info@cmbox.by") info@cmbox.by
              .main-footer__link-box
                a.main-footer__link-phone(href="tel:+375296086368") +375 (29) 608-63-68
                +social-list
