extends ../layout/page-layout

block variables
  - var title = 'CmBox | Креативная маркетинговая упаковка'

block main
  -
    var pageCount = 1;

    var pages = [
      {
        title: 'Главная',
        innerPages: [
          {
            name: 'Главная',
            src: 'main.html'
          }
        ]
      },
      {
        title: 'О нас',
        innerPages: [
          {
            name: 'О нас',
            src: 'about-us.html'
          }
        ]
      },
      {
        title: 'Отзывы',
        innerPages: [
          {
            name: 'Отзывы',
            src: 'feedback.html'
          }
        ]
      },
      {
        title: 'Контакты',
        innerPages: [
          {
            name: 'Контакты',
            src: 'contacts.html'
          }
        ]
      },
      {
        title: '404',
        innerPages: [
          {
            name: '404',
            src: '404.html'
          }
        ]
      },
      {
        title: 'Услуги',
        innerPages: [
          {
            name: 'Сайт',
            src: 'services-site.html'
          },
          {
            name: 'Seo',
            src: 'services-seo.html'
          },
          {
            name: 'Видео-маркетинг',
            src: 'services-marketing.html'
          },
        ]
      },
      {
        title: 'Этапы',
        innerPages: [
          {
            name: 'Анализ',
            src: 'stage-analysis.html'
          },
          {
            name: 'Стратегия',
            src: 'stage-strategy.html'
          },
          {
            name: 'Дизайн',
            src: 'stage-design.html'
          },
          {
            name: 'Разработка',
            src: 'stage-developer.html'
          },
          {
            name: 'Продвижение',
            src: 'stage-promotion.html'
          },
          {
            name: 'Автоматизация',
            src: 'stage-automation.html'
          },
          {
            name: 'Поддержка',
            src: 'stage-support.html'
          },
        ]
      },
      {
        title: 'Блог',
        innerPages: [
          {
            name: 'Блог',
            src: 'blog.html'
          },
          {
            name: 'Статья',
            src: 'article.html'
          },
        ]
      },
      {
        title: 'Портфолио',
        innerPages: [
          {
            name: 'Портфолио',
            src: 'portfolio.html'
          },
          {
            name: 'Внутренняя портфолио',
            src: 'portfolio-page.html'
          },
        ]
      },
      {
        title: 'Письмо',
        innerPages: [
          {
            name: 'Письмо',
            src: 'email.html'
          }
        ]
      }
    ];

  ol
    each page in pages
      li
        h3= page.title

        if page.innerPages.length > 0
          each levelSecond in page.innerPages
            p
              a(href=levelSecond.src)
                = pageCount++
                | .
                |
                = levelSecond.name
                if levelSecond.src.length > 0
                  |
                  | -----
                  |
                  = levelSecond.src
