extends ../layout/page-layout

block variables
  - var title = "Главная"

block header
  +header

block main
  main.page-main
    section
      .page-main__wrapper.container
        .page-main__box
          h1 Создадим интернет упаковку вашего бизнеса используя самые эффективные инструменты
          a.button.page-main__link(href="#")
            span Портфолио
        .page-main__box-swiper-wrapper
          .page-main__box.page-main__box-swiper-container.swiper-container
            ul.page-main__list.swiper-wrapper
              li.swiper-slide
                a.page-main__link-box(href="#")
                  +img('services', 'icon-sales', 'svg', '250', '250', 'Воронка')
                  .page-main__text
                    h2 Разработаем маркетинговую стратегию
                    p Первичная аналитика и стратегия
                      strong  бесплатно
              li.swiper-slide
                a.page-main__link-box(href="#")
                  +img('services', 'icon-sales', 'svg', '250', '250', 'Воронка')
                  .page-main__text
                    h2 Разработаем маркетинговую стратегию
                    p Первичная аналитика и стратегия
                      strong  бесплатно
              li.swiper-slide
                a.page-main__link-box(href="#")
                  +img('services', 'icon-sales', 'svg', '250', '250', 'Воронка')
                  .page-main__text
                    h2 Разработаем маркетинговую стратегию
                    p Первичная аналитика и стратегия
                      strong  бесплатно
              li.swiper-slide
                a.page-main__link-box(href="#")
                  +img('services', 'icon-sales', 'svg', '250', '250', 'Воронка')
                  .page-main__text
                    h2 Разработаем маркетинговую стратегию
                    p Первичная аналитика и стратегия
                      strong  бесплатно
            .swiper-pagination
        a.button.page-main__link.page-main__link--tablet(href="#")
          span Портфолио
    section.card-box
      .card-box__wrapper.container
        .card-box__box
          .card__box-text
            h2 Комплексная интернет-упаковка
            p — это извлечение самой сути вашего бизнеса, ценностей, выявление преимуществ компании и донесение их вашим клиентам в Интернете, используя современные маркетинговые инструменты.
          .card-box__image
            +img('svg', 'box-services', 'svg', '660', '700', 'Услуги')
            ul.box
              li
                a.box__link.box__link--design(href="#") Дизайн
              li
                a.box__link.box__link--seo(href="#") SEO
              li
                a.box__link.box__link--sales(href="#") Воронка продаж
              li
                a.box__link.box__link--context(href="#") Контекст
              li
                a.box__link.box__link--marketing(href="#") Видеомаркетинг
              li
                a.box__link.box__link--analytics(href="#") Аналитика
              li
                a.box__link.box__link--social(href="#") Соцсети
              li
                a.box__link.box__link--strategy(href="#") Стратегия
              li
                a.box__link.box__link--crm(href="#") CRM
              li
                a.box__link.box__link--site(href="#") Сайт

block footer
  +footer
