extends ../layout/page-layout

block variables
  - var title = "Главная"

block header
  +header

block main
  main.main
    .snow-box
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
     .snow
    //div#bg.page-main
    section.intro
      .intro__wrapper.container
        .intro__box
          h1 Создадим интернет упаковку вашего бизнеса используя самые эффективные инструменты
          a.button.intro__link(href="#")
            span Портфолио
        .intro__box-swiper-wrapper
          .intro__box.intro__box-swiper-container.swiper-container
            ul.intro__list.swiper-wrapper
              li.swiper-slide
                a.intro__link-box(href="#")
                  +img('services', 'icon-sales', 'svg', '250', '250', 'Воронка')
                  .intro__text
                    h2 Разработаем маркетинговую стратегию
                    p Первичная аналитика и стратегия
                      strong  бесплатно
              li.swiper-slide
                a.intro__link-box(href="#")
                  +img('services', 'icon-sales', 'svg', '250', '250', 'Воронка')
                  .intro__text
                    h2 Разработаем маркетинговую стратегию
                    p Первичная аналитика и стратегия
                      strong  бесплатно
              li.swiper-slide
                a.intro__link-box(href="#")
                  +img('services', 'icon-sales', 'svg', '250', '250', 'Воронка')
                  .intro__text
                    h2 Разработаем маркетинговую стратегию
                    p Первичная аналитика и стратегия
                      strong  бесплатно
              li.swiper-slide
                a.intro__link-box(href="#")
                  +img('services', 'icon-sales', 'svg', '250', '250', 'Воронка')
                  .intro__text
                    h2 Разработаем маркетинговую стратегию
                    p Первичная аналитика и стратегия
                      strong  бесплатно
            .swiper-pagination
        a.button.intro__link.intro__link--tablet(href="#")
          span Портфолио
    section.card-box
      .card-box__wrapper.container
        .card-box__box
          .card-box__inner
            .card__box-text
              h2 Комплексная интернет-упаковка
              p — это извлечение самой сути вашего бизнеса, ценностей, выявление преимуществ компании и донесение их вашим клиентам в Интернете, используя современные маркетинговые инструменты.
            +box-list
    section.advantages
      .advantages__wrapper.container
        h2 Преимущества комплексного подхода
        .advantages__box-list
          .advantages__box
            +img('svg', 'icon-business', 'svg', '100', '100', 'Бизнес')
            p
              strong Мы сопровождаем на всем пути развития
              |  вашего бизнеса в Интернете.
          .advantages__box
            +img('svg', 'icon-money', 'svg', '100', '100', 'Доход')
            p
              strong Мы полностью погружаемся в ваш бизнес,
              |  чтобы понять его тонкости и нюансы.
          .advantages__box
            +img('svg', 'icon-time', 'svg', '100', '100', 'Время')
            p Всегда работаем на
              strong  результат
    section.business
      .business__wrapper.container
        .business__box
          .business__box-info
            h2 Причины для переупаковки вашего бизнеса
            .business__box-image
              +img('svg', 'circle-main', 'svg', '406', '406', 'Элемент 1')
              +img('svg', 'main-box-form', 'svg', '238', '174', 'Элемент 2')
              ul.business__list
                li: p Устаревший сайт
                li: p Желание стать лидером
                li: p Новый продукт\ услуга
                li: p Конкурировать наравне с лидерами
                li: p Реклама приводит мало клиентов
                li: p Мало продаж
                li: p Теряются заказы
            ul.business__list--mobile
              li
                +img('svg', 'icon-client', 'svg', '30', '30', 'Реклама')
                p Реклама приводит мало клиентов
              li
                +img('svg', 'icon-lider', 'svg', '30', '30', 'Лидер')
                p Конкурировать наравне с лидерами
              li
                +img('svg', 'icon-new', 'svg', '30', '30', 'Реклама')
                p Новый продукт\услуга
              li
                +img('svg', 'icon-lider-1', 'svg', '30', '30', 'Реклама')
                p Желание стать лидером
              li
                +img('svg', 'icon-site-1', 'svg', '30', '30', 'Реклама')
                p Устаревший сайт
              li
                +img('svg', 'icon-money-1', 'svg', '30', '30', 'Реклама')
                p Теряются заказы
              li
                +img('svg', 'icon-pay', 'svg', '30', '30', 'Реклама')
                p Мало продаж
          .business__box-form
            h2 Аудит
              br
              | по цене чашки кофе
            form(method="POST" action="#")#form-main
              .modal__user-name
                input(id="user_name" type="text" name="user_name")
                label(for="user_name") Имя
              .modal__user-company
                input(id="user_company" type="text" name="user_company")
                label(for="user_company") Сфера деятельности компании
              .modal__user-phone
                input(id="user_phone" type="tel" name="user_phone" required)
                label(for="user_phone") Номер телефона
              .modal__user-comment
                textarea(id="user_comments" name="user_comments")
                label(for="user_comments") Комментарий
              button.button(type="submit")
                span Отправить
    section.steps
        .steps__wrapper.container
          h2 Этапы комплексной интернет-упаковки
          ul.steps__list
            li
              .steps__box
                a(href="#")
                  span Анализ
                  +img('stage-boxes', 'stage-box', 'svg', '124', '120', 'Анализ')
            li
              .steps__box
                a(href="#")
                  span Стратегия
                  +img('stage-boxes', 'stage-box', 'svg', '124', '120', 'Стратегия')
            li
              .steps__box
                a(href="#")
                  span Дизайн
                  +img('stage-boxes', 'stage-box', 'svg', '124', '120', 'Дизайн')
            li
              .steps__box
                a(href="#")
                  span Разработка
                  +img('stage-boxes', 'stage-box', 'svg', '124', '120', 'Разработка')
            li
              .steps__box
                a(href="#")
                  span Продвижение
                  +img('stage-boxes', 'stage-box', 'svg', '124', '120', 'Продвижение')
            li
              .steps__box
                a(href="#")
                  span Автоматизация
                  +img('stage-boxes', 'stage-box', 'svg', '124', '120', 'Автоматизация')
            li
              .steps__box
                a(href="#")
                  span Поддержка
                  +img('stage-boxes', 'stage-box', 'svg', '124', '120', 'Поддержка')

block footer
  +footer

  section.modal.modal-thanks
    .modal__wrapper
      .modal__box
        h3 Ваша заявка отправлена!
        p В ближайшее время мы
          br
          | с вами свяжемся.
        a.button(href="#")
          span На главную
      .modal__image
        +img('svg', 'modals-check', 'svg', '190', '200', 'Элемент 2')
        +img('svg', 'modals-box', 'svg', '460', '200', 'Элемент 1')
      a.modal__btn-closed(href="#")
        span.visually-hidden Закрыть модальное окно
