extends ../layout/page-layout

block variables
  - var title = "Услуги"

block header
  +header

block main

  -
    var boxesList = [
      {
        link: 'services-analytics.html',
        path: 'services',
        name: 'box-analytics',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Аналитика'
      },
      {
        link: 'services-strategy.html',
        path: 'services',
        name: 'box-strategy',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Стратегия'
      },
      {
        link: 'services-design.html',
        path: 'services',
        name: 'box-design',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Дизайн'
      },
      {
        link: 'services-site.html',
        path: 'services',
        name: 'box-site',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Сайт'
      },
      {
        link: 'services-sales.html',
        path: 'services',
        name: 'box-sales',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Воронка продаж'
      },
      {
        link: 'services-seo.html',
        path: 'services',
        name: 'box-seo',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Seo'
      },
      {
        link: 'services-context.html',
        path: 'services',
        name: 'box-contecst',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Seo'
      },
      {
        link: 'services-social.html',
        path: 'services',
        name: 'box-social',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Seo'
      },
      {
        link: 'services-marketing.html',
        path: 'services',
        name: 'box-marketing',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Seo'
      },
      {
        link: 'services-crm.html',
        path: 'services',
        name: 'box-crm',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Seo'
      },
    ];

  main.gray-box
    section.services
      h1 Услуги
      .services__box
        .services__nav-box
          ul.services__boxes-list
            each item in boxesList
              li
                a(href= item.link)
                  +img(item.path, item.name, item.format, item.width, item.height, item.altText)
      +box-list.main-services.container

block footer
  +footer
