extends ../layout/page-layout

block variables
  - var title = "Услуги"

block header
  +header

block main
  main
    section.main-stages
      h1 Этапы
      .main-stages__wrapper.container
        p Создадим интернет упаковку вашего бизнеса используя самые эффективные инструменты  интернет упаковку вашего бизнеса используя самые эффективные инструменты
        .main-stages__box-image.container
          +img('svg', 'box-stages', 'svg', '635', '690', 'Этапы')
          ul.main-stages__list
            li
              a(href="#") Анализ
            li
              a(href="#") Стратегия
            li
              a(href="#") Дизайн
            li
              a(href="#") Разработка
            li
              a(href="#") Продвижение
            li
              a(href="#") Автоматизация
            li
              a(href="#") Поддержка
      .stage__nav-box
        ul.stages__nav-list
          li
            .stages__image
              a(href='stage-analysis.html')
                span Анализ
                +img('stage-boxes', 'stage-box', 'svg', '220', '175', 'Стратегия')
                //+img('stage-boxes', 'steps-box-hover', 'svg', '220', '175', 'Анализ')
          li
            .stages__image
              a(href='stage-strategy.html')
                span Стратегия
                +img('stage-boxes', 'stage-box', 'svg', '220', '175', 'Стратегия')
          li
            .stages__image
              a(href='stage-design.html')
                span Дизайн
                +img('stage-boxes', 'stage-box', 'svg', '220', '175', 'Дизайн')
          li
            .stages__image
              a(href='stage-developers.html')
                span Разработка
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Разработка')
          li
            .stages__image
              a(href='stage-promotion.html')
                span Продвижение
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Продвижение')
          li
            .stages__image
              a(href='stage-automation.html')
                span Автоматизация
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Автоматизация')
          li
            .stages__image
              a(href='stage-support.html')
                span Поддержка
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Поддержка')

block footer
  +footer
