extends ../layout/page-layout

block variables
  - var title = "Vodadom"

block header
  +header

block main

  -
    var footerNav = [
      {
        link: '#',
        text: 'О нас'
      },
      {
        link: '#',
        text: 'Услуги'
      },
      {
        link: '#',
        text: 'Этапы'
      },
      {
        link: '#',
        text: 'Портфолио'
      },
      {
        link: '#',
        text: 'Блог'
      },
      {
        link: '#',
        text: 'Контакты'
      },
    ];

  main.box-closed(style="background: linear-gradient(90deg, #00A0FF 0%, #011C3B 100%)")
    section.portfolio-page.text-closed
      .portfolio-page__wrapper.container
        .portfolio-page__box-image
          .portfolio-page__controls
            a(href="#")
              span.visually-hidden Вперед
            a(href="#")
              span.visually-hidden Назад
          .portfolio-page__image
            a(href="#")
              +img('jpg', 'image-vodadom', 'jpg', '340', '240', 'Водадом')
          .portfolio-page__controls.portfolio-page__controls--tablet
            a(href="#")
              span.visually-hidden Назад
        .portfolio-page__box.white
          h1 Vodadom
          p Сайт для бурового предприятия в Беларуси
          strong Цели
          ul
            li
              p Разработка стратегии для увеличения продаж в интернете
            li
              p Ребрендинг торговой марки
            li
              p Создание многофункционального сайта магазина
            li
              p Подключение всех инструментов продвижения
          a(href="#") www.vodadom.by
          .portfolio-page__scroll
            p Скролл для дальнейшей информации
            .portfolio-page__scroll-mouse
      #page.portfolio-page__company.gray-box
        .portfolio-page__title
          a(href="#")
            +img('svg', 'icon-left-arrow', 'svg', '48', '48', 'Вернуться в портфолио')
          h2 Портфолио
        .portfolio-page__info
          h3 Клиент
          p ЗАО «Эксимэлектро» за 17 лет работы успешно зарекомендовало себя на рынке Беларуси как поставщик качественной электротехнической продукции.
          p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
          p Они предлагают надежную, качественную, профессиональную продукцию для всех отраслей промышленности, включая сельское хозяйство, строительство и транспорт.
          h3 Проблема
          .portfolio-page__trabls
            p Устаревший сайт со слабым функционалом
            p Отсутствие всех видов продвижения
            p Желание увеличить продажи и нарастить базу постоянных клиентов
          .portfolio-page__cell
            h3 Цели
            ul
              li
                p Разработка стратегии для увеличения продаж в интернете
              li
                p Ребрендинг торговой марки
              li
                p Создание многофункционального сайта магазина
              li
                p Подключение всех инструментов продвижения
          .portfolio-page__company-image
            +img('png', 'image-company-vodadom', 'png', '510', '420', 'Водадом')
            +img('svg', 'logo-vodadom', 'svg', '170', '110', 'Водадом')
          h3 Как мы реализовали
          ul.portfolio-page__list-purposes
            li
              .portfolio-page__purposes
                strong Аналитика
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
              .portfolio-page__purposes-img
                +img('services', 'icon-analytics', 'svg', '250', '250', 'Аналитика')
                +img('svg', 'box-open', 'svg', '170', '124', 'Аналитика')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Аналитика')
            li
              .portfolio-page__purposes
                strong Стратегия
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
              .portfolio-page__purposes-img
                +img('services', 'icon-strategy', 'svg', '250', '250', 'Стратегия')
                +img('svg', 'box-open', 'svg', '170', '124', 'Стратегия')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Стратегия')
            li
              .portfolio-page__purposes
                strong Дизайн
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
                p
                  +img('png', 'image-company-1', 'png', '500', '232', 'Дизайн')
              .portfolio-page__purposes-img
                +img('services', 'icon-design', 'svg', '250', '250', 'Дизайн')
                +img('svg', 'box-open', 'svg', '170', '124', 'Дизайн')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Дизайн')
            li
              .portfolio-page__purposes
                strong Сайт
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
              .portfolio-page__purposes-img
                +img('services', 'icon-tv', 'svg', '250', '250', 'Сайт')
                +img('svg', 'box-open', 'svg', '170', '124', 'Сайт')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Сайт')
            li
              .portfolio-page__purposes
                strong Воронка продаж
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
              .portfolio-page__purposes-img
                +img('services', 'icon-sales', 'svg', '250', '250', 'Воронка продаж')
                +img('svg', 'box-open', 'svg', '170', '124', 'Воронка продаж')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Воронка продаж')
            li
              .portfolio-page__purposes
                strong Seo
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
              .portfolio-page__purposes-img
                +img('services', 'icon-seo', 'svg', '250', '250', 'Сео')
                +img('svg', 'box-open', 'svg', '170', '124', 'Сео')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Сео')
            li
              .portfolio-page__purposes
                strong Контекст
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
              .portfolio-page__purposes-img
                +img('services', 'icon-context', 'svg', '250', '250', 'Контекст')
                +img('svg', 'box-open', 'svg', '170', '124', 'Контекст')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Контекст')
            li
              .portfolio-page__purposes
                strong Соцсети
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
              .portfolio-page__purposes-img
                +img('services', 'icon-social', 'svg', '250', '250', 'Соцсети')
                +img('svg', 'box-open', 'svg', '170', '124', 'Соцсети')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Соцсети')
            li
              .portfolio-page__purposes
                strong Видеомаркетинг
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
              .portfolio-page__purposes-img
                +img('services', 'icon-video', 'svg', '250', '250', 'Видеомаркетинг')
                +img('svg', 'box-open', 'svg', '170', '124', 'Видеомаркетинг')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Видеомаркетинг')
            li
              .portfolio-page__purposes
                strong Crm
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
              .portfolio-page__purposes-img
                +img('services', 'icon-crm', 'svg', '250', '250', 'Црм')
                +img('svg', 'box-open', 'svg', '170', '124', 'Црм')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Црм')
          h3 Результаты
          .portfolio-page__box-video
            <iframe src="https://www.youtube.com/embed/EeqPIAYPtiQ"></iframe>
          p Обновлённый удобный сайт, стал возвращать старых клиентов. Результаты по данной компании будут дополняться т.к. компания осталась на комплексное обслуживание.
          .portfolio-page__box-graph
            .portfolio-page__graph
               +img('png', 'graph-1', 'png', '295', '231', 'Трафик')
               p В первый же месяц трафик на сайте
                  span  увеличился на 30%
            .portfolio-page__graph
               +img('png', 'graph-2', 'png', '295', '231', 'Трафик')
               p За первый месяц без бюджета на рекламу привлекли
                  span  317 подписчиков
                  |  в Instagram
          .portfolio-page__box-info
            .portfolio-page__box-text
              p Посетить сайт
              a(href="#") www.vodadom.by
            .portfolio-page__box-button
              p Вам понравился проект?
              a.button.button--consultation(href="#")
                span Напишите нам
        .portfolio-page__breadcrumbs
          .portfolio-page__wrapper-breadcrumbs.container
            .portfolio-page__button-prev
              a(href="#")
              span Exim
            .portfolio-page__prev-portfolio
              a(href="#")
                +img('svg', 'icon-portfolio', 'svg', '38', '38', 'Портфолио')
                +img('svg', 'icon-portfolio-2', 'svg', '38', '38', 'Портфолио')
                span Назад в портфолио
            .portfolio-page__button-next
              a(href="#")
              span Yartruba
        .main-footer.portfolio-page__footer
          .main-footer__wrapper.container
            .main-footer__box
              .main-footer__box-image
                .main-footer__image
                  a(href='#')
                    +img('svg', 'logo', 'svg', '120', '43', 'Логотип')
                +footer-social
              span © 2019 - ∞
              p ООО "Дигитал Креатив Маркетинг"
            ul.main-footer__nav
              each item in footerNav
                li
                  a(href= item.link)= item.text
            .main-footer__contacts
              a.main-footer__link-location(href="#") ул. Калиновского 77а, офис 310
              a.main-footer__link-mail(href="mail:info@cmbox.by") info@cmbox.by
              .main-footer__link-box
                a.main-footer__link-phone(href="tel:+375296086368") +375 (29) 608-63-68
                +social-list

  section.modal.contacts.modal-consultation
    .modal-consultation__wrapper
      .contacts__form
        p Как нам с Вами связаться?
        form(id="form" action="#" method="get")
          .contacts__user-name
            input(id="user_name" type="text" name="user_name" required)
            label(for="user_name") Имя
          .contacts__user-tel
            input(id="user_phone" type="tel" name="user_phone" required)
            label(for="user_phone") Телефон
          .contacts__user-comment
            textarea(id="user_comment" name="user_comment")
            label(for="user_comment") Комментарий
          a(href="#").button.button-form-close
            span Отправить
      a.modal__btn-closed(href="#")
        span.visually-hidden Закрыть модальное окно
  section.modal.modal-thanks
    .modal__wrapper
      .modal__box
        h3 Ваша заявка отправлена!
        p В ближайшее время мы
          br
          | с вами свяжемся.
        a.button(href="#")
          span На главную
      .modal__image
        +img('svg', 'modals-check', 'svg', '190', '200', 'Элемент 2')
        +img('svg', 'modals-box', 'svg', '460', '200', 'Элемент 1')
      a.modal__btn-closed(href="#")
        span.visually-hidden Закрыть модальное окно
