extends ../layout/page-layout

block variables
  - var title = "Vodadom"

block header
  +header

block main
  main.orange
    section.portfolio-page
      .portfolio-page__wrapper.container
        .portfolio-page__box-image
          .portfolio-page__controls
            a(href="#")
              span.visually-hidden Вперед
            a(href="#")
              span.visually-hidden Назад
          .portfolio-page__image
            a(href="#")
              +img('jpg', 'image-vodadom', 'jpg', '340', '240', 'Водадом')
        .portfolio-page__box
          h1 Vodadom
          p Сайт для бурового предприятия в Беларуси
          .portfolio-page__scroll
            p Скролл для дальнейшей информации
            .portfolio-page__scroll-mouse
      .portfolio-page__company.gray-box
        .portfolio-page__title
          a(href="#")
            +img('svg', 'icon-left-arrow', 'svg', '48', '48', 'Вернуться в портфолио')
          h2 Портфолио
        .portfolio-page__info
          h3 Клиент
          p ЗАО «Эксимэлектро» за 17 лет работы успешно зарекомендовало себя на рынке Беларуси как поставщик качественной электротехнической продукции.
          p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
          p Они предлагают надежную, качественную, профессиональную продукцию для всех отраслей промышленности, включая сельское хозяйство, строительство и транспорт.
          h3 Проблема
          ul.portfolio-page__list-info
            li
              p Устаревший сайт со слабым функционалом
            li
              p Отсутствие всех видов продвижения
            li
              p Желание увеличить продажи и нарастить базу постоянных клиентов
          .portfolio-page__company-image
            +img('png', 'image-company-vodadom', 'png', '510', '420', 'Водадом')
            +img('svg', 'logo-vodadom', 'svg', '170', '110', 'Водадом')
          h3 Как мы реализовали
          ul.portfolio-page__list-purposes
            li
              .portfolio-page__purposes
                strong Аналитика
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
              .portfolio-page__purposes-img
                +img('services', 'icon-analytics', 'svg', '250', '250', 'Аналитика')
                +img('svg', 'box-open', 'svg', '170', '124', 'Аналитика')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Аналитика')
            li
              .portfolio-page__purposes
                strong Стратегия
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
              .portfolio-page__purposes-img
                +img('services', 'icon-strategy', 'svg', '250', '250', 'Стратегия')
                +img('svg', 'box-open', 'svg', '170', '124', 'Стратегия')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Стратегия')
            li
              .portfolio-page__purposes
                strong Дизайн
                p Компания является официальным дилером европейских производителей на территории РБ. Большой ассортимент позиций представлен в шоу руме. Европейское качество, подтвержденное многочисленными сертификатами. Положительный опыт использования на предприятиях на протяжении всего срока эксплуатации.
              .portfolio-page__purposes-img
                +img('services', 'icon-design', 'svg', '250', '250', 'Дизайн')
                +img('svg', 'box-open', 'svg', '170', '124', 'Дизайн')
                +img('svg', 'box-open-hover', 'svg', '170', '124', 'Дизайн')
              +img('png', 'image-company-1', 'png', '500', '232', 'Дизайн')
