extends ../layout/page-layout

block variables
  - var title = "Портфолио"

block header
  +header

block main

  -
    var blogList = [
      {
        path: 'png',
        image: 'blog-image-1',
        format: 'png',
        width: '370',
        height: '150',
        altText: '1 Карточка',
        textCard: 'Шаблон, который поможет регулярно писать статьи',
        timeText: '24 апреля 2020'
      },
      {
        path: 'png',
        image: 'blog-image-1',
        format: 'png',
        width: '370',
        height: '150',
        altText: '1 Карточка',
        textCard: 'Шаблон, который поможет регулярно писать статьи',
        timeText: '24 апреля 2020'
      },
      {
        path: 'png',
        image: 'blog-image-1',
        format: 'png',
        width: '370',
        height: '150',
        altText: '1 Карточка',
        textCard: 'Шаблон, который поможет регулярно писать статьи',
        timeText: '24 апреля 2020'
      },
      {
        path: 'png',
        image: 'blog-image-1',
        format: 'png',
        width: '370',
        height: '150',
        altText: '1 Карточка',
        textCard: 'Шаблон, который поможет регулярно писать статьи',
        timeText: '24 апреля 2020'
      },
      {
        path: 'png',
        image: 'blog-image-1',
        format: 'png',
        width: '370',
        height: '150',
        altText: '1 Карточка',
        textCard: 'Шаблон, который поможет регулярно писать статьи',
        timeText: '24 апреля 2020'
      },
      {
        path: 'png',
        image: 'blog-image-1',
        format: 'png',
        width: '370',
        height: '150',
        altText: '1 Карточка',
        textCard: 'Шаблон, который поможет регулярно писать статьи',
        timeText: '24 апреля 2020'
      },
    ];

  main.gray-box
    section.portfolio
      h1 Портфолио
      .portfolio__wrapper.container
        +tabs
        +tags
        .portfolio__box
          ul.portfolio__list
            li
              a(href='portfolio-page.html')
                .portfolio__box-card
                  .portfolio__card
                    .portfolio__card-perspective(style='background-image: url(assets/img/portfolio/bg-exim.svg);')
                      .portfolio__image
                        +img('portfolio', 'img-exim', 'jpg', '340', '240', 'Интернет-магазин')
                      .portfolio__text
                        h2 Exim.by
                        p Интернет-магазин
            li
              a(href='portfolio-page.html').portfolio-modal-js
                .portfolio__box-card.portfolio__box-card--project
                  .portfolio__card
                    .portfolio__card-perspective(style='background-image: url(assets/img/portfolio/bg-yartruba.svg);')
                      .portfolio__image
                        p Место для вашего проекта
                      .portfolio__text
                        button(type="button").button
                          span Оставить заявку

block footer
  +footer

  section.modal.contacts.modal-consultation
    .modal-consultation__wrapper
      .contacts__form
        h3 Заказать проект
        form(id="form" action="#" method="get")
          .modal__user-name
            input(id="user_name" type="text" name="user_name" required)
            label(for="user_name") Имя
          .modal__user-phone
            input(id="user_phone" type="tel" name="user_phone" required)
            label(for="user_phone") Телефон
          .modal__user-comment
            textarea(id="user_comment" name="user_comment")
            label(for="user_comment") Комментарий
          a(href="#").button
            span Отправить
      a.modal__btn-closed(href="#")
        span.visually-hidden Закрыть модальное окно

  section.modal.modal-development
    .modal__wrapper
      .modal__box
        h3 Проект находится на стадии реализации!
        p Оставайтесь с нами, чтобы увидеть как мы делали новый проект. А пока ознакомьтесь с нашими другими реализованными проектами.
        a.button(href="#")
          span Портфолио
      .modal__image
        +img('svg', 'modals-service', 'svg', '190', '200', 'Элемент 2')
        +img('svg', 'modals-box', 'svg', '460', '200', 'Элемент 1')
      a.modal__btn-closed(href="#")
        span.visually-hidden Закрыть модальное окно
