extends ../layout/page-layout

block variables
  - var title = "Соцсети"

block header
  +header

block main

  -
    const boxesList = [
      {
        link: 'services-site.html',
        path: 'services',
        name: 'box-site',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Сайт'
      },
      {
        link: 'services-sales.html',
        path: 'services',
        name: 'box-sales',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Воронка продаж'
      },
      {
        link: 'services-seo.html',
        path: 'services',
        name: 'box-seo',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
      {
        link: 'services-context.html',
        path: 'services',
        name: 'box-contecst',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
      {
        link: 'services-social.html',
        path: 'services',
        name: 'box-social',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
      {
        link: 'services-marketing.html',
        path: 'services',
        name: 'box-marketing',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
      {
        link: 'services-crm.html',
        path: 'services',
        name: 'box-crm',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
    ];

  -
    const servicesList = [
      {
        text: 'воронка продаж'
      },
      {
        text: 'видео-контент'
      },
      {
        text: 'лид-магнит'
      },
      {
        text: 'чат-боты'
      },
      {
        text: 'smm'
      },
      {
        text: 'crm'
      }
    ];

  main
    section.services
      .services__wrapper.container
        h1 Услуги
      .services__box
        ul.services__boxes-list
          each item in boxesList
            li
              a(href= item.link)
                +img(item.path, item.name, item.format, item.width, item.height, item.altText)
        .services__box-images
          .services__image
            +img('services', 'icon-social', 'svg', '250', '250', 'Соцсети')
          .services__boxes
            +img('services', 'big-box-active', 'svg', '640', '380', 'Коробка')
            +img('services', 'big-box-hover', 'svg', '640', '380', 'Коробка')
        .services__box-text.services__box-text--ssm
          h2 Спланируем и запустим продвижение в социальных сетях и Youtube
          .services__text
            p С развитием скоростного интернета и мобильных устройств, просмотр видео стало одним из самых популярных развлечений в интернете. Из-за чего большинство людей перестало читать статьи, и переключились на просмотр видео.
          .services__text.services__text-box--2.services__text-light--gray
            p
              span Youtube
              |  сейчас это эффективный и пока не дорогой инструмент маркетинга.
            p Видео очень плотно связано с
              span  маркетингом в социальных сетях,
              |  так как большая часть аудитории именно там.
          .services__text
            h3 SSM
              br
              | (Social Media Marketing)
            p — маркетинг в социальных сетях достаточно эффективен, даёт возможность анализа покупателя и составления стратегии таргетинговой рекламы, это приводит к
              span  уменьшению бюджетов и большей результативности.

block footer
  +footer
