extends ../layout/page-layout

block variables
  - var title = "Услуги"

block header
  +header

block main

  -
    const boxesList = [
      {
        link: '#',
        text: 'Сайт',
        path: 'boxes',
        name: 'box-close',
        format: 'svg',
        width: '230',
        height: '200',
        altText: 'Сайт'
      },
      {
        link: '#',
        text: 'Воронка продаж',
        path: 'boxes',
        name: 'box-close',
        format: 'svg',
        width: '230',
        height: '200',
        altText: 'Воронка продаж'
      },
      {
        link: '#',
        text: 'Seo',
        path: 'boxes',
        name: 'box-close',
        format: 'svg',
        width: '230',
        height: '200',
        altText: 'Seo'
      },
    ];

  main
    .services
      .services__wrapper.container
        h1 Услуги
    .services__boxes-nav
      ul.services__boxes-list
        each item in boxesList
          li
            a(href= item.link)
              span.services__boxes-text= item.text
              +img(item.path, item.name, item.format, item.width, item.height, item.altText)
block footer
  +footer
