extends ../layout/page-layout

block variables
  - var title = "SEO"

block header
  +header

block main
  -
    var servicesList = [
      {
        text: 'Технический анализ.'
      },
      {
        text: 'Анализ юзабилити сайта. Необходимо для поисковых систем, учитывающих поведенческие факторы при определении вашей позиции в поисковой выдаче.'
      },
      {
        text: 'Сбор семантического ядра – набора ключевых слов, которые соответствуют вашей тематике.'
      },
      {
        text: 'Анализ, изменение текстов со внесением в них ключевых слов.'
      },
      {
        text: 'Распределение веса посадочных страниц, возможно, добавление новых.'
      },
      {
        text: 'Контроль за поведенческими факторами пользователей на сайте и их совершенствование.'
      }
    ];

  main.gray-box
    section.services
      +breadcrumbs
      h1 Услуги
      .services__box
        .services__nav-box
          ul
            li
              a.services__link-active(href="#")
                +img('services/services-nav', 'box-close', 'svg', '30', '30', '1 Элемент')
                +img('services/services-nav', 'box-open', 'svg', '30', '30', '2 Элемент')
                +img('services/services-nav', 'box-close-hover', 'svg', '30', '30', '3 Элемент')
                | Аналитика
                +img('services/services-nav', 'analytic-icon', 'svg', '30', '30', '4 Элемент')
                +img('services/services-nav', 'analytic-icon-active', 'svg', '30', '30', '5 Элемента')
            li
              a(href="#")
                +img('services/services-nav', 'box-close', 'svg', '30', '30', '1 Элемент')
                +img('services/services-nav', 'box-open', 'svg', '30', '30', '2 Элемент')
                +img('services/services-nav', 'box-close-hover', 'svg', '30', '30', '3 Элемент')
                | Дизайн
                +img('services/services-nav', 'design-icon', 'svg', '30', '30', '4 Элемент')
                +img('services/services-nav', 'design-icon-active', 'svg', '30', '30', '5 Элемент')
            li
              a(href="#")
                +img('services/services-nav', 'box-close', 'svg', '30', '30', '1 Элемент')
                +img('services/services-nav', 'box-open', 'svg', '30', '30', '2 Элемент')
                +img('services/services-nav', 'box-close-hover', 'svg', '30', '30', '3 Элемент')
                | Стратегия
                +img('services/services-nav', 'strategy-icon', 'svg', '30', '30', '4 Элемент')
                +img('services/services-nav', 'strategy-icon-active', 'svg', '30', '30', '5 Элемент')
            li
              a(href="#")
                +img('services/services-nav', 'box-close', 'svg', '30', '30', '1 Элемент')
                +img('services/services-nav', 'box-open', 'svg', '30', '30', '2 Элемент')
                +img('services/services-nav', 'box-close-hover', 'svg', '30', '30', '3 Элемент')
                | Видеомаркетинг
                +img('services/services-nav', 'video-icon', 'svg', '30', '30', '4 Элемент')
                +img('services/services-nav', 'video-icon-active', 'svg', '30', '30', '5 Элемент')
            li
              a(href="#")
                +img('services/services-nav', 'box-close', 'svg', '30', '30', '1 Элемент')
                +img('services/services-nav', 'box-open', 'svg', '30', '30', '2 Элемент')
                +img('services/services-nav', 'box-close-hover', 'svg', '30', '30', '3 Элемент')
                | Воронка продаж
                +img('services/services-nav', 'sale-icon', 'svg', '30', '30', '4 Элемент')
                +img('services/services-nav', 'sale-icon-active', 'svg', '30', '30', '5 Элемент')
        .services__box-images
          .services__image
            +img('services', 'icon-seo', 'svg', '220', '220', 'Seo')
          .services__boxes
            +img('services', 'big-box-active', 'svg', '640', '380', 'Коробка')
            +img('services', 'big-box-hover', 'svg', '640', '380', 'Коробка')
        .services__box-text
          .services__data
            h3 Хочешь проверить свое SEO?
            .services__data-text
              p Базовый анализ ваших маркетинговых инструментов
                strong  по цене чашки кофе
              a.button.analysis-btn(href="#")
                span Заказать
            .services__image-seo
              +picture('png', 'image-seo', 'image-seo-tablet', 'image-seo-mobile', 'png', '1050', '170', 'Реклама', '1023', '767')
      .services__price
        h3 Тарифы для Беларуси, России и СНГ
        ul.services__price-grid
          li
            article
              .services__price-box
                strong Старт
                .services__price-text
                  .services__span
                    span 450 byn
                  .services__span
                    span 13000 rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p До
                        strong  100
                        |  запросов
                  li
                    .services__price-tooltip
                      p Изучение конкурентов
                  li
                    .services__price-tooltip
                      p Создание SEO стратегии
                  li
                    .services__price-tooltip
                      p
                        strong 1 ссылка
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Разработка
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Разработка
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Маркетолог
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Дизайнер
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Копирайтер
                        strong  до 1000
                        |  символов в месяц
                  li
                    .services__price-tooltip
                      p Развернутый отчёт
                a.button.services-modal-js(href="#")
                  span Заказать
          li
            article
              .services__price-box
                strong Старт
                .services__price-text
                  .services__span
                    span 450 byn
                  .services__span
                    span 13000 rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p До
                        strong  100
                        |  запросов
                  li
                    .services__price-tooltip
                      p Изучение конкурентов
                  li
                    .services__price-tooltip
                      p Создание SEO стратегии
                  li
                    .services__price-tooltip
                      p
                        strong 1 ссылка
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Разработка
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Разработка
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Маркетолог
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Дизайнер
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Копирайтер
                        strong  до 1000
                        |  символов в месяц
                  li
                    .services__price-tooltip
                      p Развернутый отчёт
                a.button.services-modal-js(href="#")
                  span Заказать
          li
            article
              .services__price-box
                strong Старт
                .services__price-text
                  .services__span
                    span 450 byn
                  .services__span
                    span 13000 rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p До
                        strong  100
                        |  запросов
                  li
                    .services__price-tooltip
                      p Изучение конкурентов
                  li
                    .services__price-tooltip
                      p Создание SEO стратегии
                  li
                    .services__price-tooltip
                      p
                        strong 1 ссылка
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Разработка
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Разработка
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Маркетолог
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Дизайнер
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Копирайтер
                        strong  до 1000
                        |  символов в месяц
                  li
                    .services__price-tooltip
                      p Развернутый отчёт
                a.button.services-modal-js(href="#")
                  span Заказать
          li
            article
              .services__price-box
                strong Старт
                .services__price-text
                  .services__span
                    span 450 byn
                  .services__span
                    span 13000 rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p До
                        strong  100
                        |  запросов
                  li
                    .services__price-tooltip
                      p Изучение конкурентов
                  li
                    .services__price-tooltip
                      p Создание SEO стратегии
                  li
                    .services__price-tooltip
                      p
                        strong 1 ссылка
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Разработка
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Разработка
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Маркетолог
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Дизайнер
                        strong  до 1 часа
                        |  в месяц
                  li
                    .services__price-tooltip
                      p Копирайтер
                        strong  до 1000
                        |  символов в месяц
                  li
                    .services__price-tooltip
                      p Развернутый отчёт
                a.button.services-modal-js(href="#")
                  span Заказать
        .services__price-text2
          +img('svg', 'image-price', 'svg', '80', '80', 'Ключевые параметры')
          p Гарантируем повышение ключевых параметров в позициях или вернем деньги.
      .services-keys
        h3 Кейсы по продвижению сайтов
        .services-keys__box
          article
            .services-keys__text
              strong Сайт:
                a(href="#")  domlaminata.by
              p
                strong Тематика проекта:
                |  Продажа ламината
              p
                strong Регион продаж:
                |  Беларусь
              p
                strong Результат по трафику:
                |  Количество переходов из поисковых систем увеличилось с 60 до 300 человек в неделю
            .services-keys__image
              +img('png', 'image-1', 'png', '310', '150', 'График')
            table
              tr
                th Запрос
                td
                  +img('png', 'icon-google', 'png', '50', '18', 'Google')
                td
                  +img('png', 'icon-yandex', 'png', '50', '18', 'Yandex')
              tr
                td Ламинат выезд с образцами
                td 1
                td 1
              tr
                td Магазин ламината
                td 2
                td 2
              tr
                td Ламинат оптом
                td 8
                td 5
              tr
                td Распродажа ламината
                td 8
                td 7
          article
            .services-keys__text
              strong Сайт:
                a(href="#")  exim.by
              p
                strong Тематика проекта:
                |  Продажа инструментов
              p
                strong Регион продаж:
                |  Беларусь
              p
                strong Результат по трафику:
                |  Количество переходов из поисковых систем увеличилось с 100 до 1000 человек в неделю
            .services-keys__image
              +img('png', 'image-2', 'png', '310', '150', 'График')
            table
              tr
                th Запрос
                td
                  +img('png', 'icon-google', 'png', '50', '18', 'Google')
                td
                  +img('png', 'icon-yandex', 'png', '50', '18', 'Yandex')
              tr
                td Cimco Минск
                td 1
                td 1
              tr
                td Торцевой фиксатор
                td 10
                td 2
              tr
                td Кабель для зарядки электромобиля
                td 10
                td 3
              tr
                td Бирки маркировочные
                td 10
                td 4
          article
            .services-keys__text
              strong Сайт:
                a(href="#")  grossprof.by
              p
                strong Тематика проекта:
                |  Услуги бухгалтера и налоговых консультантов
              p
                strong Регион продвижения:
                |  Минск
            .services-keys__image
              +img('png', 'image-3', 'png', '310', '150', 'График')
            table
              tr
                th Запрос
                td
                  +img('png', 'icon-google', 'png', '50', '18', 'Google')
                td
                  +img('png', 'icon-yandex', 'png', '50', '18', 'Yandex')
              tr
                td Сопровождение проверок контролирующих органов
                td 8
                td 1
              tr
                td Консультация по налогам для физ лиц
                td 10
                td 6
              tr
                td Консультация по налогам для физ лиц
                td 8
                td 9
      .services__info
        article
          h3 Необходимо заказать SEO у нас, если:
          ul
            li: p Вы не можете найти себя в поиске.
            li: p Вы готовы работать на перспективу, SEO продвижение дает долгосрочный эффект.
            li: p Вы не занимаете ТОП-позиции в поисковой выдаче.
            li: p Вы получаете мало трафика на сайт.
            li: p Мало продаж.
        article
          +img('stage-design', 'image-element-10', 'svg', '225', '115')
          +img('stage-design', 'image-element-11', 'svg', '225', '115')
          +img('svg', 'image-element-mobile', 'svg', '240', '200')
      .services__info-1
        h3 Преимущества заказа SEO в CMBOX:
        .services__info-list
          article
            +img('services/icon-services', 'icon-cash', 'svg', '200', '130', 'Продаём сайты')
            strong Делаем сайт продающим
            p Мы не только оптимизируем сайт под поисковые системы, но и делаем его  продающим, используя комплексный подход к продвижению.
          article
            +img('services/icon-services', 'icon-product', 'svg', '200', '130', 'Продвигаем сайты')
            strong Продвигаем любые сайты
            p Работаем с бизнесом любого масштаба. Наш подход одинаково эффективно позволяет продвигать любые продукты или услуги.
          article
            +img('services/icon-services', 'icon-pin-big', 'svg', '200', '130', 'Клиенты из разных стран')
            strong Клиенты из разных стран
            p Офис нашего агентства находится в Минске. Нашими клиентами являются компании из Беларуси, России, Казахстана, Польши и др.
          article
            +img('services/icon-services', 'icon-diagram', 'svg', '200', '130', 'Результаты в цифрах')
            strong Результаты в цифрах
            p Предоставляем понятные ежемесячные отчеты о результатах, проделанной нами работы в цифрах.
          article
            +img('services/icon-services', 'icon-partners', 'svg', '200', '130', 'Анти-конвейер')
            strong Анти-конвейер
            p Мы нацелены на долгосрочное сотрудничество, поэтому выбираем качество, а не количество.
          article
            +img('services/icon-services', 'icon-rocket', 'svg', '200', '130', 'Следим за трендами')
            strong Следим за трендами
            p Для достижения лучших результатов мы используем эффективные и современные инструменты продвижения.
        .feedback-slider
          h3 Отзывы
          .feedback-slider__wrapper
            .feedback-slider__swiper-container.swiper-container
              ul.swiper-wrapper
                li.swiper-slide
                  .youtube(data-embed="dwJodFnhzNk")
                  //iframe(src="https://www.youtube.com/embed/dwJodFnhzNk?&enablejsapi=1" allowfullscreen)
                li.swiper-slide
                  iframe(src="https://www.youtube.com/embed/dwJodFnhzNk?&enablejsapi=1" allowfullscreen)
                li.swiper-slide
                  iframe(src="https://www.youtube.com/embed/dwJodFnhzNk?&enablejsapi=1" allowfullscreen)
              .feedback-slider__swiper-button-prev.swiper-button-prev
              .feedback-slider__swiper-button-next.swiper-button-next
        .services__info-text
          h3 Зачем SEO продвижение?
          p Сейчас продвижение сайта – это одна из самых важных частей эффективных продаж в Интернете.
            strong  Если вы не продвигаетесь, о вас мало кто узнает.
          p Грамотно настроенное СЕО выведет вас в ТОП Яндекс, Google и других поисковиков. 85% людей не доходят дальше второй страницы по интересующему их запросу – раскрутка сайта делает вас видимым для целевой аудитории. Что увеличит поступаемый трафик – количество целевой аудитории, которой интересен ваш контент. Произойдет стабильный рост количества заявок. При правильной обработке этих заявок вашими специалистами, вы отметите рост продаж. А также это повысит узнаваемость вашего бренда, что запустит «сарафанное радио»: вас будут чаще советовать. В итоге, прибыль гарантированно увеличится.
          h3 Этапы SEO-продвижения
          strong 1. Разработка SEO-стратегии
          strong 2. Внутренняя оптимизация и продвижение сайта:
          ul
            li: p Технический анализ.
            li: p Анализ юзабилити сайта. Необходимо для поисковых систем, учитывающих поведенческие факторы при определении вашей позиции в поисковой выдаче.
            li: p Сбор семантического ядра из списка ключевых слов, подходящих вам.
            li: p Анализ, изменение текстов со внесением в них ключевых слов.
            li: p Распределение веса посадочных страниц, возможно, добавление новых.
            li: p Контроль за поведенческими факторами пользователей на сайте и их совершенствование.
          strong 3. Внешняя оптимизация и продвижение сайта:
          p
            strong Анализ конкурентов и их места в поиске.
          p
            strong Внедрение изменений на основе аналитики конкурентов.
          p
            strong Анализ позиций вашего бизнеса по составленному семантическому ядру.
          p
            strong Анализ и работа с вашим ссылочным профилем.
          strong 4. Анализирование результатов:
          p
            strong Оценка эффективности, которые дают понимание, что SEO продвижение приносит результаты, помогает достигать намеченные цели.
          p
            strong Прогноз дальнейшей динамики развития.
          h3 Основные отличия SEO от контекстной рекламы:
          p
            strong Раскрутка сайта, которая привлекает целевую аудиторию за счет расположения на первых страницах в поиске без значка «реклама». Что не вызывает негатива, в отличие от перехода по рекламным объявлениям.
          p
            strong При остановке работ по SEO вы резко не пропадаете с топовых позиций в выдаче, это происходит плавно и некоторое время сохраняется результат.
          p
            strong Постоянное совершенствование, которое положительно скажется на развитии вашего бизнеса и даст возможность удешевлять платную рекламу.
          p Получается, что оптимизация и продвижение сайта дают вам конкурентное преимущество. Вы готовы отдать своих клиентов тем конкурентам, которые уже настроили SEO? Если нет, используйте все возможные точки роста, чтобы превзойти всех!
          h3 Сроки
          p Скорость получения результатов от продвижения сайта зависит в основном от вашего региона, конкуренции в нише, возраста сайта, количества запросов в семантическом ядре, текущих позиций в поиске, если вы уже пытались продвигаться.
          p Обычно,
            strong  первые результаты от SEO заметны после 3-5 недель,
            |  так работают алгоритмы Яндекс и Google. А ощутимый результат появляется уже после 3 месяца активной работы. Если вы готовы работать на перспективу, то это принесет вам результаты: ТОП-позиции в выдаче, целевую аудиторию, рост продаж и прибыли вашего бизнеса.
          h3 CMbox - это:
          span Опытные специалисты.
          span Сплоченная командная работа. В данной услуге участвуют: SEO- специалист, маркетолог, дизайнер, копирайтер, разработчик.
          span Справедливая цена.
        .services__slider
          h3 Примеры нашего видеомаркетинга для сайтов:
          .services__slider-wrapper
            .services__swiper-container.swiper-container
              ul.swiper-wrapper
                li.swiper-slide
                  iframe(src="https://www.youtube.com/embed/egRMfkc56iI?&enablejsapi=1" allowfullscreen)
                li.swiper-slide
                  iframe(src="https://www.youtube.com/embed/egRMfkc56iI?&enablejsapi=1" allowfullscreen)
                li.swiper-slide
                  iframe(src="https://www.youtube.com/embed/egRMfkc56iI?&enablejsapi=1" allowfullscreen)
              .services__swiper-button-prev.swiper-button-prev
              .services__swiper-button-next.swiper-button-next
        .services__box-portfolio.container
          h2 Примеры работ вы можете посмотреть на странице
            a(href="#")  Портфолио

block footer
  +footer

  section.contacts.modal.modal-services-order
    .modal__wrapper
      .contacts__form
        p Как с Вами связаться?
        form(id="form-services-order" action="#" method="get")
          .modal__user-name
            input(id="user_name" type="text" name="user_name" required)
            label(for="user_name") Имя
          .modal__user-phone
            input(id="user_phone" type="tel" name="user_phone" required)
            label(for="user_phone") Телефон
          .modal__user-email
            input(id="user_email" type="tel" name="user_email")
            label(for="user_email") Email
          .modal__user-comment
            textarea(id="user_comment" name="user_comment")
            label(for="user_comment") Комментарий
          button.button(type="submit")
            span Отправить
      a.modal__btn-closed(href="#")
        span.visually-hidden Закрыть модальное окно
