extends ../layout/page-layout

block variables
  - var title = "Воронка продаж"

block header
  +header

block main

  -
    const boxesList = [
      {
        link: 'services-site.html',
        path: 'services',
        name: 'box-site',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Сайт'
      },
      {
        link: 'services-sales.html',
        path: 'services',
        name: 'box-sales',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Воронка продаж'
      },
      {
        link: 'services-seo.html',
        path: 'services',
        name: 'box-seo',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
      {
        link: 'services-context.html',
        path: 'services',
        name: 'box-contecst',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
      {
        link: 'services-social.html',
        path: 'services',
        name: 'box-social',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
      {
        link: 'services-marketing.html',
        path: 'services',
        name: 'box-marketing',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
      {
        link: 'services-crm.html',
        path: 'services',
        name: 'box-crm',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
    ];

  -
    const servicesList = [
      {
        text: 'воронка продаж'
      },
      {
        text: 'видео-контент'
      },
      {
        text: 'лид-магнит'
      },
      {
        text: 'чат-боты'
      },
      {
        text: 'smm'
      },
      {
        text: 'crm'
      }
    ];

  -
    const servicesList2 = [
      {
        text: 'WordPress'
      },
      {
        text: '1C-Bitrix'
      },
      {
        text: 'Laravel'
      },
    ];

  -
    const advantagesList = [
      {
        text: 'Подходит многим бизнесам, наверняка ваш товар или услугу тоже ищут в Интернете.'
      },
      {
        text: 'Приведет именно потенциальных покупателей на сайт: показывается только вашей целевой аудитории за счет правильной настройки, подбора ключевых слов.'
      },
      {
        text: 'Сэкономит вам время, так как начнет работать и приводить потенциальных покупателей сразу после запуска.'
      },
      {
        text: 'Позволит вернуть пользователей, которые уже были у вас на сайте, но не оформили покупку по каким-то причинам. Это можно выполнить через сервисы Google AdWords и Яндекс.Директ.'
      },
      {
        text: 'Эффективность можно измерить, в отличие от продвижения на телевидении, на щитах или в лифтах. Можно сосчитать стоимость привлечения одного клиента, понять, какая кампания приносит наибольшее количество прибыли, окупаются ли инвестиции. Таким образом, можно повышать ее эффективность.'
      },
    ];

  -
    const serviceList = [
      {
        text: 'Подготовительный этап: анализ вашей целевой аудитории, анализ конкурентов, анализ рекламируемых продуктов или услуг, определение их преимуществ.'
      },
      {
        text: 'Определение стратегии продвижения, показателей эффективности.'
      },
      {
        text: 'Настройка контекстной рекламы в поисковой выдаче Яндекс и Google.'
      },
      {
        text: 'Медийная реклама в поисковых системах Google и Яндекс.'
      },
      {
        text: 'Настройка ремаркетинга и ретаргетинга – показа рекламных объявлений аудитории, которая уже просматривала ваш сайт, но не совершила покупку.'
      },
      {
        text: 'Проведение аналитики в Яндекс.Метрике, Google Analytics, своевременное реагирование на изменения, оптимизация при необходимости.'
      },
      {
        text: 'Отчеты в цифрах о проделанной работе.'
      },
    ];

  -
    const advertisingList = [
      {
        text: 'Мы видим полную картину вашего бизнеса, потому что являемся маркетинговым агентством комплексного продвижения.'
      },
      {
        text: 'Максимально эффективно расходуем ваш рекламный бюджет за счет постоянного анализа и своевременной корректировки.'
      },
      {
        text: 'Проводим тщательный анализ вас, конкурентов перед началом продвижения, чтобы знать, как выгодно выделить ваше предложение.'
      },
      {
        text: 'Наша задача – это увеличить прибыльность вашего бизнеса за счет привлечения новых клиентов.'
      },
    ];

  main.page-main
    section.services
      .services__box-wrapper
        .services__wrapper.container
          h1 Услуги
        .services__box
          ul.services__boxes-list
            each item in boxesList
              li
                a(href= item.link)
                  +img(item.path, item.name, item.format, item.width, item.height, item.altText)
          .services__box-images
            .services__image
              +img('services', 'icon-context', 'svg', '250', '250', 'Контекст')
            .services__boxes
              +img('services', 'big-box-active', 'svg', '640', '380', 'Коробка')
              +img('services', 'big-box-hover', 'svg', '640', '380', 'Коробка')
          .services__box-text
            h2 Запустим эффективное продвижение через контекст
            .services__text.services__text-light--gray
              p Это интернет-реклама в виде объявлений в Яндекс, Google. Она помогает увеличить количество клиентов, повысить продажи, дает возможность настраиваться на целевую аудиторию, ведь мы указываем, по каким ключевым словам показывать рекламные объявления. А также можно скорректировать аудиторию по полу, возрасту и другим социальным факторам, а платить за показ или клик по объявлению. Рекламные объявления конкурируют друг с другом за очередность в выдаче, и чем больше их в одной нише, тем больше стоимость клика по ним или показа. Но не всегда выше показывают объявления рекламодателей, готовых платить больше других. На это влияет уровень качественности объявления, его кликабельность и многое другое. Все это учитывают наши специалисты, чтобы создать максимально эффективное объявление.
        .services__info
          h2 Преимущества контекстной рекламы:
          ul.services__text-list
            each item in advantagesList
              li
                p= item.text
          h2 Что входит в услугу:
          ul.services__text-list
            each item in serviceList
              li
                p= item.text
          h2 Почему стоит заказать контекстную рекламу в CMBox:
          ul.services__text-list
            each item in advertisingList
              li
                p= item.text
          h2 Стоимость контекстной рекламы
          p Цена контекстной рекламы в Google AdWords и Яндекс.Директ зависит от целей конкретного бизнеса, количества ключевых слов, региона, объёма работ. Обращайтесь, мы с радостью сделаем вам точный расчет с учетом специфики бизнеса.

block footer
  +footer
