extends ../layout/page-layout

block variables
  - var title = "SEO"
  - var activePage = 5

block header
  +header

block main

  -
    var boxesList = [
      {
        link: 'services-analytics.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Аналитика',
        text: 'Аналитика',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-strategy.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Стратегия',
        text: 'Стратегия',
        iconPath: 'svg',
        iconName: 'icon-strategy',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-design.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Дизайн',
        text: 'Дизайн',
        iconPath: 'svg',
        iconName: 'icon-design',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-site.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Сайт',
        text: 'Сайт',
        iconPath: 'svg',
        iconName: 'icon-site',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-sales.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Воронка продаж',
        text: 'Воронка продаж',
        iconPath: 'svg',
        iconName: 'icon-sale',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-seo.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Seo',
        text: 'Seo',
        iconPath: 'svg',
        iconName: 'icon-seo',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-context.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Контекст',
        text: 'Контекст',
        iconPath: 'svg',
        iconName: 'icon-contecst',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-social.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Соцсети',
        text: 'Соцсети',
        iconPath: 'svg',
        iconName: 'icon-social',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-marketing.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Видео-маркетинг',
        text: 'Видео-маркетинг',
        iconPath: 'svg',
        iconName: 'icon-video',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-crm.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Crm',
        text: 'Crm',
        iconPath: 'svg',
        iconName: 'icon-crm',
        iconWidth: '48',
        iconHeight: '48'
      },
    ];

  -
    var servicesList = [
      {
        text: 'Технический анализ.'
      },
      {
        text: 'Анализ юзабилити сайта. Необходимо для поисковых систем, учитывающих поведенческие факторы при определении вашей позиции в поисковой выдаче.'
      },
      {
        text: 'Сбор семантического ядра – набора ключевых слов, которые соответствуют вашей тематике.'
      },
      {
        text: 'Анализ, изменение текстов со внесением в них ключевых слов.'
      },
      {
        text: 'Распределение веса посадочных страниц, возможно, добавление новых.'
      },
      {
        text: 'Контроль за поведенческими факторами пользователей на сайте и их совершенствование.'
      }
    ];

  main.gray-box
    section.services
      .services__box-wrapper
        h1 Услуги
        .services__box
          .services__nav-box
            ul.services__boxes-list
              each item, index in boxesList
                if (index === activePage)
                  li
                    a(href= item.link).services__link-active
                      span= item.text
                      +img(item.path, item.name, item.format, item.width, item.height, item.altText)
                      +img(item.iconPath, item.iconName, item.format, item.iconWidth, item.iconHeight, item.altText)
                else
                  li
                    a(href= item.link)
                      span= item.text
                      +img(item.path, item.name, item.format, item.width, item.height, item.altText)
                      +img(item.iconPath, item.iconName, item.format, item.iconWidth, item.iconHeight, item.altText)
          .services__box-images
            .services__image
              +img('services', 'icon-seo', 'svg', '220', '220', 'Seo')
            .services__boxes
              +img('services', 'big-box-active', 'svg', '640', '380', 'Коробка')
              +img('services', 'big-box-hover', 'svg', '640', '380', 'Коробка')
          .services__box-text
            h2 Seo продвижение
            .services__text
              p Прежде, чем говорить о преимуществах, стоит объяснить, что означает
                strong  SEO.
                |  Это поисковая оптимизация и продвижение сайта, которые выводят в топовые позиции органической выдачи Яндекс, Google и других поисковиков.
              p
                strong Органическая выдача
                |  – это естественная часть выдачи в поисковиках Яндекс, Google и других, не являющаяся рекламной. То есть, вы попадаете в ТОП-позиции органической выдачи при условии максимального совпадения контента сайта с запросом пользователя.
              p Существует больше 500 факторов, которые влияют на органическую выдачу. При настройке SEO достаточно учесть основные из таких факторов, чтобы эффективно конкурировать в вашей нише бизнеса.
        .services__info
          article
            h3 Необходимо заказать SEO у нас, если:
            p Вы не можете найти себя в поиске.
            p Вы готовы работать на перспективу, SEO продвижение дает долгосрочный эффект.
            p Вы не занимаете ТОП-позиции в поисковой выдаче.
            p Вы получаете мало трафика на сайт.
            p Мало продаж.
          article
            +img('stage-design', 'image-element-10', 'svg', '225', '115')
            +img('stage-design', 'image-element-11', 'svg', '225', '115')
            +img('svg', 'image-element-mobile', 'svg', '240', '200')
        .services__info-1
          h3 Преимущества заказа SEO в CMBOX:
          .services__info-list
            article
              +img('svg', 'icon-cash', 'svg', '200', '130', 'Продаём сайты')
              strong Делаем сайт продающим
              p Мы не только оптимизируем сайт под поисковые системы, но и делаем его  продающим, используя комплексный подход к продвижению.
            article
              +img('svg', 'icon-product', 'svg', '200', '130', 'Продвигаем сайты')
              strong Продвигаем любые сайты
              p Работаем с бизнесом любого масштаба. Наш подход одинаково эффективно позволяет продвигать любые продукты или услуги.
            article
              +img('svg', 'icon-pin-big', 'svg', '200', '130', 'Клиенты из разных стран')
              strong Клиенты из разных стран
              p Офис нашего агентства находится в Минске. Нашими клиентами являются компании из Беларуси, России, Казахстана, Польши и др.
            article
              +img('svg', 'icon-diagram', 'svg', '200', '130', 'Результаты в цифрах')
              strong Результаты в цифрах
              p Предоставляем понятные ежемесячные отчеты о результатах, проделанной нами работы в цифрах.
            article
              +img('svg', 'icon-partners', 'svg', '200', '130', 'Анти-конвейер')
              strong Анти-конвейер
              p Мы нацелены на долгосрочное сотрудничество, поэтому выбираем качество, а не количество.
            article
              +img('svg', 'icon-rocket', 'svg', '200', '130', 'Следим за трендами')
              strong Следим за трендами
              p Для достижения лучших результатов мы используем эффективные и современные инструменты продвижения.
          .services__info-text
            h3 Зачем SEO продвижение?
            p Сейчас продвижение сайта – это одна из самых важных частей эффективных продаж в Интернете.
              strong  Если вы не продвигаетесь, о вас мало кто узнает.
            p Грамотно настроенное СЕО выведет вас в ТОП Яндекс, Google и других поисковиков. 85% людей не доходят дальше второй страницы по интересующему их запросу – раскрутка сайта делает вас видимым для целевой аудитории. Что увеличит поступаемый трафик – количество целевой аудитории, которой интересен ваш контент. Произойдет стабильный рост количества заявок. При правильной обработке этих заявок вашими специалистами, вы отметите рост продаж. А также это повысит узнаваемость вашего бренда, что запустит «сарафанное радио»: вас будут чаще советовать. В итоге, прибыль гарантированно увеличится.
            h3 Этапы SEO-продвижения
            strong 1. Разработка SEO-стратегии
            strong 2. Внутренняя оптимизация и продвижение сайта:
            span Технический анализ.
            span Анализ юзабилити сайта. Необходимо для поисковых систем, учитывающих поведенческие факторы при определении вашей позиции в поисковой выдаче.
            span Сбор семантического ядра из списка ключевых слов, подходящих вам.
            span Анализ, изменение текстов со внесением в них ключевых слов.
            span Распределение веса посадочных страниц, возможно, добавление новых.
            span Контроль за поведенческими факторами пользователей на сайте и их совершенствование.
            strong 3. Внешняя оптимизация и продвижение сайта:
            span Анализ конкурентов и их места в поиске.
            span Внедрение изменений на основе аналитики конкурентов.
            span Анализ позиций вашего бизнеса по составленному семантическому ядру.
            span Анализ и работа с вашим ссылочным профилем.
            strong 4. Анализирование результатов:
            span Оценка эффективности, которые дают понимание, что SEO продвижение приносит результаты, помогает достигать намеченные цели.
            span Прогноз дальнейшей динамики развития.
            h3 Основные отличия SEO от контекстной рекламы:
            span Раскрутка сайта, которая привлекает целевую аудиторию за счет расположения на первых страницах в поиске без значка «реклама». Что не вызывает негатива, в отличие от перехода по рекламным объявлениям.
            span При остановке работ по SEO вы резко не пропадаете с топовых позиций в выдаче, это происходит плавно и некоторое время сохраняется результат.
            span Постоянное совершенствование, которое положительно скажется на развитии вашего бизнеса и даст возможность удешевлять платную рекламу.
            p Получается, что оптимизация и продвижение сайта дают вам конкурентное преимущество. Вы готовы отдать своих клиентов тем конкурентам, которые уже настроили SEO? Если нет, используйте все возможные точки роста, чтобы превзойти всех!
            h3 Сроки
            p Скорость получения результатов от продвижения сайта зависит в основном от вашего региона, конкуренции в нише, возраста сайта, количества запросов в семантическом ядре, текущих позиций в поиске, если вы уже пытались продвигаться.
            p Обычно,
              strong  первые результаты от SEO заметны после 3-5 недель,
              |  так работают алгоритмы Яндекс и Google. А ощутимый результат появляется уже после 3 месяца активной работы. Если вы готовы работать на перспективу, то это принесет вам результаты: ТОП-позиции в выдаче, целевую аудиторию, рост продаж и прибыли вашего бизнеса.
            h3 CMbox - это:
            span Опытные специалисты.
            span Сплоченная командная работа. В данной услуге участвуют: SEO- специалист, маркетолог, дизайнер, копирайтер, разработчик.
            span Справедливая цена.
          .services__box-portfolio.container
            h2 Примеры работ вы можете посмотреть на странице
              a(href="#")  Портфолио

block footer
  +footer
