extends ../layout/page-layout

block variables
  - var title = "SEO"
  - var activePage = 5

block header
  +header

block main

  -
    var boxesList = [
      {
        link: 'services-analytics.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Аналитика',
        text: 'Аналитика',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-strategy.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Стратегия',
        text: 'Стратегия',
        iconPath: 'svg',
        iconName: 'icon-strategy',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-design.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Дизайн',
        text: 'Дизайн',
        iconPath: 'svg',
        iconName: 'icon-design',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-site.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Сайт',
        text: 'Сайт',
        iconPath: 'svg',
        iconName: 'icon-site',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-sales.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Воронка продаж',
        text: 'Воронка продаж',
        iconPath: 'svg',
        iconName: 'icon-sale',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-seo.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Seo',
        text: 'Seo',
        iconPath: 'svg',
        iconName: 'icon-seo',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-context.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Контекст',
        text: 'Контекст',
        iconPath: 'svg',
        iconName: 'icon-contecst',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-social.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Соцсети',
        text: 'Соцсети',
        iconPath: 'svg',
        iconName: 'icon-social',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-marketing.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Видео-маркетинг',
        text: 'Видео-маркетинг',
        iconPath: 'svg',
        iconName: 'icon-video',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-crm.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Crm',
        text: 'Crm',
        iconPath: 'svg',
        iconName: 'icon-crm',
        iconWidth: '48',
        iconHeight: '48'
      },
    ];

  -
    var servicesList = [
      {
        text: 'Технический анализ.'
      },
      {
        text: 'Анализ юзабилити сайта. Необходимо для поисковых систем, учитывающих поведенческие факторы при определении вашей позиции в поисковой выдаче.'
      },
      {
        text: 'Сбор семантического ядра – набора ключевых слов, которые соответствуют вашей тематике.'
      },
      {
        text: 'Анализ, изменение текстов со внесением в них ключевых слов.'
      },
      {
        text: 'Распределение веса посадочных страниц, возможно, добавление новых.'
      },
      {
        text: 'Контроль за поведенческими факторами пользователей на сайте и их совершенствование.'
      }
    ];

  main.gray-box
    section.services
      h1 Услуги
      .services__box
        .services__nav-box
          ul.services__boxes-list
            each item, index in boxesList
              if (index === activePage)
                li
                  a(href= item.link).services__link-active
                    span= item.text
                    +img(item.path, item.name, item.format, item.width, item.height, item.altText)
                    +img(item.iconPath, item.iconName, item.format, item.iconWidth, item.iconHeight, item.altText)
              else
                li
                  a(href= item.link)
                    span= item.text
                    +img(item.path, item.name, item.format, item.width, item.height, item.altText)
                    +img(item.iconPath, item.iconName, item.format, item.iconWidth, item.iconHeight, item.altText)
        .services__box-images
          .services__image
            +img('services', 'icon-seo', 'svg', '220', '220', 'Seo')
          .services__boxes
            +img('services', 'big-box-active', 'svg', '640', '380', 'Коробка')
            +img('services', 'big-box-hover', 'svg', '640', '380', 'Коробка')
        .services__box-text
          .services__text
            p Прежде, чем говорить о преимуществах, стоит объяснить, что означает
              strong  SEO.
              |  Это поисковая оптимизация и продвижение сайта, которые выводят в топовые позиции органической выдачи Яндекс, Google и других поисковиков.
            p
              strong Органическая выдача
              |  – это естественная часть выдачи в поисковиках Яндекс, Google и других, не являющаяся рекламной. То есть, вы попадаете в ТОП-позиции органической выдачи при условии максимального совпадения контента сайта с запросом пользователя.
            p Существует больше 500 факторов, которые влияют на органическую выдачу. При настройке SEO достаточно учесть основные из таких факторов, чтобы эффективно конкурировать в вашей нише бизнеса.
      .services__price
        .services__image-seo
          +picture('png', 'image-seo', 'image-seo-tablet', 'image-seo-mobile', 'png', '1050', '170', 'Реклама', '1023', '767')
        h3 Тарифы для Беларуси, России и СНГ
        ul
          li
            article
              .services__price-box
                strong Старт
                .services__price-text
                  span 450 byn
                  span 13000 rub
              .services__price-wrap
                p до
                  strong  100
                  |  запросов
                p Изучение конкурентов
                p Создание SEO стратегии
                p
                  strong  1 ссылка
                  |  в месяц
                p Разработка
                  strong  до 1 часа
                  |  в месяц
                p Маркетолог
                  strong  до 1 часа
                  |  в месяц
                p Дизайнер
                  strong  до 1 часа
                  |  в месяц
                p Копирайтер
                  strong  до 1000
                  |  символов в месяц
                p Развернутый отчет
              a.button.services-modal-js(href="#")
                span Заказать
          li
            article
              .services__price-box
                strong Стандарт
                .services__price-text
                  span 450 byn
                  span 13000 rub
              .services__price-wrap
                p до
                  strong  100
                  |  запросов
                p Изучение конкурентов
                p Создание SEO стратегии
                p
                  strong  1 ссылка
                  |  в месяц
                p Разработка
                  strong  до 1 часа
                  |  в месяц
                p Маркетолог
                  strong  до 1 часа
                  |  в месяц
                p Дизайнер
                  strong  до 1 часа
                  |  в месяц
                p Копирайтер
                  strong  до 1000
                  |  символов в месяц
                p Развернутый отчет
                a.button.services-modal-js(href="#")
                  span Заказать
          li
            article
              .services__price-box
                strong Премиум
                .services__price-text
                  span 450 byn
                  span 13000 rub
              .services__price-wrap
                p до
                  strong  100
                  |  запросов
                p Изучение конкурентов
                p Создание SEO стратегии
                p
                  strong  1 ссылка
                  |  в месяц
                p Разработка
                  strong  до 1 часа
                  |  в месяц
                p Маркетолог
                  strong  до 1 часа
                  |  в месяц
                p Дизайнер
                  strong  до 1 часа
                  |  в месяц
                p Копирайтер
                  strong  до 1000
                  |  символов в месяц
                p Развернутый отчет
                a.button.services-modal-js(href="#")
                  span Заказать
          li
            article
              .services__price-box
                strong Разовый
                .services__price-text
                  span 450 byn
                  span 13000 rub
              .services__price-wrap
                p до
                  strong  100
                  |  запросов
                p Изучение конкурентов
                p Создание SEO стратегии
                p
                  strong  1 ссылка
                  |  в месяц
                p Разработка
                  strong  до 1 часа
                  |  в месяц
                p Маркетолог
                  strong  до 1 часа
                  |  в месяц
                p Дизайнер
                  strong  до 1 часа
                  |  в месяц
                p Копирайтер
                  strong  до 1000
                  |  символов в месяц
                p Развернутый отчет
                a.button.services-modal-js(href="#")
                  span Заказать

        .services__price-text2
          +img('svg', 'image-price', 'svg', '80', '80', 'Ключевые параметры')
          p Гарантируем повышение ключевых параметров в позициях или вернем деньги.
      .services-keys
        h3 Кейсы по продвижению сайтов
        .services-keys__box
          article
            .services-keys__text
              strong Сайт:
                a(href="#")  domlaminata.by
              p
                strong Тематика проекта:
                |  Продажа ламината
              p
                strong Регион продаж:
                |  Беларусь
              p
                strong Результат по трафику:
                |  Количество переходов из поисковых систем увеличилось с 60 до 300 человек в неделю
            .services-keys__image
              +img('png', 'image-1', 'png', '310', '150', 'График')
            table
              tr
                th Запрос
                td
                  +img('png', 'icon-google', 'png', '50', '18', 'Google')
                td
                  +img('png', 'icon-yandex', 'png', '50', '18', 'Yandex')
              tr
                td Ламинат выезд с образцами
                td 1
                td 1
              tr
                td Магазин ламината
                td 2
                td 2
              tr
                td Ламинат оптом
                td 8
                td 5
              tr
                td Распродажа ламината
                td 8
                td 7
          article
            .services-keys__text
              strong Сайт:
                a(href="#")  exim.by
              p
                strong Тематика проекта:
                |  Продажа инструментов
              p
                strong Регион продаж:
                |  Беларусь
              p
                strong Результат по трафику:
                |  Количество переходов из поисковых систем увеличилось с 100 до 1000 человек в неделю
            .services-keys__image
              +img('png', 'image-2', 'png', '310', '150', 'График')
            table
              tr
                th Запрос
                td
                  +img('png', 'icon-google', 'png', '50', '18', 'Google')
                td
                  +img('png', 'icon-yandex', 'png', '50', '18', 'Yandex')
              tr
                td Cimco Минск
                td 1
                td 1
              tr
                td Торцевой фиксатор
                td 10
                td 2
              tr
                td Кабель для зарядки электромобиля
                td 10
                td 3
              tr
                td Бирки маркировочные
                td 10
                td 4
          article
            .services-keys__text
              strong Сайт:
                a(href="#")  grossprof.by
              p
                strong Тематика проекта:
                |  Услуги бухгалтера и налоговых консультантов
              p
                strong Регион продвижения:
                |  Минск
            .services-keys__image
              +img('png', 'image-3', 'png', '310', '150', 'График')
            table
              tr
                th Запрос
                td
                  +img('png', 'icon-google', 'png', '50', '18', 'Google')
                td
                  +img('png', 'icon-yandex', 'png', '50', '18', 'Yandex')
              tr
                td Сопровождение проверок контролирующих органов
                td 8
                td 1
              tr
                td Консультация по налогам для физ лиц
                td 10
                td 6
              tr
                td Консультация по налогам для физ лиц
                td 8
                td 9
      .services__info
        article
          h3 Необходимо заказать SEO у нас, если:
          ul
            li: p Вы не можете найти себя в поиске.
            li: p Вы готовы работать на перспективу, SEO продвижение дает долгосрочный эффект.
            li: p Вы не занимаете ТОП-позиции в поисковой выдаче.
            li: p Вы получаете мало трафика на сайт.
            li: p Мало продаж.
        article
          +img('stage-design', 'image-element-10', 'svg', '225', '115')
          +img('stage-design', 'image-element-11', 'svg', '225', '115')
          +img('svg', 'image-element-mobile', 'svg', '240', '200')
      .services__info-1
        h3 Преимущества заказа SEO в CMBOX:
        .services__info-list
          article
            +img('services/icon-services', 'icon-cash', 'svg', '200', '130', 'Продаём сайты')
            strong Делаем сайт продающим
            p Мы не только оптимизируем сайт под поисковые системы, но и делаем его  продающим, используя комплексный подход к продвижению.
          article
            +img('services/icon-services', 'icon-product', 'svg', '200', '130', 'Продвигаем сайты')
            strong Продвигаем любые сайты
            p Работаем с бизнесом любого масштаба. Наш подход одинаково эффективно позволяет продвигать любые продукты или услуги.
          article
            +img('services/icon-services', 'icon-pin-big', 'svg', '200', '130', 'Клиенты из разных стран')
            strong Клиенты из разных стран
            p Офис нашего агентства находится в Минске. Нашими клиентами являются компании из Беларуси, России, Казахстана, Польши и др.
          article
            +img('services/icon-services', 'icon-diagram', 'svg', '200', '130', 'Результаты в цифрах')
            strong Результаты в цифрах
            p Предоставляем понятные ежемесячные отчеты о результатах, проделанной нами работы в цифрах.
          article
            +img('services/icon-services', 'icon-partners', 'svg', '200', '130', 'Анти-конвейер')
            strong Анти-конвейер
            p Мы нацелены на долгосрочное сотрудничество, поэтому выбираем качество, а не количество.
          article
            +img('services/icon-services', 'icon-rocket', 'svg', '200', '130', 'Следим за трендами')
            strong Следим за трендами
            p Для достижения лучших результатов мы используем эффективные и современные инструменты продвижения.
        .services__info-text
          h3 Зачем SEO продвижение?
          p Сейчас продвижение сайта – это одна из самых важных частей эффективных продаж в Интернете.
            strong  Если вы не продвигаетесь, о вас мало кто узнает.
          p Грамотно настроенное СЕО выведет вас в ТОП Яндекс, Google и других поисковиков. 85% людей не доходят дальше второй страницы по интересующему их запросу – раскрутка сайта делает вас видимым для целевой аудитории. Что увеличит поступаемый трафик – количество целевой аудитории, которой интересен ваш контент. Произойдет стабильный рост количества заявок. При правильной обработке этих заявок вашими специалистами, вы отметите рост продаж. А также это повысит узнаваемость вашего бренда, что запустит «сарафанное радио»: вас будут чаще советовать. В итоге, прибыль гарантированно увеличится.
          h3 Этапы SEO-продвижения
          strong 1. Разработка SEO-стратегии
          strong 2. Внутренняя оптимизация и продвижение сайта:
          ul
            li: p Технический анализ.
            li: p Анализ юзабилити сайта. Необходимо для поисковых систем, учитывающих поведенческие факторы при определении вашей позиции в поисковой выдаче.
            li: p Сбор семантического ядра из списка ключевых слов, подходящих вам.
            li: p Анализ, изменение текстов со внесением в них ключевых слов.
            li: p Распределение веса посадочных страниц, возможно, добавление новых.
            li: p Контроль за поведенческими факторами пользователей на сайте и их совершенствование.
          strong 3. Внешняя оптимизация и продвижение сайта:
          p
            strong Анализ конкурентов и их места в поиске.
          p
            strong Внедрение изменений на основе аналитики конкурентов.
          p
            strong Анализ позиций вашего бизнеса по составленному семантическому ядру.
          p
            strong Анализ и работа с вашим ссылочным профилем.
          strong 4. Анализирование результатов:
          p
            strong Оценка эффективности, которые дают понимание, что SEO продвижение приносит результаты, помогает достигать намеченные цели.
          p
            strong Прогноз дальнейшей динамики развития.
          h3 Основные отличия SEO от контекстной рекламы:
          p
            strong Раскрутка сайта, которая привлекает целевую аудиторию за счет расположения на первых страницах в поиске без значка «реклама». Что не вызывает негатива, в отличие от перехода по рекламным объявлениям.
          p
            strong При остановке работ по SEO вы резко не пропадаете с топовых позиций в выдаче, это происходит плавно и некоторое время сохраняется результат.
          p
            strong Постоянное совершенствование, которое положительно скажется на развитии вашего бизнеса и даст возможность удешевлять платную рекламу.
          p Получается, что оптимизация и продвижение сайта дают вам конкурентное преимущество. Вы готовы отдать своих клиентов тем конкурентам, которые уже настроили SEO? Если нет, используйте все возможные точки роста, чтобы превзойти всех!
          h3 Сроки
          p Скорость получения результатов от продвижения сайта зависит в основном от вашего региона, конкуренции в нише, возраста сайта, количества запросов в семантическом ядре, текущих позиций в поиске, если вы уже пытались продвигаться.
          p Обычно,
            strong  первые результаты от SEO заметны после 3-5 недель,
            |  так работают алгоритмы Яндекс и Google. А ощутимый результат появляется уже после 3 месяца активной работы. Если вы готовы работать на перспективу, то это принесет вам результаты: ТОП-позиции в выдаче, целевую аудиторию, рост продаж и прибыли вашего бизнеса.
          h3 CMbox - это:
          span Опытные специалисты.
          span Сплоченная командная работа. В данной услуге участвуют: SEO- специалист, маркетолог, дизайнер, копирайтер, разработчик.
          span Справедливая цена.
        .services__box-portfolio.container
          h2 Примеры работ вы можете посмотреть на странице
            a(href="#")  Портфолио

block footer
  +footer

  section.contacts.modal.modal-services-order
    .modal__wrapper
      .contacts__form
        p Как с Вами связаться?
        form(id="form-services-order" action="#" method="get")
          .modal__user-name
            input(id="user_name" type="text" name="user_name" required)
            label(for="user_name") Имя
          .modal__user-phone
            input(id="user_phone" type="tel" name="user_phone" required)
            label(for="user_phone") Телефон
          .modal__user-email
            input(id="user_email" type="tel" name="user_email")
            label(for="user_email") Email
          .modal__user-comment
            textarea(id="user_comment" name="user_comment")
            label(for="user_comment") Комментарий
          button.button(type="submit")
            span Отправить
      a.modal__btn-closed(href="#")
        span.visually-hidden Закрыть модальное окно
