extends ../layout/page-layout

block variables
  - var title = "Воронка продаж"

block header
  +header

block main

  -
    const boxesList = [
      {
        link: 'services-site.html',
        path: 'boxes',
        name: 'box-site',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Сайт'
      },
      {
        link: 'services-sales.html',
        path: 'boxes',
        name: 'box-sales',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Воронка продаж'
      },
      {
        link: '#',
        path: 'boxes',
        name: 'box-seo',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
      {
        link: '#',
        path: 'boxes',
        name: 'box-contecst',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
      {
        link: '#',
        path: 'boxes',
        name: 'box-social',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
      {
        link: '#',
        path: 'boxes',
        name: 'box-marketing',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
      {
        link: '#',
        path: 'boxes',
        name: 'box-crm',
        format: 'svg',
        width: '260',
        height: '190',
        altText: 'Seo'
      },
    ];

  -
    const servicesList = [
      {
        text: 'воронка продаж'
      },
      {
        text: 'видео-контент'
      },
      {
        text: 'лид-магнит'
      },
      {
        text: 'чат-боты'
      },
      {
        text: 'smm'
      },
      {
        text: 'crm'
      }
    ];

  -
    const servicesList2 = [
      {
        text: 'WordPress'
      },
      {
        text: '1C-Bitrix'
      },
      {
        text: 'Laravel'
      },
    ];

  main
    .services
      .services__wrapper.container
        h1 Услуги
      .services__box
        ul.services__boxes-list
          each item in boxesList
            li
              a(href= item.link)
                +img(item.path, item.name, item.format, item.width, item.height, item.altText)
        .services__images
          .services__computer
            +img('services', 'icon-sales', 'svg', '257', '240', 'Воронка')
          .services__boxes
            +img('services', 'big-box-active', 'svg', '640', '380', 'Коробка')
            +img('services', 'big-box-hover', 'svg', '640', '380', 'Коробка')
        .services__box-text
          h2 Создадим рабочую воронку продаж любой сложности
          .services__text.services__text-box--1
            p
              span Современная воронка продаж в интернете
              |  — это поэтапный инструмент привлечения и плавного прогрева с помощью полезного контента,
              span  приводящего к покупке или повышению лояльности.
              |  Что даёт возможность потенциальному покупателю самому прийти к выводу, что ему нужен именно ваш продукт, без продажи в лоб, которая потеряла свою эффективность и вызывает только негатив.
          .services__text.services__text-box--2
            p С таким подходом, даже если потенциальный покупатель не купит у вас сегодня, он может посоветовать вас своему знакомому. В рамках этой концепции
              span  очень важно собирать отзывы и работать с негативом,
              |  это влияет на продажи и отношение к вашему бренду.

block footer
  +footer
