extends ../layout/page-layout

block variables
  - var title = "Сайт"

block header
  +header

block main

  main.gray-box
    section.services
      h1 Услуги
      .services__box
        .services__nav-box
          ul
            li
              a.services__link-active(href="#")
                +img('services/services-nav', 'box-close', 'svg', '30', '30', '1 Элемент')
                +img('services/services-nav', 'box-open', 'svg', '30', '30', '2 Элемент')
                +img('services/services-nav', 'box-close-hover', 'svg', '30', '30', '3 Элемент')
                | Аналитика
                +img('services/services-nav', 'analytic-icon', 'svg', '30', '30', '4 Элемент')
                +img('services/services-nav', 'analytic-icon-active', 'svg', '30', '30', '5 Элемента')
            li
              a(href="#")
                +img('services/services-nav', 'box-close', 'svg', '30', '30', '1 Элемент')
                +img('services/services-nav', 'box-open', 'svg', '30', '30', '2 Элемент')
                +img('services/services-nav', 'box-close-hover', 'svg', '30', '30', '3 Элемент')
                | Дизайн
                +img('services/services-nav', 'design-icon', 'svg', '30', '30', '4 Элемент')
                +img('services/services-nav', 'design-icon-active', 'svg', '30', '30', '5 Элемент')
            li
              a(href="#")
                +img('services/services-nav', 'box-close', 'svg', '30', '30', '1 Элемент')
                +img('services/services-nav', 'box-open', 'svg', '30', '30', '2 Элемент')
                +img('services/services-nav', 'box-close-hover', 'svg', '30', '30', '3 Элемент')
                | Стратегия
                +img('services/services-nav', 'strategy-icon', 'svg', '30', '30', '4 Элемент')
                +img('services/services-nav', 'strategy-icon-active', 'svg', '30', '30', '5 Элемент')
            li
              a(href="#")
                +img('services/services-nav', 'box-close', 'svg', '30', '30', '1 Элемент')
                +img('services/services-nav', 'box-open', 'svg', '30', '30', '2 Элемент')
                +img('services/services-nav', 'box-close-hover', 'svg', '30', '30', '3 Элемент')
                | Видеомаркетинг
                +img('services/services-nav', 'video-icon', 'svg', '30', '30', '4 Элемент')
                +img('services/services-nav', 'video-icon-active', 'svg', '30', '30', '5 Элемент')
            li
              a(href="#")
                +img('services/services-nav', 'box-close', 'svg', '30', '30', '1 Элемент')
                +img('services/services-nav', 'box-open', 'svg', '30', '30', '2 Элемент')
                +img('services/services-nav', 'box-close-hover', 'svg', '30', '30', '3 Элемент')
                | Воронка продаж
                +img('services/services-nav', 'sale-icon', 'svg', '30', '30', '4 Элемент')
                +img('services/services-nav', 'sale-icon-active', 'svg', '30', '30', '5 Элемент')
        .services__box-images
          .services__image
            +img('services', 'icon-tv', 'svg', '250', '250', 'Компьютер')
          .services__boxes
            +img('services', 'big-box-active-1', 'svg', '640', '380', 'Сайт')
            +img('services', 'big-box-hover-1', 'svg', '640', '380', 'Сайт')
        .services__box-text
          h3 Хочешь проверить свое SEO?
          .services__data-text
            p Базовый анализ ваших маркетинговых инструментов
              strong  по цене чашки кофе
            a.button.analysis-btn(href="#")
              span Заказать
          .services__image-seo
            +picture('png', 'image-seo', 'image-seo', 'image-seo-mobile', 'png', '1050', '170', 'Реклама', '1023', '767')
      .services__price
        h3 Тарифы для Беларуси, России и СНГ
        ul.services__price-grid
          li
            article
              .services__price-box
                strong Уникальное предложение
                .services__price-text
                  .services__span
                    span 0
                    span byn
                  .services__span
                    span 0
                    span rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p Разработка сайта 0 руб
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p При заказе продвижения и обслуживания
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Согласование индивидуально
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                a.button.button--order.services-modal-js(href="#")
                  span Заказать
              button.services__btn-more(type="button")
                span.visually-hidden Узнать больше
          li
            article
              .services__price-box
                strong Лэндинг
                .services__price-text
                  .services__span
                    span от
                    span 650
                    span byn
                  .services__span
                    span от
                    span 18 800
                    span rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p Маркетинговое исследование
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Дизайн-проект
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Верстка
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Разработка back-end
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Тесты
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Обслуживание
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                a.button.button--order.services-modal-js(href="#")
                  span Заказать
              button.services__btn-more(type="button")
                span.visually-hidden Узнать больше
          li
            article
              .services__price-box
                strong Каталог
                .services__price-text
                  .services__span
                    span от
                    span 650
                    span byn
                  .services__span
                    span от
                    span 18 800
                    span rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p Маркетинговое исследование
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Дизайн-проект
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Верстка
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Разработка back-end
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Наполнение сайта
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Создание шаблона импорта товаров
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                  li
                    .services__price-tooltip
                      p Тесты
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                  li
                    .services__price-tooltip
                      p Обслуживание
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                a.button.button--order.services-modal-js(href="#")
                  span Заказать
              button.services__btn-more(type="button")
                span.visually-hidden Узнать больше
          li
            article
              .services__price-box
                strong Каталог
                .services__price-text
                  .services__span
                    span от
                    span 650
                    span byn
                  .services__span
                    span от
                    span 18 800
                    span rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p Маркетинговое исследование
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Дизайн-проект
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Верстка
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Разработка back-end
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Наполнение сайта
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Создание шаблона импорта товаров
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                  li
                    .services__price-tooltip
                      p Тесты
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                  li
                    .services__price-tooltip
                      p Обслуживание
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                a.button.button--order.services-modal-js(href="#")
                  span Заказать
              button.services__btn-more(type="button")
                span.visually-hidden Узнать больше
          li
            article
              .services__price-box
                strong Каталог
                .services__price-text
                  .services__span
                    span от
                    span 650
                    span byn
                  .services__span
                    span от
                    span 18 800
                    span rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p Маркетинговое исследование
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Дизайн-проект
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Верстка
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Разработка back-end
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Наполнение сайта
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Создание шаблона импорта товаров
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                  li
                    .services__price-tooltip
                      p Тесты
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                  li
                    .services__price-tooltip
                      p Обслуживание
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                a.button.button--order.services-modal-js(href="#")
                  span Заказать
              button.services__btn-more(type="button")
                span.visually-hidden Узнать больше
          li
            article
              .services__text
                strong Тариф в разработке
              .services__text-image
                +img('svg', 'services-tooltip', 'svg', '125', '140', 'В разработке')
          li
            article
              .services__text
                strong Тариф в разработке
              .services__text-image
                +img('svg', 'services-tooltip', 'svg', '125', '140', 'В разработке')
          li
            article
              .services__text
                strong Тариф в разработке
              .services__text-image
                +img('svg', 'services-tooltip', 'svg', '125', '140', 'В разработке')
        p
          span *
          | дизайн и верстка могут быть шаблонными решениями, что сократит время разработки вдвое и значительно удешевит разработку, однако в таком случае ваш сайт потеряет уникальность и индивидуальность.
        .services__price-text2
          +img('svg', 'image-price', 'svg', '80', '80', 'Ключевые параметры')
          p Гарантируем повышение ключевых параметров в позициях или вернем деньги.
      .services__box-portfolio.container
        h2 Примеры работ вы можете посмотреть на странице
          a(href="#")  Портфолио

block footer
  +footer

  section.contacts.modal.modal-services-order
    .modal__wrapper
      .contacts__form
        p Как с Вами связаться?
        form(id="form-services-order" action="#" method="get")
          .modal__user-name
            input(id="user_name" type="text" name="user_name" required)
            label(for="user_name") Имя
          .modal__user-phone
            input(id="user_phone" type="tel" name="user_phone" required)
            label(for="user_phone") Телефон
          .modal__user-email
            input(id="user_email" type="tel" name="user_email")
            label(for="user_email") Email
          .modal__user-comment
            textarea(id="user_comment" name="user_comment")
            label(for="user_comment") Комментарий
          button.button(type="submit")
            span Отправить
      a.modal__btn-closed(href="#")
        span.visually-hidden Закрыть модальное окно
