extends ../layout/page-layout

block variables
  - var title = "Сайт"
  - var activePage = 3

block header
  +header

block main

  -
    var boxesList = [
      {
        link: 'services-analytics.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Аналитика',
        text: 'Аналитика',
        iconPath: 'svg',
        iconName: 'icon-analytics',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-strategy.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Стратегия',
        text: 'Стратегия',
        iconPath: 'svg',
        iconName: 'icon-strategy',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-design.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Дизайн',
        text: 'Дизайн',
        iconPath: 'svg',
        iconName: 'icon-design',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-site.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Сайт',
        text: 'Сайт',
        iconPath: 'svg',
        iconName: 'icon-site',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-sales.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Воронка продаж',
        text: 'Воронка продаж',
        iconPath: 'svg',
        iconName: 'icon-sale',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-seo.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Seo',
        text: 'Seo',
        iconPath: 'svg',
        iconName: 'icon-seo',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-context.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Контекст',
        text: 'Контекст',
        iconPath: 'svg',
        iconName: 'icon-contecst',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-social.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Соцсети',
        text: 'Соцсети',
        iconPath: 'svg',
        iconName: 'icon-social',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-marketing.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Видео-маркетинг',
        text: 'Видео-маркетинг',
        iconPath: 'svg',
        iconName: 'icon-video',
        iconWidth: '48',
        iconHeight: '48'
      },
      {
        link: 'services-crm.html',
        path: 'services',
        name: 'box-close',
        format: 'svg',
        width: '240',
        height: '160',
        altText: 'Crm',
        text: 'Crm',
        iconPath: 'svg',
        iconName: 'icon-crm',
        iconWidth: '48',
        iconHeight: '48'
      },
    ];

  main.gray-box
    section.services
      h1 Услуги
      .services__box
        .services__nav-box
          ul.services__boxes-list
            each item, index in boxesList
              if (index === activePage)
                li
                  a(href= item.link).services__link-active
                    span= item.text
                    +img(item.path, item.name, item.format, item.width, item.height, item.altText)
                    +img(item.iconPath, item.iconName, item.format, item.iconWidth, item.iconHeight, item.altText)
              else
                li
                  a(href= item.link)
                    span= item.text
                    +img(item.path, item.name, item.format, item.width, item.height, item.altText)
                    +img(item.iconPath, item.iconName, item.format, item.iconWidth, item.iconHeight, item.altText)
        .services__box-images
          .services__image
            +img('services', 'icon-tv', 'svg', '250', '250', 'Компьютер')
          .services__boxes
            +img('services', 'big-box-active-1', 'svg', '640', '380', 'Сайт')
            +img('services', 'big-box-hover-1', 'svg', '640', '380', 'Сайт')
        .services__box-text
          h3 Хочешь проверить свое SEO?
          .services__data-text
            p Базовый анализ ваших маркетинговых инструментов
              strong  по цене чашки кофе
            a.button.analysis-btn(href="#")
              span Заказать
          .services__image-seo
            +picture('png', 'image-seo', 'image-seo', 'image-seo-mobile', 'png', '1050', '170', 'Реклама', '1023', '767')
      .services__price
        h3 Тарифы для Беларуси, России и СНГ
        ul.services__price-grid
          li
            article
              .services__price-box
                strong Лэндинг
                .services__price-text
                  .services__span
                    span от
                    span 650
                    span byn
                  .services__span
                    span от
                    span 18 800
                    span rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p Маркетинговое исследование
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Дизайн-проект
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Верстка
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Разработка back-end
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Тесты
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Обслуживание
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                a.button.services-modal-js(href="#")
                  span Заказать
              button.services__btn-more(type="button")
                span.visually-hidden Узнать больше
          li
            article
              .services__price-box
                strong Каталог
                .services__price-text
                  .services__span
                    span от
                    span 650
                    span byn
                  .services__span
                    span от
                    span 18 800
                    span rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p Маркетинговое исследование
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Дизайн-проект
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Верстка
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Разработка back-end
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Наполнение сайта
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Создание шаблона импорта товаров
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                  li
                    .services__price-tooltip
                      p Тесты
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                  li
                    .services__price-tooltip
                      p Обслуживание
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                a.button.services-modal-js(href="#")
                  span Заказать
              button.services__btn-more(type="button")
                span.visually-hidden Узнать больше
          li
            article
              .services__price-box
                strong Каталог
                .services__price-text
                  .services__span
                    span от
                    span 650
                    span byn
                  .services__span
                    span от
                    span 18 800
                    span rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p Маркетинговое исследование
                        span.services__mark *
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Дизайн-проект
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Верстка
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Разработка back-end
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Наполнение сайта
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Создание шаблона импорта товаров
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                  li
                    .services__price-tooltip
                      p Тесты
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                  li
                    .services__price-tooltip
                      p Обслуживание
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                a.button.services-modal-js(href="#")
                  span Заказать
          li
            article
              .services__price-box
                strong Каталог
                .services__price-text
                  .services__span
                    span от
                    span 650
                    span byn
                  .services__span
                    span от
                    span 18 800
                    span rub
              .services__price-wrap
                ul
                  li
                    .services__price-tooltip
                      p Маркетинговое исследование
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Дизайн-проект
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Верстка
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Разработка back-end
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Наполнение сайта
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                  li
                    .services__price-tooltip
                      p Создание шаблона импорта товаров
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                  li
                    .services__price-tooltip
                      p Тесты
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                  li
                    .services__price-tooltip
                      p Обслуживание
                        button.services__btn-tooltip(type="button")
                          span.visually-hidden Подробнее
                    .services__text-box
                      p Создание уникального дизайна исходя из задачи проекта, пожеланий заказчика и маркетинговых исследований
                      p В течении всей работы с нами мы предлагаем обслуживание вашего сайта, доработки по вашим запросам и разработку новых функций
                a.button.services-modal-js(href="#")
                  span Заказать
        p
          span *
          | дизайн и верстка могут быть шаблонными решениями, что сократит время разработки вдвое и значительно удешевит разработку, однако в таком случае ваш сайт потеряет уникальность и индивидуальность.
        .services__price-text2
          +img('svg', 'image-price', 'svg', '80', '80', 'Ключевые параметры')
          p Гарантируем повышение ключевых параметров в позициях или вернем деньги.
      .services__box-portfolio.container
        h2 Примеры работ вы можете посмотреть на странице
          a(href="#")  Портфолио

block footer
  +footer

  section.contacts.modal.modal-services-order
    .modal__wrapper
      .contacts__form
        p Как с Вами связаться?
        form(id="form-services-order" action="#" method="get")
          .modal__user-name
            input(id="user_name" type="text" name="user_name" required)
            label(for="user_name") Имя
          .modal__user-phone
            input(id="user_phone" type="tel" name="user_phone" required)
            label(for="user_phone") Телефон
          .modal__user-email
            input(id="user_email" type="tel" name="user_email")
            label(for="user_email") Email
          .modal__user-comment
            textarea(id="user_comment" name="user_comment")
            label(for="user_comment") Комментарий
          button.button(type="submit")
            span Отправить
      a.modal__btn-closed(href="#")
        span.visually-hidden Закрыть модальное окно
