extends ../layout/page-layout

block variables
  - var title = "Стратегия"

block header
  +header

block main
  -
    var blogList = [
      {
        path: 'png',
        image: 'blog-image-1',
        format: 'png',
        width: '370',
        height: '150',
        altText: '1 Карточка',
        textCard: 'Шаблон, который поможет регулярно писать статьи',
        timeText: '24 апреля 2020'
      },
      {
        path: 'png',
        image: 'blog-image-1',
        format: 'png',
        width: '370',
        height: '150',
        altText: '1 Карточка',
        textCard: 'Шаблон, который поможет регулярно писать статьи',
        timeText: '24 апреля 2020'
      },
    ];

  main
    section.stages
      +breadcrumbs
      h1 Этапы
      .stages__nav-box
        ul.stages__nav-list
          li
            .stages__image
              a(href='stage-analysis.html')
                span Анализ
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Анализ')
          li
            .stages__image.stages__image--active
              a(href='stage-strategy.html')
                span Стратегия
                +img('stage-boxes', 'stage-box-active', 'svg', '220', '175', 'Стратегия')
          li
            .stages__image
              a(href='stage-design.html')
                span Дизайн
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Дизайн')
          li
            .stages__image
              a(href='stage-developers.html')
                span Разработка
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Разработка')
          li
            .stages__image
              a(href='stage-promotion.html')
                span Продвижение
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Продвижение')
          li
            .stages__image
              a(href='stage-automation.html')
                span Автоматизация
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Автоматизация')
          li
            .stages__image
              a(href='#')
                span Поддержка
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Поддержка')
      .stages__box.stages__box--strategy.container
        +img('stage-strategy', 'image-element-1', 'svg', '595', '545', 'Элемент 1')
        +img('stage-strategy', 'image-element-2', 'svg', '870', '275', 'Элемент 2')
        +img('stage-strategy', 'image-element-3', 'svg', '62', '62', 'Элемент 3')
        +img('stage-strategy', 'image-element-4', 'svg', '40', '40', 'Элемент 4')
        +img('stage-strategy', 'image-element-6', 'svg', '68', '68', 'Элемент 6')
        +img('stage-strategy', 'image-element-7', 'svg', '33', '20', 'Элемент 7')
        +img('stage-strategy', 'image-element-8', 'svg', '26', '26', 'Элемент 8')
        +img('stage-strategy', 'image-element-9', 'svg', '26', '26', 'Элемент 9')
        .cubs
          .cube
            .front
              span Рост продаж
            .back
              span Рост продаж
            .top
              span Рост продаж
            .bottom
              span Рост продаж
            .left
              span Рост продаж
            .right
              span Рост продаж
        .cubs.cubs--acca
          .cube
            .front
              span Рост прибыли
            .back
              span Рост прибыли
            .top
              span Рост прибыли
            .bottom
              span Рост прибыли
            .left
              span Рост прибыли
            .right
              span Рост прибыли
        .cubs.cubs--odc
          .cube
            .front
              span Рост спроса
            .back
              span Рост спроса
            .top
              span Рост спроса
            .bottom
              span Рост спроса
            .left
              span Рост спроса
            .right
              span Рост спроса
      .stages__box
        +img('stage-strategy', 'image-strategy-mobile', 'svg', '470', '330', 'Стратегия')
      .stages__text
        h2 Анализ
        p Первый этап в комплексном маркетинге – это анализ ниши вашего бизнеса, вашей целевой аудитории и конкурентов. Всё это позволяет максимально точно оценить рынок и определить возможности развития компании.
        .stages__list
          p Что входит в
            strong  полный анализ:
          p 1. Оценка потенциала рынка и покупательского спроса на ваши товары или услуги.
          p 2. Составление портрета именно ваших потенциальных покупателей.
          p 3. Поиск компаний с такой же целевой аудиторией, как у вас.
          p 4. Аналитика интернет-упаковки основных конкурирующих фирм, инструментов продвижения, которые они используют.
          p 5. Определение преимуществ и недостатков всех инструментов продаж конкурентов.
          p 6. Определение главных конкурентных преимуществ вашего бизнеса и его позиционирования в нише.
        .stages__list
          p Что входит в
            strong  базовый анализ
          p 1. В него входит оценка рынка и покупательского спроса.
        .stages__coffee
          .stages__coffee-box
            +img('svg', 'icon-coffee', 'svg', '260', '175', 'Чашка кофе')
            p Базовый анализ
              br
              strong  по цене
              |  чашки кофе
          a(href="#").button
            span Заказать

block footer
  +footer
