extends ../layout/page-layout

block variables
  - var title = "Разработка"

block header
  +header

block main

  -
    var imageList = [
      {
        path: 'stage-developers',
        image: 'image-element-1',
        format: 'svg',
        width: '610',
        height: '525',
        altText: '1 Элемент'
      },
      {
        path: 'stage-developers',
        image: 'image-element-2',
        format: 'svg',
        width: '870',
        height: '275',
        altText: '2 Элемент'
      },
      {
        path: 'stage-developers',
        image: 'image-element-3',
        format: 'svg',
        width: '97',
        height: '70',
        altText: '3 Элемент'
      },
      {
        path: 'stage-developers',
        image: 'image-element-4',
        format: 'svg',
        width: '120',
        height: '85',
        altText: '4 Элемент'
      },
      {
        path: 'stage-developers',
        image: 'image-element-5',
        format: 'svg',
        width: '104',
        height: '70',
        altText: '5 Элемент'
      },
      {
        path: 'stage-developers',
        image: 'image-element-6',
        format: 'svg',
        width: '104',
        height: '75',
        altText: '6 Элемент'
      },
      {
        path: 'stage-developers',
        image: 'image-element-7',
        format: 'svg',
        width: '85',
        height: '60',
        altText: '7 Элемент'
      },
    ];

  main
    section.stages
      h1 Этапы
      .stage__nav-box
        ul.stages__nav-list
          li
            .stages__image
              a(href='stage-analysis.html')
                span Анализ
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Анализ')
          li
            .stages__image
              a(href='stage-strategy.html')
                span Стратегия
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Стратегия')
          li
            .stages__image
              a(href='stage-design.html')
                span Дизайн
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Дизайн')
          li
            .stages__image.stages__image--active
              a(href='stage-developers.html')
                span Разработка
                +img('stage-boxes', 'stage-box-active', 'svg', '220', '175', 'Разработка')
          li
            .stages__image
              a(href='stage-promotion.html')
                span Продвижение
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Продвижение')
          li
            .stages__image
              a(href='stage-automation.html')
                span Автоматизация
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Автоматизация')
          li
            .stages__image
              a(href='stage-support.html')
                span Поддержка
                +img('stage-boxes', 'stage-box', 'svg', '125', '120', 'Поддержка')
      .stages__box.stages__box--developers.container
        each item in imageList
          +img(item.path, item.image, item.format, item.width, item.height, item.altText)
      .stages__text
        h2 Разработка
        p Проводим первичный
          a(href="#")  бесплатный
          |  базовый анализ рынка. Первый этап в комплексном маркетинге – это проведение анализа ниши вашего бизнеса, анализа вашей целевой аудитории, анализа конкурентов. Всё это позволит максимально точно оценить рынок и определить возможности развития вашего бизнеса.
        p Что включает анализ:
        ol.stages__list
          li: p Составление максимально полного портрета именно вашей целевой аудитории.
          li: p Поиск прямых и косвенных конкурентов, работающих с вашей целевой аудиторией.
          li: p Анализ интернет-упаковки конкурентов, использования ими всех современных инструментов продвижения.
          li: p Определение их сильных и слабых сторон.
          li: p Определение уникальности вашего бизнеса и способов отстройки от конкурентов.

block footer
  +footer
