.page-unavailable__wrapper {
  min-height: 500px;
  margin: 160px auto 110px auto;
  display: grid;
  grid-gap: 0 2%;
  align-items: center;
  grid-template-columns: 51% auto;

  @media (max-width: $desktop-width-min) {
    grid-template-columns: 1fr;
    padding: 0 120px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 20px;
    margin: 50px auto 40px auto;
  }
}

.page-unavailable__image {
  max-width: 320px;
  margin: 0 auto -24% auto;
  position: relative;
  z-index: 1;
  animation: services-icon-show, services-icon-movement;
  animation-duration: 2.5s, 3.2s;
  animation-delay: 1.5s, 3.5s;
  animation-timing-function: ease, linear;
  animation-iteration-count: 1, infinite;
  animation-direction: normal, alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
  opacity: 0;

  @media (max-width: $tablet-width) {
    max-width: 180px;
  }
}

.page-unavailable__box-image {
  @media (max-width: $desktop-width-min) {
    max-width: 620px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    max-width: 400px;
  }
}

.page-unavailable__box-text {
  @media (max-width: $tablet-width) {
    display: grid;
  }

  h1 {
    text-align: left;

    @media (max-width: $desktop-width-min) {
      margin-top: 0;
    }

    @media (max-width: $tablet-width) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  p {
    margin: 0 0 30px 0;
    font-size: 24px;
    line-height: 36px;

    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
}
