.about-us__box {
  display: grid;
  grid-template-columns: 40% 1fr;
  align-items: center;

  @media (max-width: $desktop-width-min) {
    grid-template-columns: 1fr;
  }

  p {
    margin: 0 0 30px 0;

    @media (max-width: $tablet-width) {
      margin-bottom: 15px;
    }
  }
}

.about-us__box-text {
  @media (max-width: $desktop-width-min) {
    padding: 0 90px;
  }

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.about-us__image {
  position: relative;

  @media (max-width: $desktop-width-min) {
    grid-row: 1;
    margin: 0 auto;
  }
}

.about-us__nav-list {
  @include reset-list;
  width: 50%;
  height: 95px;
  position: absolute;
  top: 21%;
  left: 25%;

  @media (max-width: $tablet-width) {
    display: none;
  }

  .about-us__link {
    max-width: 100px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    position: absolute;

    &--crm {
      left: 53px;
      top: 33px;

      @media (max-width: $desktop-width) {
        left: 42px;
        top: 28px;
      }

      @media (max-width: $desktop-width-min) {
        left: 55px;
        top: 35px;
      }
    }

    &--sales {
      top: -30px;

      @media (max-width: $desktop-width) {
        left: -11px;
      }

      @media (max-width: $desktop-width-min) {
        left: 0;
      }
    }

    &--context {
      left: 53px;
      top: -67px;

      @media (max-width: $desktop-width) {
        left: 40px;
        top: -60px;
      }

      @media (max-width: $desktop-width-min) {
        left: 55px;
        top: -65px;
      }
    }

    &--marketing {
      top: -70px;
      left: 150px;

      @media (max-width: $desktop-width) {
        top: -62px;
        left: 125px;
      }

      @media (max-width: $desktop-width-min) {
        top: -80px;
        left: 165px;
      }
    }

    &--socseti {
      right: -5px;
      top: -61px;

      @media (max-width: $desktop-width) {
        top: -50px;
      }

      @media (max-width: $desktop-width-min) {
        top: -62px;
      }
    }

    &--seo {
      right: 0;
      top: 20px;

      @media (max-width: $desktop-width-min) {
        top: 20px;
      }
    }

    &--site {
      right: 0;
      top: 78px;
    }
  }
}

.about-us__list {
  @include reset-list;
  max-width: 495px;
  margin-left: 10px;

  p {
    margin: 0 0 15px 0;
    padding-left: 60px;
    position: relative;

    &::before {
      width: 48px;
      height: 48px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/about-us/icon-loupe.svg");
      background-repeat: no-repeat;
    }
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }

  span {
    font-family: $proximaBold;
  }
}
