.advantages__wrapper {
  max-width: 1000px;

  h2 {
    text-align: center;
  }
}

.advantages__box-list {
  margin: 40px 0 100px 0;
  display: grid;
  grid-gap: 30px 5%;
  grid-template-columns: repeat(3, 24%);
  justify-content: space-between;

  @media (max-width: $desktop-width-min) {
    grid-template-columns: repeat(2, 225px);
    justify-content: center;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 77%;
  }
}

.advantages__box {
  padding: 30px 20px;
  background-color: $light-gray;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.15), 4px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: grid;
  grid-template-rows: 100px auto;
  justify-items: center;

  &:last-child {
    @media (max-width: $desktop-width-min) {
      max-width: 225px;
      grid-column: 1 / 3;
      justify-self: center;
    }

    @media (max-width: $tablet-width) {
      max-width: 100%;
      grid-column: auto;
      justify-self: normal;
    }
  }

  img {
    max-width: 100px;
    display: block;
    text-align: center;
  }

  p {
    margin: 24px 0 0 0;
    line-height: 18px;
    text-align: center;
  }
}
