.box {
  @include reset-list;
  position: absolute;
  top: 0;
  left: 0;
}

.box__link {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;

  &--design {
    position: absolute;
    top: 165px;
    left: -30px;

    @media (max-width: $desktop-width) {
      top: 145px;
    }

    @media (max-width: $desktop-width-min) {
      top: 205px;
      left: -10px;
    }
  }

  &--seo {
    position: absolute;
    top: 107px;
    left: -25px;

    @media (max-width: $desktop-width) {
      top: 92px;
    }

    @media (max-width: $desktop-width-min) {
      top: 135px;
      left: -15px;
    }
  }

  &--sales {
    position: absolute;
    top: 40px;
    left: -30px;

    @media (max-width: $desktop-width) {
      top: 30px;
      left: -35px;
    }

    @media (max-width: $desktop-width-min) {
      top: 50px;
      left: -10px;
    }
  }

  &--context {
    position: absolute;
    top: 10px;
    left: 35px;

    @media (max-width: $desktop-width) {
      top: 7px;
      left: 25px;
    }

    @media (max-width: $desktop-width-min) {
      top: 20px;
      left: 70px;
    }
  }

  &--marketing {
    position: absolute;
    top: -20px;
    left: 110px;

    @media (max-width: $desktop-width) {
      left: 90px;
    }

    @media (max-width: $desktop-width-min) {
      left: 160px;
    }
  }

  &--analytics {
    position: absolute;
    top: 15px;
    left: 210px;

    @media (max-width: $desktop-width) {
      top: 8px;
      left: 185px;
    }

    @media (max-width: $desktop-width-min) {
      top: 25px;
      left: 280px;
    }
  }

  &--social {
    position: absolute;
    top: 30px;
    left: 300px;

    @media (max-width: $desktop-width) {
      left: 280px;
    }

    @media (max-width: $desktop-width-min) {
      left: 405px;
      top: 50px;
    }
  }

  &--strategy {
    position: absolute;
    top: 80px;
    left: 350px;

    @media (max-width: $desktop-width) {
      left: 308px;
    }

    @media (max-width: $desktop-width-min) {
      left: 445px;
      top: 135px;
    }
  }

  &--crm {
    position: absolute;
    top: 135px;
    left: 370px;

    @media (max-width: $desktop-width) {
      top: 123px;
      left: 325px;
    }

    @media (max-width: $desktop-width-min) {
      top: 195px;
      left: 470px;
    }
  }

  &--site {
    position: absolute;
    top: 200px;
    left: 345px;

    @media (max-width: $desktop-width) {
      top: 170px;
      left: 300px;
    }

    @media (max-width: $desktop-width-min) {
      top: 260px;
      left: 440px;
    }
  }
}
