.breadcrumbs {
  margin-left: 20%;

  @media (max-width: $desktop-width-min) {
    margin-left: 30%;
  }

  @media (max-width: $tablet-width) {
    margin-left: 70px;
  }
}

.breadcrumbs__wrapper {
  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.breadcrumbs__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;

  li {
    @media (max-width: $tablet-width) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .breadcrumbs__link {
    padding-right: 30px;
    font-family: $proximaBold;
    color: $dark-blue;
    position: relative;

    &::before {
      width: 8px;
      height: 2px;
      position: absolute;
      content: "";
      top: 9px;
      right: 10px;
      background-color: $dark-blue;
      transform: rotate(45deg);

      @media (max-width: $tablet-width) {
        width: 7px;
        top: 6px;
      }
    }

    &::after {
      width: 8px;
      height: 2px;
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      background-color: $dark-blue;
      transform: rotate(-45deg);

      @media (max-width: $tablet-width) {
        width: 7px;
        top: 10px;
      }
    }

    &--active {
      font-family: $proximaNova;
      color: $black;

      &::before,
      &::after {
        display: none;
      }

      &:active {
        font-weight: $normal;
      }
    }
  }
}
