.button {
  max-width: 235px;
  width: 100%;
  padding: 15px 0;
  font-family: $proximaBold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $light-gray;
  background-image: linear-gradient(90deg, #8d2716 5.41%, #c9081f 89.5%);
  border: solid 1px $white;
  box-shadow: -4px -4px 16px rgba(255, 255, 255, 0.8), 8px 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  justify-self: center;
  transition: all 0.3s linear;

  &:hover {
    //border: none;
    box-shadow: none;
    transform: skewY(2deg);
    transition: all 0.3s linear;
  }

  &:active {
    background-image: linear-gradient(90deg, #762315 5.41%, #a00f21 89.5%);
  }

  &:disabled {
    background: #a0a0a0;
  }
}
