.button {
  max-width: 235px;
  width: 100%;
  padding: 15px 0;
  font-family: $proximaBold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $light-gray;
  background-image: linear-gradient(90deg, #8d2716 5.41%, #c9081f 89.5%);
  border: solid 1px $white;
  box-shadow: -4px -4px 16px rgba(255, 255, 255, 0.8), 8px 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  display: grid;
  justify-content: center;
  justify-self: center;

  &:hover {
    animation: rotate 0.7s ease-in-out both;
    background-image: linear-gradient(90.02deg, #E2031E 5.42%, #8D1400 94.13%);
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.8),
    8px 8px 16px rgba(0, 0, 0, 0.3);

    span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.06s;
      color: $white;
    }
  }

  &:active {
    box-shadow: inset -3px -3px 5px rgba(255, 85, 106, 0.4),
    inset 5px 5px 10px rgba(80, 20, 11, 0.4);
    border: solid 1px #999999;
  }

  &:disabled {
    background: #a0a0a0;
  }
}
