.card-box__wrapper {
  @media (max-width: $desktop-width-min) {
    padding: 0 100px;
  }

  @media (max-width: $tablet-width) {
    max-width: 520px;
    padding: 0 5px;
  }

  @media (max-width: $mobile-width) {
    max-width: 375px;
  }
}

.card-box__box {
  position: relative;
  background-color: $light-gray;
  border-radius: 5px;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.15), 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.card-box__inner {
  max-width: 1100px;
  margin: 0 auto 100px 0;
  padding: 50px 100px 30px 100px;
  display: grid;
  align-items: center;
  grid-gap: 0 17%;
  grid-template-columns: 37% 42%;
  position: relative;

  @media (max-width: $desktop-width) {
    padding: 60px 80px 40px 80px;
    grid-template-columns: 44% 400px;
    grid-gap: 0 8%;
  }

  @media (max-width: $desktop-width-min) {
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
  }

  @media (max-width: $tablet-width) {
    padding: 80px 15px 60px 15px;
  }
}

.card__box-text {
  h2 {
    max-width: 300px;

    @media (max-width: $tablet-width) {
      max-width: 225px;
    }
  }
}
