.contacts {
  margin: 95px 0 70px 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }

  .breadcrumbs {
    margin-left: 0;
  }
}

.contacts__box-info {
  display: grid;
  grid-template-columns: 31% 33% auto;

  @media (max-width: $desktop-width) {
    grid-template-columns: 32% 28% auto;
  }

  @media (max-width: $desktop-width-min) {
    grid-template-columns: 354px 50%;
    grid-gap: 30px 0;
    justify-content: center;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
  }

  h2 {
    text-align: center;
    text-transform: capitalize;

    @media (max-width: $tablet-width) {
      font-size: 14px;
      line-height: 21px;
    }

    span {
      font-size: 16px;
      line-height: 16px;
      text-transform: lowercase;
    }
  }

  .social-list {
    justify-content: flex-start;
  }

  .main-footer__contacts {
    display: grid;
  }

  .main-footer__link-box {
    @media (max-width: $tablet-width) {
      grid-template-columns: 1fr;
      grid-gap: 10px 0;
    }
  }
}

.contacts__image {
  @media (max-width: $desktop-width-min) {
    display: none;
  }
}

.contacts__social {
  position: relative;
  margin: 46% 50% 0 0;

  @media (max-width: $desktop-width) {
    margin: 60% 31% 0 0;
  }

  @media (max-width: $desktop-width-min) {
    margin: 60% 0 0 0;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
  }

  h2 {
    &:nth-child(2) {
      display: none;
    }

    @media (max-width: $tablet-width) {
      font-family: $proximaNova;
      margin: 0 auto 10px auto;
      font-size: 16px;
      line-height: 21px;
      font-weight: $normal;
      text-transform: none;
      text-align: left;

      &:first-child {
        display: none;
      }

      &:nth-child(2) {
        display: block;
      }
    }
  }

  .footer-social {
    width: 280px;
    height: 280px;
    position: absolute;
    top: -110px;
    left: -40px;
    animation: rotateRight1 20s infinite linear;

    @media (max-width: $desktop-width) {
      left: -50px;
    }

    @media (max-width: $desktop-width-min) {
      left: 28px;
    }

    @media (max-width: $tablet-width) {
      width: auto;
      height: auto;
      position: static;
      animation: none;
      grid-gap: 0 20px;
      grid-template-columns: repeat(5, minmax(5%, 35px));
    }

    li {
      width: 50px;
      height: 50px;
      position: absolute;

      @media (max-width: $tablet-width) {
        width: auto;
        height: auto;
        position: static;
      }

      &:nth-child(1) {
        top: 125px;
        left: -20px;
        animation: rotateLeft 4s infinite linear;

        @media (max-width: $tablet-width) {
          position: static;
          animation: none;
        }
      }

      &:nth-child(2) {
        bottom: -15px;
        left: 80px;
        animation: rotateLeft 4.5s infinite linear;

        @media (max-width: $tablet-width) {
          position: static;
          animation: none;
        }
      }

      &:nth-child(3) {
        top: -11px;
        left: 70px;
        animation: rotateLeft 4s infinite linear;

        @media (max-width: $tablet-width) {
          position: static;
          animation: none;
        }
      }

      &:nth-child(4) {
        bottom: 45px;
        left: 230px;
        animation: rotateLeft 4.5s infinite linear;

        @media (max-width: $tablet-width) {
          position: static;
          animation: none;
        }
      }

      &:nth-child(5) {
        top: 40px;
        right: 5px;
        animation: rotateLeft 4s infinite linear;

        @media (max-width: $tablet-width) {
          position: static;
          animation: none;
        }
      }
    }

    img {
      border-radius: 15px;
      transition: all 0.3s linear;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

      @media (max-width: $tablet-width) {
        border-radius: 10px;
        max-width: 40px;
      }

      &:hover {
        transform: scale(1.2);
        transition: all 0.3s linear;
      }
    }
  }
}

.contacts__info {
  .contacts__text {
    margin-bottom: 20px;

    p {
      margin: 0;
      max-width: 360px;
      color: $dark-black;
    }
  }

  .button {
    margin-top: 30px;
    max-width: 350px;
  }

  @media (max-width: $desktop-width-min) {
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
    font-weight: $normal;
    font-family: $proximaNova;
    text-align: left;

    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 16px;
    }
  }

  h3 {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
    font-family: $proximaBold;
    color: $dark-red;

    @media (max-width: $desktop-width-min) {
      font-size: 33px;
      line-height: 33px;
    }

    @media (max-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
    }

    span {
      color: $dark-blue;
    }
  }
}

.contacts__form {
  margin-top: 30px;
  padding: 40px 54px;
  display: grid;
  grid-gap: 40px 0;
  background-color: $light-gray;
  border-radius: 5px;
  position: relative;
  border: solid 2px $white;

  form {
    max-width: 350px;
    display: grid;
    grid-gap: 30px 0;
  }
}

.map {
  position: relative;

  h2 {
    margin: 0 0 30px 0;
    color: $dark-blue;
    font-size: 24px;
    line-height: 24px;
    text-align: center;

    @media (max-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .ymaps-2-1-78-ground-pane {
    filter: grayscale(1);
  }

  &--color-none {
    .ymaps-2-1-78-ground-pane {
      filter: grayscale(0);
    }
  }
}

.contacts-btn {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px 0;
  position: absolute;
  top: 165px;
  left: 95px;
  z-index: 1;

  @media (max-width: $tablet-width) {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    grid-template-columns: repeat(3, 92px);
    grid-gap: 0 10px;
    padding: 0 10px;
  }

  button {
    min-width: 200px;
    padding: 12px 0;
    margin: 0;
    cursor: pointer;
    color: $white;
    font-size: 16px;
    line-height: 18px;
    border: none;
    background-image: linear-gradient(90deg, #8d2716 5.41%, #c9081f 89.5%);
    border-radius: 8px;
    box-shadow: -4px -4px 16px rgba(255, 255, 255, 0.8), 8px 8px 16px rgba(0, 0, 0, 0.25);
    outline: none;

    @media (max-width: $tablet-width) {
      min-width: auto;
      padding: 7px 0;
    }

    &:hover {
      background-image: linear-gradient(90.02deg, #e2031e 5.42%, #8d1400 94.13%);
      box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.8), 8px 8px 16px rgba(0, 0, 0, 0.3);
    }

    &:active {
      box-shadow: inset -3px -3px 5px rgba(255, 85, 106, 0.4), inset 5px 5px 10px rgba(80, 20, 11, 0.4);
    }

    &:disabled {
      background: #a0a0a0;
    }
  }

  .btn-active {
    background-image: linear-gradient(90deg, #8d2716 0%, #8d2716 100%);
    box-shadow: inset -3px -3px 5px rgba(255, 85, 106, 0.4), inset 5px 5px 10px rgba(80, 20, 11, 0.4);
  }
}
