.contacts {
  margin-bottom: 70px;

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.contacts__box-info {
  display: grid;
  grid-template-columns: 31% 35% auto;

  @media (max-width: $desktop-width) {
    grid-template-columns: 32% 28% auto;
  }

  @media (max-width: $desktop-width-min) {
    grid-template-columns: 50% 50%;
    grid-gap: 30px 0;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-gap: 130px 0;
  }

  h2 {
    text-align: center;
    text-transform: capitalize;

    @media (max-width: $tablet-width) {
      font-size: 14px;
      line-height: 14px;
    }

    span {
      font-size: 16px;
      line-height: 16px;
      text-transform: lowercase;
    }
  }

  .social-list {
    justify-content: flex-start;
  }

  .main-footer__contacts {
    display: grid;
  }
}

.contacts__image {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.contacts__social {
  position: relative;
  margin: 46% 50% 0 0;

  @media (max-width: $desktop-width) {
    margin: 60% 31% 0 0;
  }

  @media (max-width: $desktop-width-min) {
    margin: 60% 45% 0 0;
  }

  @media (max-width: $tablet-width) {
    margin: 30% 0 0 0;
  }

  h2 {
    @media (max-width: $tablet-width) {
      max-width: 125px;
      margin: 0 auto;
    }
  }

  .footer-social {
    width: 340px;
    height: 340px;
    position: absolute;
    top: -145px;
    left: -65px;
    animation: rotateRight1 15s infinite linear;

    @media (max-width: $desktop-width) {
      left: -95px;
    }

    @media (max-width: $desktop-width-min) {
      left: -75px;
    }

    @media (max-width: $tablet-width) {
      width: 120px;
      height: 120px;
      left: 30%;
      top: -80%;
      transform: translate(-50%, -50%);
    }

    li {
      width: 60px;
      height: 60px;
      position: absolute;

      @media (max-width: $tablet-width) {
        width: 40px;
        height: 40px;
      }

      &:nth-child(1) {
        top: 125px;
        left: -20px;
        animation: rotateLeft 4s infinite linear;

        @media (max-width: $tablet-width) {
          top: 0;
          left: -50px;
        }
      }

      &:nth-child(2) {
        bottom: 20px;
        left: 30px;
        animation: rotateLeft 4.5s infinite linear;

        @media (max-width: $tablet-width) {
          bottom: -20px;
          left: -35px;
        }
      }

      &:nth-child(3) {
        top: -15px;
        left: 85px;
        animation: rotateLeft 4s infinite linear;

        @media (max-width: $tablet-width) {
          top: -55px;
          left: 25px;
        }
      }

      &:nth-child(4) {
        bottom: -20px;
        left: 180px;
        animation: rotateLeft 4.5s infinite linear;

        @media (max-width: $tablet-width) {
          bottom: -55px;
          left: 45px;
        }
      }

      &:nth-child(5) {
        top: 170px;
        right: -15px;
        animation: rotateLeft 4s infinite linear;

        @media (max-width: $tablet-width) {
          top: -20px;
          right: -40px;
        }
      }

      &:nth-child(6) {
        top: 20px;
        right: 30px;
        animation: rotateLeft 4.5s infinite linear;

        @media (max-width: $tablet-width) {
          top: 75px;
          right: -50px;
        }
      }
    }

    img {
      border-radius: 15px;
      transition: all 0.3s linear;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

      @media (max-width: $tablet-width) {
        border-radius: 5px;
        max-width: 40px;
      }

      &:hover {
        transform: scale(1.2);
        transition: all 0.3s linear;
      }
    }
  }
}

.contacts__info {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px 0;

  @media (max-width: $desktop-width-min) {
    max-width: 430px;
    width: 100%;
    grid-column: 1 / 3;
    margin: 0 auto;
  }

  h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: $normal;
    font-family: $proximaNova;
    text-align: left;

    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 16px;
    }
  }

  h3 {
    font-size: 36px;
    line-height: 36px;
    font-family: $proximaBold;
    color: $dark-red;

    @media (max-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
    }

    span {
      color: $dark-blue;
    }
  }
}

.contacts__form {
  padding: 40px 54px;
  display: grid;
  grid-gap: 40px 0;
  background-color: $light-gray;
  border-radius: 5px;
  box-shadow: inset 4px 4px 15px rgba(255, 255, 255, 0.4),
    -10px -10px 20px rgba(255, 255, 255, 0.5),
    10px 10px 20px rgba(68, 69, 70, 0.1);
  position: relative;

  &::before {
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url('../img/svg/img-corners.svg');
    background-repeat: no-repeat;
    transform: rotate(90deg);
  }

  &::after {
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background-image: url('../img/svg/img-corners.svg');
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }

  p {
    margin: 0;
    font-family: $proximaBold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }

  form {
    max-width: 350px;
    display: grid;
    grid-gap: 30px 0;

    &::before {
      width: 50px;
      height: 50px;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      background-image: url('../img/svg/img-corners.svg');
      background-repeat: no-repeat;
      transform: rotate(0deg);
    }

    &::after {
      width: 50px;
      height: 50px;
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      background-image: url('../img/svg/img-corners.svg');
      background-repeat: no-repeat;
      transform: rotate(270deg);
    }
  }

  label {
    position: absolute;
    top: -5px;
    left: 0;
    cursor: text;
    transition: all 0.3s linear;
  }

  input {
    width: 100%;
    padding: 0;
    border: none;
    border-bottom: solid 1px $dark-black;
    outline: none;
    background-color: transparent;

    &:required {
      + label {
        &::after {
          position: absolute;
          content: "*";
          top: 0;
          right: -8px;
        }
      }
    }

    &:focus,
    &.not-empty {
      + label {
        transform: translateY(-20px);
        transition: all 0.3s linear;
      }
    }
  }

  textarea {
    width: 100%;
    min-height: 100px;
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: solid 1px $dark-black;
    outline: none;
    background-color: transparent;
    transition: all 0.3s linear;
    resize: none;

    &:focus,
    &.not-empty {
      + label {
        transform: translateY(-20px);
        transition: all 0.3s linear;
      }
    }
  }
}


.contacts__user-name,
.contacts__user-tel,
.contacts__user-email,
.contacts__user-comment {
  position: relative;
}
