.feedback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $light-gray;

  @media (max-width: $desktop-width) {
    grid-template-columns: 40% auto;
  }

  @media (max-width: $desktop-width-min) {
    grid-template-columns: 1fr;
  }
}

.feedback__wrapper-left {
  margin: 0 0 0 auto;
  padding: 100px 30px 20px 30px;
  max-width: 860px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;

  h1 {
    display: none;
  }

  @media (max-width: $desktop-width-min) {
    max-width: 100%;
    height: auto;
    padding: 100px 100px 20px 100px;

    h1 {
      margin: 0 0 30px 0;
      display: block;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 100px 15px 20px 15px;
  }
}

.feedback__wrapper-left::-webkit-scrollbar {
  width: 5px;
  background-color: $light-gray;
}

.feedback__wrapper-left::-webkit-scrollbar-thumb {
  background-color: $dark-blue;
  border-radius: 10px;
}

.feedback__wrapper-right {
  height: 100vh;
  padding-top: 75px;
  display: grid;
  box-shadow: -2px 0px 8px rgba(0, 48, 121, 0.3);

  @media (max-width: $desktop-width-min) {
    height: auto;
    padding-top: 0;
    box-shadow: none;

    h1 {
      display: none;
    }
  }

  h1 {
    text-align: left;
  }

  .main-footer {
    align-self: flex-end;

    .main-footer__wrapper {
      padding: 10px 30px;
      grid-template-columns: repeat(2, auto);
    }
  }
}

.feedback__box-title {
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px $dark-blue;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }

  strong {
    font-family: $proximaBold;
    font-size: 24px;
    line-height: 24px;

    @media (max-width: $desktop-width) {
      font-size: 20px;
      line-height: 20px;
    }

    @media (max-width: $tablet-width) {
      grid-row: 2;
      margin-top: 30px;
      text-align: center;
    }
  }

  a {
    width: 200px;
    padding: 13px 0;
    font-size: 16px;
    line-height: 16px;
  }
}

.feedback__box-logotypes {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, auto));
  justify-content: center;
  grid-gap: 30px 30px;

  @media (max-width: $desktop-width-min) {
    display: none;
  }

  article {
    min-height: 130px;
    background-color: $light-gray;
    border: solid 1px $white;
    border-radius: 5px;
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.3),
      10px 10px 20px rgba(68, 69, 70, 0.15),
      inset 4px 4px 15px rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.3s linear;
  }

  img {
    object-fit: none;
    transition: all 0.3s linear;
  }

  p {
    padding: 5px;
    margin: 0;
    text-align: center;
    background-color: $light-gray;
    transform: translateY(55%);
    transition: all 0.3s linear;
  }

  a {
    display: block;

    &:hover {
      .red {
        p {
          background-color: $red;
        }
      }

      .orange {
        p {
          background-color: $orange;
        }
      }

      .yellow {
        p {
          background: $yellow;
          color: $black;
          font-weight: $bold;
        }
      }

      .green {
        p {
          background-color: $green;
        }
      }

      .dark-green {
        p {
          background-color: $dark-green;
        }
      }

      .light-blue {
        p {
          background-color: $light-blue;
        }
      }

      .blue {
        p {
          background-color: $blue;
        }
      }

      .violet {
        p {
          background-color: $violet;
        }
      }

      .dark-pink {
        p {
          background-color: $dark-pink;
        }
      }

      .brown {
        p {
          background-color: #3e3728;
          font-weight: $normal;
        }
      }

      .black {
        p {
          background-color: $black;
        }
      }

      img {
        transform: translateY(-30%);
        transition: all 0.3s linear;
      }

      p {
        transition: all 0.3s linear;
        transform: translateY(-50%);
        color: $white;
        font-weight: $normal;
      }
    }
  }
}

.feedback__box {
  position: relative;
  max-width: 700px;
  padding: 0 70px;

  @media (max-width: $desktop-width) {
    padding: 0 30px;
  }

  @media (max-width: $desktop-width-min) {
    padding: 0 100px;
    max-width: 100%;
  }

  @media (max-width: $tablet-width) {
    padding: 0 15px;
  }

  article {
    margin-bottom: 60px;
    display: none;

    @media (max-width: $desktop-width-min) {
      display: block;
    }

    p {
      max-width: 550px;
      margin: 15px 0 30px 0;
      font-family: $proximaBold;
      font-style: italic;
      grid-column: 1 / 3;
    }

    img {
      max-width: 225px;

      @media (max-width: $tablet-width) {
        max-width: 125px;
      }
    }

    iframe {
      width: 100%;
      height: 340px;
      border: none;
      display: block;
    }
  }

  .feedback-active {
    display: block;
  }
}

.feedback__title {
  display: grid;
  grid-template-columns: auto;
  align-items: center;

  strong {
    font-family: $proximaBold;
    font-size: 24px;
    line-height: 36px;

    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  span {
    display: block;

    @media (max-width: $tablet-width) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
