.feedback__box {
  position: relative;
  margin-bottom: 60px;

  article {
    p {
      max-width: 550px;
      margin: 30px 0;
      font-family: $proximaBold;
      font-style: italic;
      grid-column: 1 / 3;
    }

    img {
      &:nth-child(1) {
        max-width: 100px;
        border-radius: 50%;
        border: solid 3px $dark-blue;
        box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.3), 10px 10px 20px rgba(68, 69, 70, 0.15);
      }
    }

    iframe {
      width: 100%;
      height: 340px;
      border: none;
      display: block;
    }
  }
}

.feedback__title {
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
  grid-gap: 0 30px;

  strong {
    font-family: $proximaBold;
    font-size: 24px;
    line-height: 36px;
  }

  span {
    display: block;
  }
}
