.main-header {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
}

.main-header__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 38px;
  }

  a {
    font-size: 18px;
    line-height: 18px;
    color: $dark-black;
  }
}
