.intro__wrapper {
  min-height: 1060px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 54% 41%;
  grid-gap: 0 5%;

  @media (max-width: $desktop-width) {
    grid-gap: 0 0;
    grid-template-columns: 50% 44%;
  }

  @media (max-width: $desktop-width-min) {
    padding: 90px 150px 190px 150px;
    grid-template-columns: 1fr;
  }

  @media (max-width: $tablet-width) {
    min-height: auto;
  }

  @media (max-width: $tablet-width) {
    max-width: 430px;
    padding: 130px 15px 90px 15px;
  }

  .intro__link {
    @media (max-width: $desktop-width-min) {
      display: none;
    }

    &--tablet {
      display: none;

      @media (max-width: $desktop-width-min) {
        margin-top: 60px;
        display: grid;
      }

      @media (max-width: $tablet-width) {
        max-width: 200px;
        margin-top: 0;
        justify-self: flex-start;
      }
    }
  }
}

.intro__box {
  h1 {
    margin: 0 0 35px 0;
    font-size: 36px;
    line-height: 54px;
    color: $dark-blue;
    text-align: left;
    text-transform: uppercase;

    @media (max-width: $desktop-width-min) {
      font-size: 24px;
      line-height: 36px;
    }

    @media (max-width: $tablet-width) {
      font-size: 22px;
      line-height: 32px;
    }
  }
}

.intro__list {
  @include reset-list;

  h2 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 31px;
  }

  p {
    margin: 0;

    strong {
      color: $dark-red;
    }
  }
}

.intro__link-box {
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-gap: 0 25px;
  align-items: center;

  @media (max-width: $desktop-width) {
    grid-template-columns: 150px 250px;
    justify-content: center;

    img {
      max-width: 150px;
    }
  }

  &:hover {
    color: $dark-red;
    font-family: $proximaNova;
  }
}

.intro__box-swiper-wrapper {
  height: 415px;
  position: relative;
  background-image: url("../img/svg/bckg-slide-main.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  @media (max-width: $tablet-width) {
    display: none;
  }

  .swiper-container {
    position: static;
    height: 200px;
  }

  .swiper-pagination {
    right: -35px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .swiper-pagination-bullet {
    background: $dark-blue;
    opacity: 1;
    width: 12px;
    height: 5px;
    border-radius: 0;
    outline: none;

    &:hover {
      background: $dark-red;
      width: 20px;
    }
  }

  .swiper-pagination-bullet-active {
    background: $dark-red;
    width: 20px;
    height: 7px;
  }
}
