@keyframes show {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }

  100% {
    transform: translateY(5%);
    opacity: 1;
  }
}

@keyframes show-space-bottom {
  0% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(10%);
  }
}

@keyframes show-space-top {
  0% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(5%);
  }
}

@keyframes teams-svg-top {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(15%);
  }
}

@keyframes teams-svg-bottom {
  0% {
    transform: translateY(15%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes rotateRight1 {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(450deg);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
