.main-header {
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: $light-gray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.main-header__wrapper {
  display: grid;
  grid-template-columns: 17% auto;
  align-items: center;

  @media (max-width: $desktop-width-min) {
    min-height: 65px;
    padding: 0 15px;
    grid-gap: 0 20px;
    grid-template-columns: 1fr auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: $light-gray;
  }

  @media (max-width: $tablet-width) {
    grid-gap: 0;
    grid-template-columns: 1fr auto auto;
  }
}

.main-header__tel {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1;
  grid-template-columns: repeat(3, auto);
  justify-self: flex-end;
  align-items: center;
  grid-gap: 0 20px;
  font-size: 15px;
  line-height: 15px;

  @media (max-width: $desktop-width-min) {
    padding: 10px;
    position: absolute;
    top: 65px;
    right: 20px;
    grid-template-columns: 1fr;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f5f9ff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    font-size: 18px;
    line-height: 21px;
  }

  @media (max-width: $tablet-width) {
    right: 0;
    border-bottom-right-radius: 0;
  }

  &--active {
    display: grid;
    grid-gap: 12px 0;
  }

  a:hover {
    font-weight: $normal;
    color: $dark-black;

    @media (max-width: $desktop-width-min) {
      color: $dark-red;
    }
  }
}

.main-header__social {
  grid-row: 1;
  grid-gap: 0 5px;
  grid-template-columns: 1fr;
  display: none;

  @media (max-width: $desktop-width-min) {
    display: grid;
    margin-top: 5px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 3px;
  }

  ul {
    @include reset-list;
    position: absolute;
    top: 65px;
    right: 140px;
    background-color: $light-gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    grid-template-columns: repeat(5, auto);
    grid-gap: 0 15px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @media (max-width: $tablet-width) {
      right: 0;
      border-bottom-right-radius: 0;
    }
  }

  .main-header__social-btn {
    padding-right: 10px;
    position: relative;

    &::before {
      width: 8px;
      height: 2px;
      position: absolute;
      content: "";
      top: 16px;
      right: -2px;
      background-color: $blue;
      transform: rotate(45deg);

      @media (max-width: $tablet-width) {
        top: 14px;
      }
    }

    &::after {
      width: 8px;
      height: 2px;
      position: absolute;
      content: "";
      top: 16px;
      right: -7px;
      background-color: $blue;
      transform: rotate(-45deg);

      @media (max-width: $tablet-width) {
        top: 14px;
      }
    }

    img {
      max-width: 35px;
    }
  }

  img {
    max-width: 35px;
    display: block;
  }

  &--active {
    ul {
      display: grid;
    }
  }
}

.main-header__link-phone {
  display: grid;
  grid-template-columns: 25px auto;
  align-items: center;

  @media (max-width: $desktop-width-min) {
    position: relative;
    grid-template-columns: auto auto;

    img {
      display: none;
    }
  }
}

.main-header__nav-box {
  display: grid;
  grid-template-columns: 66% auto;
  padding-top: 5px;

  @media (max-width: $desktop-width-min) {
    grid-gap: 0 30px;
    grid-template-columns: repeat(2, auto);
    padding-top: 0;
  }

  @media (max-width: $tablet-width) {
    grid-gap: 0 20px;
    grid-template-columns: 1fr;
  }
}

.main-header__logo {
  max-width: 140px;

  @media (max-width: $desktop-width-min) {
    max-width: 120px;
  }

  img {
    display: block;
  }
}

.main-header__list {
  @include reset-list;
  max-width: 640px;
  display: grid;
  grid-template-columns: repeat(7, auto);
  flex-wrap: wrap;
  text-align: center;

  @media (max-width: $desktop-width) {
    margin: 0 auto;
  }

  @media (max-width: $desktop-width-min) {
    max-width: 100%;
    width: 100%;
    padding-top: 40px;
    grid-template-columns: auto;
  }

  a {
    font-size: 18px;
    line-height: 18px;

    @media (max-width: $desktop-width-min) {
      padding: 10px 0;
      font-size: 24px;
      line-height: 24px;
      color: $white;
      font-family: $proximaBold;
      display: block;
    }
  }

  .main-header__item-active {
    a {
      font-weight: $bold;
      color: $dark-red;

      @media (max-width: $desktop-width-min) {
        color: rgba(232, 169, 180, 0.6);
      }
    }
  }
}

.main-header__wrap-menu-nav {
  display: grid;
  align-items: center;
  padding-top: 10px;

  @media (max-width: $desktop-width-min) {
    grid-column: 3;
    padding-top: 0;
  }
}

.main-header__box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 30px;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: $desktop-width-min) {
    grid-column: 2;
    grid-row: 1;
    grid-gap: 0 30px;
    grid-template-columns: 40px auto;
  }

  @media (max-width: $tablet-width) {
    grid-gap: 0 0;
    grid-template-columns: 1fr;

    .social-list {
      display: none;
    }
  }

  .main-header__box-phone {
    @media (max-width: $desktop-width-min) {
      padding-right: 10px;
      position: relative;

      &::before {
        width: 8px;
        height: 2px;
        position: absolute;
        content: "";
        top: 13px;
        right: 5px;
        background-color: $blue;
        transform: rotate(45deg);

        @media (max-width: $tablet-width) {
          top: 12px;
        }
      }

      &::after {
        width: 8px;
        height: 2px;
        position: absolute;
        content: "";
        top: 13px;
        right: 0;
        background-color: $blue;
        transform: rotate(-45deg);

        @media (max-width: $tablet-width) {
          top: 12px;
        }
      }
    }

    &:hover {
      span {
        color: $dark-red;
        border-bottom: dashed 1px $dark-red;
      }
    }

    img {
      display: none;

      @media (max-width: $desktop-width-min) {
        max-width: 27px;
        display: block;
      }
    }

    span {
      color: $dark-blue;
      font-family: $proximaBold;
      border-bottom: dashed 1px $dark-blue;

      @media (max-width: $desktop-width-min) {
        display: none;
      }
    }
  }

  &-tablet {
    display: none;
    padding-bottom: 70px;

    @media (max-width: $desktop-width-min) {
      display: grid;

      a {
        padding: 10px 0;
        font-family: $proximaBold;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: $white;
        display: block;

        &:active {
          color: $dark-blue;
        }
      }
    }

    .main-header__box-info {
      display: none;

      @media (max-width: $desktop-width-min) {
        display: block;

        a:nth-child(4) {
          span {
            border-bottom: dashed 2px $white;
          }
        }
      }

      @media (max-width: $tablet-width) {
        a {
          font-size: 18px;
          line-height: 18px;

          &:nth-child(4) {
            font-size: 24px;
            line-height: 24px;
          }
        }
      }
    }

    .social-list--tablet {
      display: none;

      @media (max-width: $tablet-width) {
        display: grid;
      }
    }
  }
}

.main-header__wrap-menu {
  @media (max-width: $desktop-width-min) {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 65px;
    left: 0;
    display: none;
    overflow-y: scroll;

    &--active {
      display: grid;
      z-index: -2;
      background-image: linear-gradient(271.23deg, #a62e41 4.07%, #e13152 96.09%);
    }
  }
}

.main-header__btn {
  display: none;
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  position: relative;

  &--closed {
    @media (max-width: $desktop-width-min) {
      display: block;

      span {
        position: absolute;
        width: 25px;
        height: 2px;
        top: 14px;
        left: 13px;
        background-color: $dark-black;
        border-radius: 2px;
        overflow: hidden;
        transition: all 1s linear;

        &::before {
          content: "";
          position: absolute;
          width: 0;
          top: 0;
          left: 0;
          transition: all 0.7s linear;
        }

        &:nth-child(1) {
          animation: span-first-off 0.5s ease-in-out;
          animation-fill-mode: forwards;
        }

        &:nth-child(2) {
          animation: span-second-off 0.5s ease-in-out;
          animation-fill-mode: forwards;
        }

        &:nth-child(3) {
          animation: span-third-off 0.5s ease-in-out;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  &--opened {
    @media (max-width: $desktop-width-min) {
      display: block;

      span {
        position: absolute;
        width: 25px;
        height: 2px;
        top: 14px;
        left: 13px;
        background-color: $dark-black;
        border-radius: 2px;
        overflow: hidden;
        transition: all 1s linear;

        &::before {
          content: '';
          position: absolute;
          width: 0;
          top: 0;
          left: 0;
          transition: all 0.7s linear;
        }

        &:nth-child(1) {
          animation: span-first-on 0.5s ease-in-out;
          animation-fill-mode: forwards;
        }

        &:nth-child(2) {
          animation: span-second-on 0.5s ease-in-out;
          animation-fill-mode: forwards;
        }

        &:nth-child(3) {
          animation: span-third-on 0.5s ease-in-out;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

.main-header__services-box {
  display: none;

  @media (max-width: $tablet-width) {
    display: grid;
  }
}

.main-header__services-nav {
  width: 100%;
  height: 100vh;
  padding-top: 65px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $light-gray;
  z-index: -2;

  h1 {
    margin: 0;
    padding: 25px 0;
  }

  &--closed {
    display: none;
  }

  &--opened {
    display: grid;
    grid-template-rows: 70px auto;
    overflow-y: scroll;
  }
}

.main-header__services-list {
  @include reset-list;
  padding: 0 30px 30px 30px;
  display: grid;
  grid-gap: 25px 0;

  li {
    width: 100%;
  }

  a {
    padding-left: 25px;
    font-size: 16px;
    line-height: 16px;
    box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.8),
    8px 8px 16px rgba(186, 198, 216, 0.8);
    border-radius: 10px;
    display: grid;
    grid-gap: 0 10px;
    grid-template-columns: 50px 130px;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $dark-blue;
    }

    &:active {
      box-shadow: inset -5px -5px 5px rgba(240, 242, 243, 0.5),
      inset 5px 5px 10px rgba(166, 180, 200, 0.75);
    }
  }

  img {
    max-width: 48px;
  }
}

.main-header__stage-box {
  width: 100%;
  padding-top: 65px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-header__stage-nav {
  height: 100vh;
  background-color: $light-gray;

  h1 {
    margin: 0;
    padding: 25px 0;
  }

  &--closed {
    display: none;
  }

  &--opened {
    display: grid;
    grid-template-rows: 70px auto;
    overflow-y: scroll;
  }
}

.main-header__stage-list {
  @include reset-list;
  padding: 0 30px 90px 30px;
  display: grid;
  grid-gap: 25px 0;

  li {
    width: 100%;
  }

  a {
    padding: 10px 0;
    font-size: 24px;
    line-height: 24px;
    box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.8),
      8px 8px 16px rgba(186, 198, 216, 0.8);
    border-radius: 10px;
    text-align: center;
    display: grid;

    &:hover {
      color: $dark-blue;
    }

    &:active {
      box-shadow: inset -5px -5px 5px rgba(240, 242, 243, 0.5),
        inset 5px 5px 10px rgba(166, 180, 200, 0.75);
    }
  }
}

.main-header__link-stage,
.main-header__services {
  display: none;

  @media (max-width: $tablet-width) {
    width: 64px;
    height: 64px;
    display: grid;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 2;
    background-color: $light-gray;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 65px;

    &--closed {
      background-image: url("../img/svg/icon-stage.svg");
      background-repeat: no-repeat;
      background-position: 12px 14px;
    }

    &--opened {
      background-image: url("../img/svg/icon-stage-active.svg");
      background-repeat: no-repeat;
      background-position: 12px 14px;
      box-shadow: none;
    }
  }
}

.main-header__link-services,
.main-header__stage-link {
  position: relative;
  padding-bottom: 10px;

  ul {
    display: none;
  }

  @media (min-width: $desktop-width-min) {
    &:hover {
      ul {
        @include reset-list;
        padding: 15px 0;
        width: 355px;
        position: absolute;
        top: 34px;
        left: 0;
        background-color: $light-gray;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        columns: 2;
        display: inline-block;

        a {
          padding-left: 15px;
          border-left: solid 2px transparent;
          display: block;
          margin-bottom: 10px;
          text-align: left;
          color: $dark-black;
          font-weight: $normal;

          &:hover {
            color: $dark-red;
            border-left: solid 2px $blue;
          }
        }
      }
    }
  }
}
