.main-header {
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: $light-gray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.main-header__wrapper {
  display: grid;
  grid-template-columns: 17% 58% auto;
  min-height: 75px;
  align-items: center;

  @media (max-width: $desktop-width) {
    grid-template-columns: 13% 58% auto;
    position: relative;
  }

  @media (max-width: $desktop-width-min) {
    grid-template-columns: 20% 70% auto;
  }

  @media (max-width: $tablet-width) {
    min-height: 65px;
    grid-template-columns: 1fr auto auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: $light-gray;
  }
}

.main-header__logo {
  max-width: 140px;

  @media (max-width: $desktop-width-min) {
    max-width: 120px;
  }
}

.main-header__list {
  @include reset-list;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  flex-wrap: wrap;
  text-align: center;

  @media (max-width: $desktop-width) {
    margin: 0 auto;
  }

  @media (max-width: $desktop-width-min) {
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    max-width: 100%;
    width: 100%;
    padding-top: 40px;
    grid-template-columns: auto;
  }

  a {
    font-size: 18px;
    line-height: 18px;

    @media (max-width: $tablet-width) {
      padding: 10px 0;
      font-size: 24px;
      line-height: 24px;
      color: $white;
      font-family: $proximaBold;
      display: block;
    }
  }

  .main-header__item-active {
    a {
      font-weight: $bold;
      color: $dark-red;
    }
  }
}

.main-header__box {
  display: grid;
  grid-template-columns: 62% 36%;
  grid-column-gap: 10px;
  align-items: center;

  @media (max-width: $desktop-width-min) {
    grid-template-columns: auto auto;
    justify-content: center;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }

  .main-header__social {
    display: none;

    @media (max-width: $desktop-width-min) {
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      cursor: pointer;

      &::before {
        width: 8px;
        height: 2px;
        position: absolute;
        content: "";
        top: 10px;
        right: 8px;
        background-color: $dark-blue;
        transform: rotate(45deg);
      }

      &::after {
        width: 8px;
        height: 2px;
        position: absolute;
        content: "";
        top: 10px;
        right: 3px;
        background-color: $dark-blue;
        transform: rotate(-45deg);
      }

      &:hover + .social-list {
        display: block;
      }
    }

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &-tablet {
    display: none;

    @media (max-width: $tablet-width) {
      width: 100%;
      display: block;
      text-align: center;

      a {
        padding: 10px 0;
        font-family: $proximaBold;
        font-size: 24px;
        line-height: 24px;
        color: $white;
        display: block;

        &:hover {
          color: $dark-blue;
        }
      }
    }
  }
}

.main-header__wrap-menu {
  @media (max-width: $tablet-width) {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 65px;
    left: 0;
    display: none;

    &--active {
      display: grid;
      z-index: -2;
      background-image: linear-gradient(271.23deg, #a62e41 4.07%, #e13152 96.09%);
    }
  }
}

.main-header__link-phone {
  display: grid;
  grid-template-columns: 8% auto;

  @media (max-width: $desktop-width-min) {
    padding: 10px;
    grid-template-columns: auto;
    position: relative;
  }

  span {
    margin-left: 6%;

    @media (max-width: $desktop-width-min) {
      display: none;
    }
  }
}

.main-header__btn {
  display: none;

  @media (max-width: $tablet-width) {
    width: 20px;
    height: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    position: relative;
  }

  &--closed {
    @media (max-width: $tablet-width) {
      width: 20px;
      height: 15px;
      padding: 0;
      border: none;
      background-color: transparent;
      box-shadow: inset 0 -2px 0 0 $dark-black;
      cursor: pointer;
      outline: none;
      position: relative;
      display: block;

      &::before {
        width: 100%;
        height: 2px;
        position: absolute;
        content: "";
        top: 1px;
        left: 0;
        background-color: $dark-black;
      }

      &::after {
        width: 100%;
        height: 2px;
        position: absolute;
        content: "";
        bottom: 6px;
        left: 0;
        background-color: $dark-black;
      }
    }
  }

  &--opened {
    @media (max-width: $tablet-width) {
      display: block;

      &::before {
        width: 100%;
        height: 2px;
        position: absolute;
        content: "";
        top: 7px;
        left: 0;
        background-color: $dark-black;
        transform: rotate(45deg);
      }

      &::after {
        width: 100%;
        height: 2px;
        position: absolute;
        content: "";
        bottom: 6px;
        left: 0;
        background-color: $dark-black;
        transform: rotate(-45deg);
      }
    }
  }
}

.main-header__services-box {
  display: none;

  @media (max-width: $tablet-width) {
    display: grid;
  }
}

.main-header__link-services {
  display: none;

  @media (max-width: $tablet-width) {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 6px;
    display: grid;

    &--closed {
      background-image: url("../img/svg/icon-box.svg");
      background-repeat: no-repeat;
    }

    &--opened {
      background-image: url("../img/svg/icon-box-active.svg");
      background-repeat: no-repeat;
    }
  }
}

.main-header__services-nav {
  width: 100%;
  height: 100vh;
  padding-top: 65px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $light-gray;
  z-index: -2;

  h1 {
    margin: 0;
    padding: 25px 0;
  }

  &--closed {
    display: none;
  }

  &--opened {
    display: grid;
    grid-template-rows: 70px auto;
  }
}

.main-header__services-list {
  @include reset-list;
  padding: 0 30px 30px 30px;
  display: grid;
  grid-gap: 25px 0;

  li {
    width: 100%;
  }

  a {
    padding-left: 25px;
    font-size: 16px;
    line-height: 16px;
    box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.8),
    8px 8px 16px rgba(186, 198, 216, 0.8);
    border-radius: 10px;
    display: grid;
    grid-gap: 0 10px;
    grid-template-columns: 50px 130px;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $dark-blue;
    }

    &:active {
      box-shadow: inset -5px -5px 5px rgba(240, 242, 243, 0.5),
      inset 5px 5px 10px rgba(166, 180, 200, 0.75);
    }
  }

  img {
    max-width: 48px;
  }
}

.main-header__stage-box {
  width: 100%;
  padding-top: 65px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-header__stage-nav {
  height: 100vh;
  background-color: $light-gray;

  h1 {
    margin: 0;
    padding: 25px 0;
  }

  &--closed {
    display: none;
  }

  &--opened {
    display: grid;
    grid-template-rows: 70px auto;
    overflow-y: scroll;
  }
}

.main-header__stage-list {
  @include reset-list;
  padding: 0 30px 90px 30px;
  display: grid;
  grid-gap: 25px 0;

  li {
    width: 100%;
  }

  a {
    padding: 10px 0;
    font-size: 24px;
    line-height: 24px;
    box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.8),
      8px 8px 16px rgba(186, 198, 216, 0.8);
    border-radius: 10px;
    text-align: center;
    display: grid;

    &:hover {
      color: $dark-blue;
    }

    &:active {
      box-shadow: inset -5px -5px 5px rgba(240, 242, 243, 0.5),
        inset 5px 5px 10px rgba(166, 180, 200, 0.75);
    }
  }
}

.main-header__link-stage {
  display: none;

  @media (max-width: $tablet-width) {
    width: 64px;
    height: 64px;
    display: grid;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 2;
    background-color: $light-gray;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 65px;

    &--closed {
      background-image: url("../img/svg/icon-stage.svg");
      background-repeat: no-repeat;
      background-position: 12px 14px;
    }

    &--opened {
      background-image: url("../img/svg/icon-stage-active.svg");
      background-repeat: no-repeat;
      background-position: 12px 14px;
    }
  }
}
