.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    margin-right: 0;
  }
}

.modal-consultation {
  display: none;
}

.modal-consultation__wrapper {
  max-width: 400px;
  width: 100%;
  position: relative;

  @media (max-width: $mobile-width) {
    padding: 0 10px;
  }

  .contacts__form {
    box-shadow: none;
    background-color: #dfecfc;

    @media (max-width: $mobile-width) {
      padding: 40px 40px;
    }

    &::before,
    &::after {
      display: none;
    }

    form {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.modal__btn-closed {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;

  @media (max-width: $mobile-width) {
    top: 7px;
    right: 17px;
  }

  &::before {
    width: 19px;
    height: 2px;
    position: absolute;
    content: "";
    top: 9px;
    left: 0;
    background-color: $dark-black;
    transform: rotate(45deg);
  }

  &::after {
    width: 19px;
    height: 2px;
    position: absolute;
    content: "";
    top: 9px;
    left: 0;
    background-color: $dark-black;
    transform: rotate(-45deg);
  }
}


.modal-thanks {
  display: none;

  @media (max-width: $tablet-width) {
    padding: 0 10px;
  }

  .modal__image {
    margin-top: 40px;
    grid-row: 2;
    grid-column: 1 / 3;
    justify-self: flex-end;
    display: grid;

    @media (max-width: $mobile-width) {
      grid-row: 3;
      background-color: $white;
    }

    img {
      max-width: 400px;
      display: block;

      &:nth-child(1) {
        max-width: 145px;
        margin: 0 20px -70px 0;
        z-index: 1;
        justify-self: self-end;
        animation: services-icon-movement;
        animation-duration: 3.2s;
        animation-delay: 0s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-play-state: running;

        @media (max-width: $mobile-width) {
          max-width: 120px;
          margin: 0 5px -55px 0;
        }
      }
    }
  }
}

.modal__wrapper {
  position: relative;
  max-width: 550px;
  width: 100%;
  background-color: $white;
  display: grid;
  grid-template-columns: 70% auto;

  @media (max-width: $mobile-width) {
    max-width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: 44% 1fr;
  }

  .modal__btn-closed {
    @media (max-width: $tablet-width) {
      top: 7px;
      right: 10px;
    }
  }
}

.modal__box {
  margin: 40px 0 -60px 40px;
  position: relative;
  z-index: 1;
  grid-column: 1;
  grid-row: 1 / 3;

  h3 {
    margin: 0 0 10px 0;
    font-family: $proximaBold;
    font-size: 24px;
    line-height: 24px;
    color: $dark-blue;
  }

  p {
    margin: 0 0 10px 0;
  }

  img {
    display: block;
  }

  .button {
    max-width: 210px;

    @media (max-width: $tablet-width) {
      max-width: 180px;

      span {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}

.modal-development {
  padding: 0 10px;
  display: none;

  .modal__wrapper {
    grid-template-columns: 70% auto;

    @media (max-width: $mobile-width) {
      grid-template-columns: 1fr;
      grid-template-rows: 67% 1fr;
    }
  }

  p {
    max-width: 275px;

    @media (max-width: $mobile-width) {
      max-width: 235px;
    }
  }

  .modal__image {
    margin-top: 70px;
    grid-row: 2;
    grid-column: 1 / 3;
    justify-self: flex-end;
    display: grid;

    @media (max-width: $mobile-width) {
      grid-row: 3;
      background-color: $white;
    }

    @media (max-width: $mobile-width) {
      margin-top: 0;
    }

    img {
      max-width: 400px;
      display: block;

      &:nth-child(1) {
        max-width: 145px;
        margin: 0 20px -70px 0;
        justify-self: self-end;
        animation: services-icon-movement;
        animation-duration: 3.2s;
        animation-delay: 0s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-play-state: running;

        @media (max-width: $mobile-width) {
          max-width: 130px;
          margin: 0 5px -70px 0;
        }
      }
    }
  }

  .modal__btn-closed {
    @media (max-width: $tablet-width) {
      right: 10px;
    }
  }
}

.modal-active {
  display: flex;
}
