.modal {
  padding: 0 10px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  h3 {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: $dark-blue;

    @media (max-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  form {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    .button {
      font-size: 16px;
      line-height: 16px;
      width: 200px;
    }
  }
}

.modal-consultation {
  display: none;
}

.modal-consultation__wrapper {
  max-width: 400px;
  width: 100%;
  position: relative;

  .contacts__form {
    box-shadow: none;

    @media (max-width: $mobile-width) {
      padding: 40px 40px;
    }

    &::before,
    &::after {
      display: none;
    }

    form {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.modal__btn-closed {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;

  &:hover {
    animation: rotateClose 0.3s ease-out;
  }

  @media (max-width: $tablet-width) {
    top: 10px;
    right: 10px;
  }

  &::before {
    width: 19px;
    height: 2px;
    position: absolute;
    content: "";
    top: 9px;
    left: 0;
    background-color: $dark-black;
    transform: rotate(45deg);
  }

  &::after {
    width: 19px;
    height: 2px;
    position: absolute;
    content: "";
    top: 9px;
    left: 0;
    background-color: $dark-black;
    transform: rotate(-45deg);
  }
}


.modal-thanks {
  display: none;

  .modal__image {
    margin-top: 40px;
    grid-row: 2;
    grid-column: 1 / 3;
    justify-self: flex-end;
    display: grid;

    @media (max-width: $mobile-width) {
      grid-row: 3;
      background-color: $white;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    img {
      max-width: 400px;
      display: block;
      border-bottom-right-radius: 10px;

      &:nth-child(1) {
        max-width: 165px;
        margin: 0 10px -70px 0;
        z-index: 1;
        justify-self: self-end;
        animation: services-icon-movement;
        animation-duration: 2.5s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-play-state: running;

        @media (max-width: $mobile-width) {
          max-width: 120px;
          margin: 0 5px -55px 0;
        }
      }
    }
  }
}

.modal__wrapper {
  position: relative;
  max-width: 550px;
  width: 100%;
  background-color: $white;
  display: grid;
  grid-template-columns: 70% auto;
  border-radius: 10px;

  @media (max-width: $mobile-width) {
    max-width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: 44% 1fr;
  }

  .modal__btn-closed {
    @media (max-width: $tablet-width) {
      top: 7px;
      right: 10px;
    }
  }
}

.modal__box {
  margin: 40px 0 -60px 40px;
  position: relative;
  z-index: 1;
  grid-column: 1;
  grid-row: 1 / 3;

  h3 {
    margin: 0 0 10px 0;
    font-family: $proximaBold;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    color: $dark-blue;
  }

  p {
    margin: 0 0 10px 0;
  }

  img {
    display: block;
  }

  .button {
    max-width: 210px;

    @media (max-width: $tablet-width) {
      max-width: 180px;

      span {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}

.modal-development {
  display: none;

  .modal__wrapper {
    grid-template-columns: 70% auto;
    border-radius: 10px;

    @media (max-width: $mobile-width) {
      grid-template-columns: 1fr;
      grid-template-rows: 67% 1fr;
    }
  }

  p {
    max-width: 275px;

    @media (max-width: $mobile-width) {
      max-width: 235px;
    }
  }

  .modal__image {
    margin-top: 70px;
    grid-row: 2;
    grid-column: 1 / 3;
    justify-self: flex-end;
    display: grid;

    @media (max-width: $mobile-width) {
      grid-row: 3;
      background-color: $white;
    }

    @media (max-width: $mobile-width) {
      margin-top: 0;
    }

    img {
      max-width: 400px;
      display: block;
      border-bottom-right-radius: 10px;

      &:nth-child(1) {
        max-width: 150px;
        margin: 0 15px -70px 0;
        justify-self: self-end;
        animation: services-icon-movement;
        animation-duration: 2.5s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-play-state: running;

        @media (max-width: $mobile-width) {
          max-width: 130px;
          margin: 0 5px -70px 0;
        }
      }
    }
  }
}

.modal-feedback,
.modal-analysis {
  display: none;
}

.modal-feedback__wrapper,
.modal-analysis__wrapper {
  max-width: 400px;
  width: 100%;
  position: relative;
}

.modal__form,
.contacts__form {
  padding: 30px 50px;
  display: grid;
  grid-gap: 25px 0;
  background-color: $light-gray;
  border-radius: 10px;
  position: relative;

  @media (max-width: $tablet-width) {
    padding: 30px;
  }

  form {
    display: grid;
    grid-gap: 30px 0;
  }

  label {
    position: absolute;
    top: -5px;
    left: 0;
    cursor: text;
    transition: all 0.3s linear;
  }

  input {
    width: 100%;
    padding: 0;
    border: none;
    border-bottom: solid 1px $dark-black;
    outline: none;
    background-color: transparent;

    &:required {
      ~ label {
        &::after {
          position: absolute;
          content: "*";
          top: 0;
          right: -8px;
        }
      }
    }

    &:focus,
    &.not-empty {
      ~ label {
        color: #666666;
        font-size: 15px;
        transform: translateY(-15px);
        transition: all 0.3s linear;
      }
    }
  }

  textarea {
    width: 100%;
    min-height: 100px;
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: solid 1px $dark-black;
    outline: none;
    background-color: transparent;
    transition: all 0.3s linear;
    resize: none;

    &:focus,
    &.not-empty {
      + label {
        color: #666666;
        font-size: 15px;
        transform: translateY(-15px);
        transition: all 0.3s linear;
      }
    }
  }
}

.modal__user-name,
.modal__user-email,
.modal__user-position,
.modal__user-company,
.modal__user-comment,
.modal__user-phone,
.modal__user-site {
  position: relative;
}

.modal-active {
  display: flex;
}

.modal__user-phone .error,
.modal__user-name .error,
.modal__user-position .error,
.modal__user-company .error {
  border-bottom: solid 1px $dark-red;
  color: $dark-black;
}

.modal__user-phone #user_phone-error,
.modal__user-name #user_name-error,
.modal__user-position #user_position-error,
.modal__user-company #user_company-error {
  border: none;
  font-size: 14px;
  line-height: 14px;
  color: $dark-red;
}
