.services__wrapper {
  h1 {
    margin: 20px 0 25px 0;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: $black;
  }
}

.services__boxes-list {
  @include reset-list;
  display: grid;
  grid-template-columns: 10%;

  li {
    height: 12vh;
    transform: translate(-20px, 0);
  }

  a {
    position: relative;
    display: block;

    img {
      transition: all 0.5s;
    }

    span {
      z-index: 1;
    }

    &:hover {
      &::before {
        width: 118px;
        height: 54px;
        position: absolute;
        content: "";
        top: 76px;
        left: 58px;
        background-color: $pink;
        transform: skewY(-21deg);
        transition: all 0.5s;
      }

      &::after {
        width: 85px;
        height: 56px;
        position: absolute;
        content: "";
        top: 52px;
        left: 175px;
        background-image: url("../img/boxes/hover-pink-bckg.svg");
        background-repeat: no-repeat;
        background-size: 83px 56px;
      }

      img {
        transform: translate(20px, 0);
        transition: all 0.5s;
      }

      span {
        top: 91px;
        right: 130px;
      }
    }
  }

  span {
    color: $black;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: absolute;
    top: 95px;
    right: 145px;
    transform: skewY(-20deg);
  }
}
