.services__box-wrapper {
  display: grid;
  grid-template-rows: auto;

  h3 {
    font-family: $proximaBold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: $middle-blue;

    @media (max-width: $desktop-width-min) {
      font-size: 16px;
      color: $dark-blue;
    }
  }
}

.services__box {
  display: grid;
  grid-template-columns: 48% 600px 21%;

  @media (max-width: $desktop-width) {
    grid-template-columns: 48% 520px 21%;
  }

  @media (max-width: $desktop-width-min) {
    grid-template-columns: 1fr;
  }

  h3 {
    font-family: $proximaBold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: $middle-blue;

    @media (max-width: $desktop-width-min) {
      font-size: 16px;
      color: $dark-blue;
    }
  }
}

.services__box-text {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-gap: 20px 0;
  position: relative;

  @media (max-width: $desktop-width-min) {
    margin: 0 17% 0 28%;
    grid-gap: 10px 0;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 10px;
  }

  p {
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 24px;
    color: $dark-gray;
  }

  h2 {
    max-width: 535px;
    justify-self: center;

    @media (max-width: $desktop-width-min) {
      padding: 0 35px;
      font-size: 16px;
      text-align: center;
    }

    @media (max-width: $tablet-width) {
      padding: 0 20px;
    }
  }

  &--ssm {
    .services__text {
      &:nth-child(2) {
        max-width: 500px;

        @media (max-width: $desktop-width-min) {
          max-width: 100%;
        }
      }

      &:nth-child(3) {
        max-width: 400px;

        @media (max-width: $desktop-width-min) {
          max-width: 100%;
        }
      }

      &:nth-child(4) {
        max-width: 500px;
        margin: -40px 0 0 120px;

        @media (max-width: $desktop-width-min) {
          max-width: 100%;
          margin: 0;
        }
      }
    }
  }

  &--marketing {
    span {
      text-transform: uppercase;
    }
  }
}

.services__box-images {
  margin: 0 auto 0 24%;

  @media (max-width: $desktop-width-min) {
    margin: 0 15% 0 25%;
  }

  @media (max-width: $tablet-width) {
    max-width: 100%;
    margin: 0 auto;
  }
}

.services__image {
  max-width: 250px;
  margin: 0 28% -20% 28%;
  position: relative;
  animation: services-icon-show, services-icon-movement;
  animation-duration: 2.5s, 3.2s;
  animation-delay: 1.5s, 3.5s;
  animation-timing-function: ease, linear;
  animation-iteration-count: 1, infinite;
  animation-direction: normal, alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
  opacity: 0;

  @media (max-width: $desktop-width-min) {
    max-width: 200px;
  }
}

.services__text {
  margin-right: 10%;
  padding: 30px 20px 30px 30px;
  background-color: $light-pink;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: $desktop-width-min) {
    margin-right: 0;
  }

  &-light--gray {
    margin: 0;
    background-color: $light-gray;
  }

  &-light-pink {
    background-color: $light-pink;
  }

  &-box--2 {
    margin: -40px 0 0 10%;

    @media (max-width: $desktop-width-min) {
      margin: 0;
    }

    .services__text-dark {
      font-family: $proximaBold;
      margin: 10px 0;
    }
  }

  h3 {
    margin-bottom: 20px;
  }

  span {
    font-family: $proximaBold;
  }
}

.services__text-box {
  display: grid;
  grid-template-columns: 17% 1fr;
  align-items: center;

  @media (max-width: $tablet-width) {
    grid-template-columns: 24% 1fr;
  }

  strong {
    font-family: $proximaBold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $middle-blue;

    @media (max-width: $desktop-width-min) {
      color: $dark-blue;
    }

    @media (max-width: $tablet-width) {
      font-size: 16px;
    }
  }
}

.services__text--1 {
  margin-right: 0;
  display: grid;
  grid-template-columns: 17% 70%;
  grid-gap: 15px 0;
  align-items: center;
  position: relative;

  @media (max-width: $desktop-width-min) {
    margin-left: 0;
    padding: 20px 15px 20px 25px;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 24% 1fr;
  }

  strong {
    font-family: $proximaBold;
    font-size: 24px;
    line-height: 24px;
    color: $dark-blue;

    @media (max-width: $desktop-width-min) {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.services__text--2 {
  max-width: 415px;
  margin: -40px 0 0 -5%;
  background-color: $light-gray;
  position: relative;

  @media (max-width: $desktop-width-min) {
    max-width: 100%;
    z-index: 0;
    margin: 0;
  }

  p {
    max-width: 275px;
    margin-bottom: 10px;

    @media (max-width: $desktop-width-min) {
      max-width: 100%;
    }
  }
}

.services__text--3 {
  margin-top: -165px;
  margin-right: 5%;
  max-width: 300px;
  justify-self: flex-end;
  background-color: $light-pink;

  @media (max-width: $desktop-width-min) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  p {
    margin-bottom: 10px;
  }
}

.services__text-list {
  @include reset-list;

  p {
    margin: 0;
    padding-left: 20px;
    position: relative;

    &::before {
      width: 10px;
      height: 2px;
      position: absolute;
      content: "";
      top: 12px;
      left: 0;
      background-color: $dark-red;
    }
  }

  strong {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    display: block;

    &::before {
      width: 10px;
      height: 2px;
      position: absolute;
      content: "";
      top: 12px;
      left: 0;
      background-color: $dark-red;
    }
  }
}

.services__nav-box {
  max-width: 200px;
  width: 100%;
  height: 1400px;
  position: absolute;
  top: 90px;
  left: 0;

  @media (max-width: $desktop-width-min) {
    top: 105px;
  }
}

.services__boxes-list {
  @include reset-list;
  position: sticky;
  top: 0;
  left: 0;

  @media (max-width: $tablet-width) {
    display: none;
  }

  li {
    width: 200px;
    height: 75px;

    &:nth-child(2) {
      transform: translateX(5px);
    }

    &:nth-child(3) {
      transform: translateX(10px);
    }

    &:nth-child(4) {
      transform: translateX(15px);
    }

    &:nth-child(5) {
      transform: translateX(20px);
    }

    &:nth-child(6) {
      transform: translateX(25px);
    }

    &:nth-child(7) {
      transform: translateX(30px);
    }

    &:nth-child(8) {
      transform: translateX(35px);
    }

    &:nth-child(9) {
      transform: translateX(40px);
    }

    &:nth-child(10) {
      transform: translateX(45px);
    }
  }

  a {
    position: relative;
    display: block;

    span {
      position: absolute;
      z-index: 1;
      font-size: 10px;
      line-height: 10px;
      font-weight: $bold;
      text-transform: uppercase;
      transform: skewY(-20deg) translate(51%, 62px);
      transition: all 1s linear;
    }

    img {
      transition: all 1s;
      transform: translate(-50px, 0);
    }

    &:hover {
        span {
          transform: skewY(-20deg) translate(100%, 73px);
          transition: all 1s linear;
        }

        img {
        transition: all 1s;
        transform: translate(-20px, 0);
      }
    }
  }
}

.services__boxes {
  max-width: 600px;

  img {
    &:last-child {
      display: none;
    }
  }
}

.services__boxes-list:hover + .services__boxes img {
  &:last-child {
    display: block;
  }
}

.services__info {
  max-width: 710px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 20px 0;

  @media (max-width: $desktop-width-min) {
    margin: 30px 17% 0 28%;
    grid-gap: 10px 0;
  }

  @media (max-width: $tablet-width) {
    margin: 30px auto 0 auto;
    padding: 0 10px;
  }

  h2 {
    text-align: center;
    color: $middle-blue;
    text-transform: capitalize;

    @media (max-width: $desktop-width-min) {
      font-size: 16px;
      color: $dark-blue;
    }
  }

  p {
    margin: 0 0 10px 0;
  }
}

.services__box-seo {
  margin-top: 40px;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 20px 0;

  @media (max-width: $desktop-width-min) {
    margin: 30px 17% 0 24%;
  }

  @media (max-width: $tablet-width) {
    margin: 20px 0 0 0;
    padding: 0 10px;
  }
}

.services__box-seo-wrapper {
  max-width: 1350px;
  padding: 0 35px 0 120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;

  @media (max-width: $desktop-width-min) {
    grid-template-columns: 1fr;
    padding: 0;
    grid-gap: 10px 0;
  }

  .services__info {
    margin-top: 40px;
    grid-template-rows: 17% auto;
    grid-gap: 0;

    @media (max-width: $desktop-width) {
      grid-template-rows: 20% auto;
      margin: 30px 0 0 0;
    }

    @media (max-width: $desktop-width-min) {
      grid-template-rows: auto auto;
      grid-gap: 10px 0;
    }
  }

  .services__box-text-seo {
    @media (max-width: $desktop-width-min) {
      display: grid;
      grid-template-rows: auto;
      grid-gap: 10px 0;
    }
    .services__text--1 {
      max-width: 315px;

      @media (max-width: $desktop-width-min) {
        max-width: 100%;
      }

      p {
        margin: 0;
        text-align: center;

        @media (max-width: $desktop-width-min) {
          text-align: left;
        }
      }
    }

    &:nth-child(2) {
      margin-left: -30px;

      @media (max-width: $desktop-width-min) {
        margin: 0;
      }
    }
  }

  .services__text-box--2 {
    margin: -15px 0 0 13%;
    position: relative;

    @media (max-width: $desktop-width-min) {
      margin: 0;
    }
  }

  .services__text--margin {
    margin: -15px 0 0 17%;

    @media (max-width: $desktop-width-min) {
      margin: 0;
    }

    p {
      margin-left: 10px;
    }
  }

  .services__text-box,
  .services__text-box--2 {
    display: grid;
    grid-template-columns: 16% auto;

    @media (max-width: $desktop-width-min) {
      grid-template-columns: 12% auto;
      grid-gap: 0 20px;
    }

    @media (max-width: $desktop-width) {
      grid-template-columns: 20% auto;
    }

    @media (max-width: $tablet-width) {
      grid-template-columns: 16% auto;
      grid-gap: 10px;
    }

    span {
      font-family: $proximaBold;
      font-size: 96px;
      line-height: 42px;
      color: $dark-red;
      align-self: flex-start;
      grid-column: 1;

      @media (max-width: $desktop-width-min) {
        font-size: 80px;
        text-align: center;
      }
    }

    p {
      margin: 0 0 10px 0;
      grid-column: 2;
    }

    .services__text-list {
      grid-column: 2 / 3;

      @media (max-width: $tablet-width) {
        grid-column: 1 / 3;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
}

.services__info--seo {
  margin-top: 40px;
}

.services__slider {
  max-width: 990px;
  margin-left: 48%;

  @media (max-width: $desktop-width) {
    margin-left: 26%;
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }

  ul {
    @include reset-list;
  }
}

.services__slider-wrapper {
  padding: 0 70px 0 25px;
  position: relative;

  @media (max-width: $desktop-width) {
    padding-right: 40px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 25px;
  }
}

.services__swiper-container {
  position: static;
}

.services__swiper-button-prev {
  width: 40px;
  height: 40px;
  background-image: url("../img/svg/icon-arrow.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
  left: 0px;

  &::after {
    display: none;
  }
}

.services__swiper-button-next {
  width: 40px;
  height: 40px;
  background-image: url("../img/svg/icon-arrow.svg");
  background-repeat: no-repeat;
  right: 45px;

  @media (max-width: $desktop-width) {
    right: 15px;
  }

  @media (max-width: $tablet-width) {
    right: 0;
  }

  &::after {
    display: none;
  }
}

.services__box-portfolio {
  margin: 70px auto 70px auto;

  h2 {
    max-width: 500px;
    margin: 0 auto;
    text-transform: none;
    text-align: center;
    line-height: 36px;

    @media (max-width: $desktop-width-min) {
      max-width: 350px;
    }

    @media (max-width: $tablet-width) {
      line-height: 24px;
    }
  }

  a {
    color: $dark-blue;
    text-transform: uppercase;

    &:hover {
      color: $dark-red;
    }
  }
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: -1;
}

.z-index-3 {
  z-index: -2;
}
