.services__wrapper {
  h1 {
    margin: 20px 0 25px 0;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: $black;

    @media (max-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.services__box-wrapper {
  display: grid;
  grid-template-rows: 5% 25% 20% 21% 16% 1fr;

  @media (max-width: $desktop-width-min) {
    grid-template-rows: 3% 33% 21% 21% 14% 1fr;
  }

  @media (max-width: $tablet-width) {
    grid-template-rows: 1fr;
  }
}

.services__box {
  display: grid;
  grid-template-columns: 48% 600px 21%;

  @media (max-width: $desktop-width) {
    grid-template-columns: 48% 520px 21%;
  }

  @media (max-width: $desktop-width-min) {
    grid-template-columns: 1fr;
  }
}

.services__box-text {
  display: grid;
  grid-template-rows: 8% 34% 1fr;
  position: relative;
  z-index: 1;

  @media (max-width: $desktop-width-min) {
    margin: 0 17% 0 24%;
    grid-template-rows: 4% 1fr 1fr;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 10px;
    grid-template-rows: 7% 1fr 1fr;
  }

  h2 {
    padding-left: 30px;
    font-family: $proximaBold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media (max-width: $desktop-width-min) {
      padding: 0 35px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (max-width: $tablet-width) {
      padding: 0 20px;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: $dark-gray;
  }

  &--grid {
    grid-template-rows: 15% auto auto 12%;

    @media (max-width: $tablet-width) {
      grid-template-rows: 12% auto auto;
    }
  }

  &--grid-1 {
    grid-template-rows: 12% 1fr 12%;

    @media (max-width: $desktop-width-min) {
      grid-template-rows: 10% 1fr;
    }
  }
}

.services__image {
  margin: 0 auto 0 24%;

  @media (max-width: $desktop-width-min) {
    max-width: 500px;
    margin: 0 auto;
  }

  @media (max-width: $tablet-width) {
    max-width: 100%;
    margin: 0 auto;
  }
}

.services__boxes {
  max-width: 600px;

  img {
    &:last-child {
      display: none;
    }
  }
}

.services__computer {
  max-width: 250px;
  margin: 0 28% -20% 28%;
  position: relative;
  animation: show, show-space-bottom, show-space-top;
  animation-duration: 2.5s, 3.2s, 3.2s;
  animation-delay: 1.5s, 3.5s, 6.5s;
  animation-timing-function: ease, linear, linear;
  animation-iteration-count: 1, infinite, infinite;
  animation-direction: normal, alternate, alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
  opacity: 0;

  @media (max-width: $desktop-width-min) {
    max-width: 200px;
  }
}

.services__text {
  margin-right: 10%;
  padding: 30px 20px 30px 30px;
  background-color: $light-pink;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: $desktop-width-min) {
    margin-right: 0;
  }

  &-box--2 {
    background-color: $light-gray;
    margin: -25px 0 0 10%;
    z-index: -1;

    @media (max-width: $desktop-width-min) {
      margin-left: 0;
      margin-top: 10px;
    }

    .services__text-dark {
      font-family: $proximaBold;
      margin: 10px 0;
    }
  }

  &-box--3 {
    margin: 0;
    background-color: $light-gray;
  }

  span {
    font-family: $proximaBold;
  }
}

.services__text-box {
  display: grid;
  grid-template-columns: 17% 1fr;
  align-items: center;

  @media(max-width: $tablet-width) {
    grid-template-columns: 24% 1fr;
  }

  strong {
    font-family: $proximaBold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $middle-blue;

    @media (max-width: $desktop-width-min) {
      color: $dark-blue;
    }

    @media (max-width: $tablet-width) {
      font-size: 16px;
    }
  }
}

.services__text--1 {
  margin-left: 5%;
  margin-right: 0;
  display: grid;
  grid-template-columns: 17% 70%;
  grid-gap: 15px 0;
  align-items: center;
  background-color: $light-pink;
  position: relative;
  z-index: 1;

  @media (max-width: $desktop-width-min) {
    margin-left: 0;
    padding: 20px 15px 20px 25px;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 24% 1fr;
  }

  strong {
    font-family: $proximaBold;
    font-size: 24px;
    line-height: 24px;
    color: $dark-blue;

    @media (max-width: $desktop-width-min) {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.services__text--2 {
  max-width: 415px;
  margin-right: 0;
  background-color: $light-gray;
  position: relative;
  z-index: -1;

  @media (max-width: $desktop-width-min) {
    max-width: 100%;
    z-index: 0;
  }

  @media (max-width: $tablet-width) {
    margin: 10px 0;
  }

  p {
    max-width: 275px;
    margin-bottom: 10px;

    @media (max-width: $desktop-width-min) {
      max-width: 100%;
    }
  }
}

.services__text--3 {
  margin-top: -165px;
  margin-right: 5%;
  max-width: 300px;
  justify-self: flex-end;
  background-color: $light-pink;

  @media (max-width: $desktop-width-min) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  p {
    margin-bottom: 10px;
  }
}

.services__info {
  .services__text-list {
    margin-bottom: 40px;

    @media (max-width: $desktop-width-min) {
      margin-bottom: 20px;
    }
  }
}

.services__text-list {
  @include reset-list;

  p,
  strong {
    padding-left: 20px;
    position: relative;
    display: block;

    &::before {
      width: 10px;
      height: 2px;
      position: absolute;
      content: "";
      top: 12px;
      left: 0;
      background-color: $dark-red;
    }
  }
}

.services__boxes-list {
  @include reset-list;
  position: fixed;
  top: 12%;
  left: 0;
  z-index: 20;

  @media (max-width: $tablet-width) {
    display: none;
  }

  li {
    width: 20vh;
    height: 9vh;
  }

  a {
    position: relative;
    display: block;

    img {
      // animation: img-boxes;
      // animation-duration: 2.5s;
      // animation-delay: 1.5s;
      // animation-timing-function: ease;
      // animation-iteration-count: ;
      // animation-direction: normal;
      // animation-fill-mode: forwards;
      // animation-play-state: running;
      transition: all 1s;
      transform: translate(-40px, 0);
    }

    &:hover {
      // &::after {
      //   width: 85px;
      //   height: 56px;
      //   position: absolute;
      //   content: "";
      //   top: 52px;
      //   left: 175px;
      //   background-image: url("../img/boxes/hover-pink-bckg.svg");
      //   background-repeat: no-repeat;
      //   background-size: 83px 56px;
      // }

      // &::before {
      //   width: 79px;
      //   height: 35px;
      //   position: absolute;
      //   content: "";
      //   top: 51px;
      //   left: 0;
      //   background-color: $pink;
      //   transform: skewY(-21deg);
      //   transition: all 0.5s;
      //   z-index: 1;
      // }

        img {
        transition: all 1s;
        transform: translate(-20px, 0);
      }
    }
  }

  // span {
  //   color: $black;
  //   letter-spacing: 0.05em;
  //   text-transform: uppercase;
  //   position: absolute;
  //   top: 95px;
  //   right: 145px;
  //   transform: skewY(-20deg);
  // }
}

.services__info {
  max-width: 680px;
  margin: 0 auto;

  @media (max-width: $desktop-width-min) {
    margin: 0 24% 0 27%;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
    padding: 0 10px;
  }

  h2 {
    text-align: center;
    color: $middle-blue;

    @media (max-width: $desktop-width-min) {
      font-size: 16px;
      color: $dark-blue;
    }
  }
}

