.sharing-list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0 15px;

  @media (max-width: $tablet-width) {
    grid-gap: 0 10px;
  }

  a {
    img {
      transition: all 0.3s linear;
    }

    &:hover {
      img {
        transform: scale(1.2);
        transition: all 0.3s linear;
      }
    }
  }
}

.sharing-list__copy {
  padding: 10px ;
  width: 300px;
  position: absolute;
  top: 40px;
  left: -10px;
  background-color: white;
  z-index: 1;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.15), 2px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: none;
}
.sharing-list__copy p {
  margin: 0;
}

.sharing-list__copy span {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 767px) {

  .sharing-list__copy {
    width: 160px;
  }

  .sharing-list__copy span {
    font-size: 16px;
  }

}
.sharing-list__copy--active {
  display: grid;
  justify-items: center;
}

.sharing-list__copy::before {
  content: "";
  position: absolute;
  left: 10px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
}


