.sharing-list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0 15px;

  a {
    img {
      transition: all 0.3s linear;
    }

    &:hover {
      img {
        transform: scale(1.2);
        transition: all 0.3s linear;
      }
    }
  }
}
