.social-list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, 24px);
  justify-content: center;
  grid-column-gap: 10px;

  li {
    margin-top: 5px;
  }

  img {
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;

    @media (max-width: $desktop-width-min) {
      border-radius: 10px;
      max-width: 36px;
    }

    &:hover {
      transform: scale(1.2);
      transition: all 0.3s linear;
    }
  }

  @media (max-width: $desktop-width) {
    grid-template-columns: repeat(3, auto);
    justify-content: flex-start;
  }

  &--tablet {
    @media (max-width: $tablet-width) {
      width: auto;
      padding: 0;
      display: grid;
      grid-gap: 0 30px;
      grid-template-columns: repeat(3, 36px);
      position: static;
      justify-content: center;
      background-color: transparent;
      box-shadow: none;
    }
  }
}
