.social-list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24px, auto));
  justify-content: center;
  grid-column-gap: 10px;

  img {
    border-radius: 7px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;

    &:hover {
      transform: scale(1.2);
      transition: all 0.3s linear;
    }
  }

  @media (max-width: $desktop-width) {
    justify-content: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(30px, auto));
  }

  &--tablet {
    @media (max-width: $tablet-width) {
      width: auto;
      padding: 0;
      display: grid;
      grid-gap: 0 30px;
      grid-template-columns: repeat(auto-fit, minmax(35px, auto));
      position: static;
      justify-content: center;
      background-color: transparent;
      box-shadow: none;
    }
  }
}
