.social-list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-content: center;
  grid-column-gap: 10px;

  li {
    margin-top: 5px;
  }

  img {
    @media (max-width: $desktop-width-min) {
      border-radius: 6px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: $tablet-width) {
      border-radius: 10px;
      max-width: 48px;
    }
  }

  @media (max-width: $desktop-width) {
    grid-template-columns: repeat(3, auto);
    justify-content: flex-start;
  }

  @media (max-width: $desktop-width-min) {
    width: 72px;
    min-height: 135px;
    padding: 23px;
    position: absolute;
    top: 75px;
    right: 35px;
    background-color: $light-gray;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    display: none;
  }

  &--tablet {
    @media (max-width: $tablet-width) {
      width: auto;
      padding: 0;
      grid-column-gap: 20px;
      display: grid;
      grid-template-columns: 15% 15% 15%;
      position: static;
      justify-content: center;
      background-color: transparent;
    }
  }
}
