.tabs {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 20px;

  @media (max-width: $desktop-width-min) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 20px;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }

  a {
    padding: 15px 0;
    font-size: 20px;
    line-height: 24px;
    display: grid;
    grid-gap: 0 15px;
    grid-template-columns: 24px auto;
    justify-content: center;
    box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.8),
      8px 8px 16px rgba(186, 198, 216, 0.8);
    border-radius: 10px;

    &:hover {
      box-shadow: inset -5px -5px 5px rgba(240, 242, 243, 0.5),
        inset 5px 5px 10px rgba(166, 180, 200, 0.75);
    }

    img {
      max-width: 24px;
    }
  }
}
