.tabs {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 20px;

  @media (max-width: $desktop-width-min) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 20px;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }

  li {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;

    img {
      max-width: 24px;
    }

    label {
      padding: 15px 0;
      display: grid;
      grid-template-columns: 30px auto;
      justify-content: center;
      font-size: 20px;
      line-height: 24px;
      border-radius: 10px;
      background-image: linear-gradient(134.17deg, #F5F9FF 4.98%, #F0F6FF 94.88%);
      box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.8),
      8px 8px 16px rgba(186, 198, 216, 0.8);
      cursor: pointer;

      @media (max-width: $tablet-width) {
        padding: 15px 0 15px 40px;
        grid-gap: 0 5px;
        grid-template-columns: 30px 165px;
      }

      &:hover {
        transform: scale(1.02);
      }
    }

    input:checked + label {
      box-shadow: inset -5px -5px 5px rgba(240, 242, 243, 0.5),
      inset 5px 5px 10px rgba(166, 180, 200, 0.75);
      color: $dark-blue;
      font-weight: $bold;

      &:hover {
        transform: scale(1);
      }
    }
  }
}

.tabs__btn {
  padding: 15px 0;
  display: grid;
  grid-template-columns: 30px auto;
  justify-content: center;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  box-shadow: -8px -8px 16px rgba(255,255,255,0.8), 8px 8px 16px rgba(186,198,216,0.8);
  cursor: pointer;
  border: none;
  background: transparent;

  @media (max-width: $tablet-width) {
    padding: 15px 60px 15px 40px;
    grid-gap: 0 5px;
    text-align: left;
    grid-template-columns: 30px auto;
  }

  &:hover {
    transform: scale(1.02);
  }

  &:focus {
    outline: none;
    box-shadow: inset -5px -5px 5px rgba(240, 242, 243, 0.5),
    inset 5px 5px 10px rgba(166, 180, 200, 0.75);
    color: $dark-blue;
    font-weight: $bold;
    transform: scale(1);
  }
}
