.tags {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 30px;

  li {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;

    img {
      max-width: 24px;
    }

    label {
      padding: 10px 15px;
      font-family: $proximaBold;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      border-radius: 10px;
      background-image: linear-gradient(134.17deg, #F5F9FF 4.98%, #F0F6FF 94.88%);
      box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.8),
      8px 8px 16px rgba(186, 198, 216, 0.8);
      cursor: pointer;
      color: $dark-blue;

      &:hover {
        transform: scale(1.02);
        color: $dark-red;
      }
    }

    input:checked + label {
      box-shadow: inset -5px -5px 5px rgba(240, 242, 243, 0.5),
      inset 5px 5px 10px rgba(166, 180, 200, 0.75);
      color: $dark-red;
      font-weight: $bold;

      &:hover {
        transform: scale(1);
      }
    }
  }

  .tag_0 {
    label {
      color: #F2994A;
    }

    span {
      color: #F2994A;
    }
  }

  .tag_1 {
    label {
      color: #2D9CDB;
    }

    span {
      color: #2D9CDB;
    }
  }

  .tag_2 {
    label {
      color: #77D203;
    }

    span {
      color: #77D203;
    }
  }

  .tag_3 {
    label {
      color: #590CA2;
    }

    span {
      color: #590CA2;
    }
  }

  .tag_4 {
    label {
      color: #00D0B7;
    }

    span {
      color: #00D0B7;
    }
  }

  .tag_5 {
    label {
      color: #D203A5;
    }

    span {
      color: #D203A5;
    }
  }

  .tag_6 {
    label {
      color: #0021D0;
    }

    span {
      color: #0021D0;
    }
  }

  .tag_7 {
    label {
      color: #219653;
    }

    span {
      color: #219653;
    }
  }

  .tag_8 {
    label {
      color: #D75ABB;
    }

    span {
      color: #D75ABB;
    }
  }

  .tag_9 {
    label {
      color: #89008C;
    }

    span {
      color: #89008C;
    }
  }

  .tag_10 {
    label {
      color: #006C5F;
    }

    span {
      color: #006C5F;
    }
  }

  .tag_11 {
    label {
      color: #9B51E0;
    }

    span {
      color: #9B51E0;
    }
  }

  .tag_12 {
    label {
      color: #DD5143;
    }

    span {
      color: #DD5143;
    }
  }

  .tag_13 {
    label {
      color: #8B1E56;
    }

    span {
      color: #8B1E56;
    }
  }

  .tag_14 {
    label {
      color: #62295C;
    }

    span {
      color: #62295C;
    }
  }

  .tag_15 {
    label {
      color:  #7AA8DD;
    }

    span {
      color:  #7AA8DD;
    }
  }

  .tag_16 {
    label {
      color: #21304E;
    }

    span {
      color: #21304E;
    }
  }

  .tag_17 {
    label {
      color: #0084AC;
    }

    span {
      color: #0084AC;
    }
  }

  .tag_18 {
    label {
      color: #3DAA4B;
    }

    span {
      color: #3DAA4B;
    }
  }

  .tag_19 {
    label {
      color: #7CB82F;
    }

    span {
      color: #7CB82F;
    }
  }

  .tag_20 {
    label {
      color:#5D6821;
    }

    span {
      color:#5D6821;
    }
  }

  .tag_21 {
    label {
      color:#CCD613;
    }

    span {
      color:#CCD613;
    }
  }

  .tag_22 {
    label {
      color:#A09407;
    }

    span {
      color:#A09407;
    }
  }

  .tag_23 {
    label {
      color:#474041;
    }

    span {
      color:#474041;
    }
  }

  .tag_24 {
    label {
      color: #916224;
    }

    span {
      color: #916224;
    }
  }

  .tag_25 {
    label {
      color: #BA6A2F;
    }

    span {
      color: #BA6A2F;
    }
  }

  .tag_26 {
    label {
      color:  #7E3D3C;
    }

    span {
      color:  #7E3D3C;
    }
  }

  .tag_27 {
    label {
      color: #CB34BE;
    }

    span {
      color: #CB34BE;
    }
  }

  .tag_28 {
    label {
      color: #4C1E52;
    }

    span {
      color: #4C1E52;
    }
  }

  .tag_29 {
    label {
      color: #004455;
    }

    span {
      color: #004455;
    }
  }

  .tag_30 {
    label {
      color: #336447;
    }

    span {
      color: #336447;
    }
  }

  .tag_31 {
    label {
      color: #39470F;
    }

    span {
      color: #39470F;
    }
  }

  .tag_32 {
    label {
      color:#A9AF12;
    }

    span {
      color:#A9AF12;
    }
  }

  .tag_33 {
    label {
      color: #29B5CF;
    }

    span {
      color: #29B5CF;
    }
  }

  .tag_34 {
    label {
      color: #1F4980;
    }

    span {
      color: #1F4980;
    }
  }

  .tag_35 {
    label {
      color:  #964B57;
    }

    span {
      color:  #964B57;
    }
  }

  .tag_36 {
    label {
      color: #D3697F;
    }

    span {
      color: #D3697F;
    }
  }

  .tag_37 {
    label {
      color:  #E9A800;
    }

    span {
      color:  #E9A800;
    }
  }

  .tag_38 {
    label {
      color:  #6F4F5E;
    }

    span {
      color:  #6F4F5E;
    }
  }

  .tag_39 {
    label {
      color: #694991;
    }

    span {
      color: #694991;
    }
  }

  .tag_40 {
    label {
      color: #4C347A;
    }

    span {
      color: #4C347A;
    }
  }
  .tag_41 {
    label {
      color: #5670AF;
    }

    span {
      color: #5670AF;
    }
  }

  .tag_42 {
    label {
      color:#0069AD;
    }

    span {
      color:#0069AD;
    }
  }

  .tag_43 {
    label {
      color: #587528;
    }

    span {
      color: #587528;
    }
  }

  .tag_44 {
    label {
      color: #A57E4D;
    }

    span {
      color: #A57E4D;
    }
  }

  .tag_45 {
    label {
      color: #DD6D72;
    }

    span {
      color: #DD6D72;
    }
  }

  .tag_46 {
    label {
      color: #BA5390;
    }

    span {
      color: #BA5390;
    }
  }

  .tag_47 {
    label {
      color: #5F599B;
    }

    span {
      color: #5F599B;
    }
  }

  .tag_48 {
    label {
      color: #F4E42C;
    }

    span {
      color: #F4E42C;
    }
  }

  .tag_49 {
    label {
      color: #3D3A61;
    }

    span {
      color: #3D3A61;
    }
  }
}
