.teams__wrapper {
  @media (max-width: $desktop-width-min) {
    display: grid;
    grid-row-gap: 30px;
  }

  h2 {
    margin: 40px 0 30px 0;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: $desktop-width-min) {
      margin: 60px 0 0 0;
    }
  }

  h3 {
    margin-bottom: 10px;
    font-family: $mistral;
    font-size: 48px;
    line-height: 48px;
    font-weight: $normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media (max-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
      text-align: center;
    }
  }
}

.teams__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-column-gap: 6%;

  @media (max-width: $desktop-width-min) {
    grid-template-columns: 1fr;
  }

  &--mans {
    grid-template-columns: 1fr;

    .teams__box-text {
      margin-bottom: -154px;
      max-width: 400px;
      justify-self: flex-end;


      @media (max-width: $desktop-width-min) {
        margin: 0;
        padding: 0 90px;
        max-width: 100%;
        justify-self: flex-start;

        &:first-child {
          display: none;
        }
      }

      @media (max-width: $tablet-width) {
        padding: 0;
      }
    }

    .teams__image-svg-animate {
      margin-top: -240px;
      display: grid;
      grid-template-columns: 27% 49% auto;
      position: relative;

      @media (max-width: $desktop-width) {
        margin-top: -200px;
      }

      @media (max-width: $desktop-width-min) {
        max-width: 600px;
        margin: -130px auto 0 auto;
        grid-template-columns: 27% 50%;
      }

      @media (max-width: $tablet-width) {
        display: none;
      }

      @media (max-width: $mobile-width) {
        margin-top: -70px;
        grid-template-columns: 31% 57%;
      }

      img:first-child {
        margin-top: 30px;
      }
    }
  }
}

.teams__box-text {
  @media (max-width: $desktop-width-min) {
    padding: 0 90px;
  }

  @media (max-width: $tablet-width) {
    padding: 15px 0 0 0;
  }

  p {
    margin: 0;
  }

  &--tablet {
    padding: 0;
    display: none;

    @media (max-width: $desktop-width-min) {
      display: block;

      h3 {
        margin-top: 20px;
      }
    }
  }
}

.teams__box-text--animate {
  margin: 70px 0 0 10px;
  align-self: center;

  @media (max-width: $desktop-width-min) {
    display: none;
  }
}

.teams__image {
  position: relative;
  z-index: -1;

  @media (max-width: $desktop-width-min) {
    max-width: 500px;
    margin: 0 auto;

    &:nth-child(2n) {
      grid-row: 1;
    }

    &--box {
      max-width: 600px;
    }
  }

  &--marketing {
    position: relative;

    @media (max-width: $desktop-width-min) {
      grid-row: 1;
    }

    img {
      &:nth-child(1) {
        margin-left: -80px;

        @media (max-width: $desktop-width-min) {
          margin-left: 0;
        }

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &:nth-child(2) {
        width: 200px;
        height: 97px;
        position: absolute;
        top: 0;
        right: 100px;
        animation: teams-svg-top;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width) {
          width: 160px;
          top: -10px;
        }

        @media (max-width: $desktop-width-min) {
          right: 40px;
        }

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &:nth-child(3) {
        width: 200px;
        height: 97px;
        position: absolute;
        top: 116px;
        right: 30px;
        animation: teams-svg-top;
        animation-duration: 2s;
        animation-delay: 0.8s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width) {
          max-width: 160px;
        }

        @media (max-width: $desktop-width-min) {
          right: -10px;
        }

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &:nth-child(4) {
        width: 200px;
        height: 97px;
        position: absolute;
        top: 240px;
        right: 0;
        animation: teams-svg-top;
        animation-duration: 2s;
        animation-delay: 1.2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width) {
          width: 160px;
        }

        @media (max-width: $desktop-width-min) {
          right: -40px;
        }

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &:nth-child(5) {
        display: none;

        @media (max-width: $tablet-width) {
          display: grid;
        }
      }
    }
  }

  &--designers {
    @media (max-width: $desktop-width-min) {
      margin-top: 110px;
    }

    @media (max-width: $tablet-width) {
      margin-top: auto;
    }

    img {
      &:nth-child(1) {
        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &:nth-child(2) {
        width: 30px;
        height: 38px;
        position: absolute;
        top: 38%;
        left: 0;
        animation: teams-svg-top;
        animation-duration: 2.1s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &:nth-child(3) {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10%;
        left: -15px;
        animation: teams-svg-top;
        animation-duration: 2.3s;
        animation-delay: 0.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &:nth-child(4) {
        width: 40px;
        height: 40px;
        position: absolute;
        top: -30px;
        left: 16%;
        animation: teams-svg-top;
        animation-duration: 2.5s;
        animation-delay: 0.8s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &:nth-child(5) {
        width: 36px;
        height: 36px;
        position: absolute;
        top: 0;
        right: 5%;
        animation: teams-svg-top;
        animation-duration: 1.8s;
        animation-delay: 1.2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &:nth-child(6) {
        width: 50px;
        height: 45px;
        position: absolute;
        top: 31%;
        right: 0;
        animation: teams-svg-top;
        animation-duration: 2.2s;
        animation-delay: 1.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &:nth-child(7) {
        width: 115px;
        height: 85px;
        position: absolute;
        top: -15%;
        right: 44%;
        animation: teams-svg-top;
        animation-duration: 2.2s;
        animation-delay: 1.1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width) {
          top: -17%;
          right: 44%;
        }

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &:nth-child(8) {
        width: 70px;
        height: 80px;
        position: absolute;
        top: -23%;
        right: 18%;
        animation: teams-svg-top;
        animation-duration: 2.2s;
        animation-delay: 1.4s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width) {
          top: -25%;
        }

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &:nth-child(9) {
        display: none;

        @media (max-width: $tablet-width) {
          display: grid;
        }
      }
    }

    //span {
    //  display: grid;
    //
    //  &:nth-child(7) {
    //    width: 200px;
    //    height: 25px;
    //    padding: 5px 0 0 13px;
    //    position: absolute;
    //    top: 28.5%;
    //    left: -14%;
    //    background-image: url("../img/svg/icon-element-1.svg");
    //    background-repeat: no-repeat;
    //    color: $white;
    //    font-size: 13px;
    //    line-height: 15px;
    //    font-weight: $bold;
    //  }
    //
    //  &:nth-child(8) {
    //    width: 200px;
    //    height: 25px;
    //    padding: 5px 0 0 32px;
    //    position: absolute;
    //    top: 17%;
    //    right: -14%;
    //    background-image: url("../img/svg/icon-element-2.svg");
    //    background-repeat: no-repeat;
    //    color: $white;
    //    font-size: 13px;
    //    line-height: 15px;
    //    font-weight: $bold;
    //  }
    //}
  }

  &--seo {
    @media (max-width: $desktop-width-min) {
      margin-top: 85px;
    }

    @media (max-width: $tablet-width) {
      margin-top: auto;
    }

    img {
      @media (max-width: $tablet-width) {
        display: none;
      }

      &:nth-child(2) {
        width: 42px;
        height: 42px;
        position: absolute;
        top: 50%;
        left: 15%;
        animation: teams-svg-top;
        animation-duration: 1.8s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      &:nth-child(3) {
        width: 62px;
        height: 53px;
        position: absolute;
        top: 2%;
        left: 10%;
        animation: teams-svg-top;
        animation-duration: 2.1s;
        animation-delay: 0.3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width) {
          width: 58px;
          height: 48px;
        }
      }

      &:nth-child(4) {
        width: 75px;
        height: 75px;
        position: absolute;
        top: -20%;
        left: 23%;
        animation: teams-svg-top;
        animation-duration: 2.4s;
        animation-delay: 0.6s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width) {
          width: 70px;
          height: 70px;
          top: -22%;
        }
      }

      &:nth-child(5) {
        width: 65px;
        height: 80px;
        position: absolute;
        top: -20%;
        left: 45%;
        animation: teams-svg-top;
        animation-duration: 2.5s;
        animation-delay: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width) {
          width: 60px;
          height: 75px;
          top: -22%;
        }
      }

      &:nth-child(6) {
        width: 61px;
        height: 78px;
        position: absolute;
        top: 29%;
        left: 9%;
        animation: rotateSeo;
        animation-duration: 1.7s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width) {
          top: 28%;
          left: 8%;
        }

        @media (max-width: $desktop-width-min) {
          top: 29%;
        }
      }

      &:nth-child(7) {
        display: none;

        @media (max-width: $tablet-width) {
          display: grid;
        }
      }
    }
  }

  &--context {
    @media (max-width: $desktop-width-min) {
      margin-top: 110px;
    }

    @media (max-width: $tablet-width) {
      margin-top: 0;
    }

    img {
      @media (max-width: $tablet-width) {
        display: none;
      }

      &:nth-child(2) {
        width: 87px;
        height: 87px;
        position: absolute;
        top: -4%;
        left: 5%;
        animation: teams-svg-top;
        animation-duration: 1.8s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width) {
          width: 80px;
          height: 80px;
        }
      }

      &:nth-child(3) {
        width: 85px;
        height: 105px;
        position: absolute;
        top: -27%;
        left: 30%;
        animation: teams-svg-top;
        animation-duration: 2.1s;
        animation-delay: 0.3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width) {
          width: 75px;
          height: 95px;
        }
      }

      &:nth-child(4) {
        width: 85px;
        height: 105px;
        position: absolute;
        top: -14%;
        right: 18%;
        animation: teams-svg-top;
        animation-duration: 2.4s;
        animation-delay: 0.6s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width) {
          width: 75px;
          height: 95px;
        }
      }

      &:nth-child(5) {
        width: 55px;
        height: 55px;
        position: absolute;
        top: 19%;
        right: 9%;
        animation: teams-svg-top;
        animation-duration: 2.1s;
        animation-delay: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      &:nth-child(6) {
        display: none;

        @media (max-width: $tablet-width) {
          display: grid;
        }
      }
    }
  }

  &--operators {
    img {
      @media (max-width: $tablet-width) {
        display: none;
      }

      &:nth-child(2) {
        width: 125px;
        height: 87px;
        position: absolute;
        top: 22%;
        left: 25%;
        animation: teams-svg-top;
        animation-duration: 1.8s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width-min) {
          width: 80px;
          height: 60px;
        }
      }

      &:nth-child(3) {
        width: 135px;
        height: 105px;
        position: absolute;
        top: 30%;
        right: 29%;
        animation: teams-svg-top;
        animation-duration: 2s;
        animation-delay: 0.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media (max-width: $desktop-width-min) {
          width: 77px;
          height: 80px;
          top: 25%;
        }
      }

      &:nth-child(4) {
        display: none;

        @media (max-width: $tablet-width) {
          display: grid;
        }
      }
    }
  }

  &--row {
    grid-row: 1;

    @media (max-width: $desktop-width-min) {
      grid-row: auto;
    }
  }
}

