*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $dark-black;

  &:hover {
    font-family: $proximaBold;
    color: $dark-red;
  }
}

h1 {
  margin: 25px 0;
  font-family: $proximaBold;
  font-size: 48px;
  line-height: 48px;
  font-weight: $normal;
  text-align: center;
  color: $black;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

h2 {
  margin: 0;
  font-family: $proximaBold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $black;

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

h3 {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: $proximaNova;
  font-size: 16px;
  line-height: 24px;
  font-weight: $normal;
  color: $dark-black;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding-bottom: 55px;

  @media (max-width: $tablet-width) {
    padding-bottom: 40px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: $desktop-padding;

  @media (max-width: $tablet-width) {
    padding: $tablet-padding;
  }
}

.gray-box {
  background-color: $light-gray;
}
