// screen-resolution
$container-max-width: 1200px;
$desktop-width: 1200px;
$desktop-width-min: 1024px;
$tablet-width: 767px;
$mobile-width: 320px;

//padding
$desktop-padding: 0 30px;
$tablet-padding: 0 15px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//fonts
$proximaNova: "ProximaNova-Regular", arial, sans-serif;
$proximaBold: "ProximaNova-Bold", arial, sans-serif;
$mistral: "Mistral", arial, sans-serif;

//font-weight
$normal: 400;
$bold: 800;

//colors
$dark-red: #a62e41;
$dark-blue: #0a3d76;
$dark-black: #333333;
$white: #ffffff;
$light-pink: #fff5f7;
$light-gray: #f5f9ff;
$gray: #787878;
