// screen-resolution
$container-max-width: 1200px;
$desktop-width: 1200px;
$desktop-width-min: 1023px;
$tablet-width: 767px;
$mobile-width: 480px;
$mobile-width-min: 375px;

//padding
$desktop-padding: 0 30px;
$tablet-padding: 0 15px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//fonts
$proximaNova: "ProximaNova-Regular", arial, sans-serif;
$proximaBold: "ProximaNova-Bold", arial, sans-serif;
$mistral: "Mistral", arial, sans-serif;

//font-weight
$normal: 400;
$bold: 800;

//colors
$dark-red: #a62e41;
$dark-pink: #d6516b;
$dark-blue: #0a3d76;
$dark-black: #333333;
$middle-blue: #092340;
$white: #ffffff;
$light-pink: #fff5f7;
$light-gray: #f5f9ff;
$dark-gray: #333333;
$gray: #787878;
$black: #000000;
$pink: #ffb4c5;

$colorBg: #EE7900;
$colorOutline: #ffffff;
$colorOutlineFade: #4e5559;

//$borderMouse: 3px;

$posMouse: 4px;

$sizeTrackball: 4px;
$posTrackball: 7px;
$shrinkTrackball: 0.4;

$animDuration: 6s;
