//general
@import "general/normalize.scss";
@import "general/swiper-bundle.min.scss";
@import "general/variables.scss";
@import "general/global.scss";
@import "general/fonts.scss";
@import "general/mixins.scss";

//keyframes
@import "blocks/keyframes.scss";

//header
@import "blocks/main-header.scss";

//footer
@import "blocks/main-footer.scss";

//main
@import "blocks/intro.scss";
@import "blocks/card-box.scss";
@import "blocks/advantages.scss";
@import "blocks/business.scss";
@import "blocks/steps.scss";
@import "blocks/about-us.scss";
@import "blocks/clients.scss";
@import "blocks/teams.scss";
@import "blocks/box-list.scss";
@import "blocks/contacts.scss";
@import "blocks/services.scss";
@import "blocks/stages.scss";
@import "blocks/breadcrumbs.scss";
@import "blocks/main-services.scss";
@import "blocks/main-stages.scss";
@import "blocks/404.scss";

//buttons
@import "blocks/button.scss";

//blog
@import "blocks/blog.scss";
@import "blocks/article.scss";
@import "blocks/sharing-list.scss";

//portfolio
@import "blocks/portfolio.scss";
@import "blocks/portfolio-page.scss";
@import "blocks/tabs.scss";

//social-nav
@import "blocks/social-list.scss";
@import "blocks/footer-social.scss";
