// general
@import "general/normalize.scss";
@import "general/swiper-bundle.min.scss";
@import "general/variables.scss";
@import "general/global.scss";
@import "general/fonts.scss";
@import "general/mixins.scss";

//keyframes
@import "blocks/keyframes.scss";

//header
@import "blocks/main-header.scss";

@import "blocks/about-us.scss";
@import "blocks/clients.scss";
@import "blocks/teams.scss";

//footer
@import "blocks/main-footer.scss";

//services
@import "blocks/services.scss";

//social-nav
@import "blocks/social-list.scss";
@import "blocks/footer-social.scss";
