//general
@import "general/normalize.scss";
@import "general/swiper-bundle.min.scss";
@import "general/lazyYT.scss";
@import "general/variables.scss";
@import "general/global.scss";
@import "general/fonts.scss";
@import "general/mixins.scss";

//keyframes
@import "blocks/keyframes.scss";

//header
@import "blocks/main-header.scss";

//footer
//@import "blocks/main-footer.scss";
@import "blocks/main-footer-2.scss";

//main
@import "blocks/intro.scss";
@import "blocks/card-box.scss";
@import "blocks/advantages.scss";
@import "blocks/business.scss";
@import "blocks/about-us.scss";
@import "blocks/benefit.scss";
@import "blocks/teams.scss";
@import "blocks/box.scss";
@import "blocks/contacts.scss";
@import "blocks/services.scss";
@import "blocks/stages.scss";
@import "blocks/pagination.scss";
@import "blocks/breadcrumbs.scss";
@import "blocks/404.scss";
@import "blocks/feedback.scss";
@import "blocks/feedback-slider.scss";
@import "blocks/cookie.scss";

//buttons
@import "blocks/button.scss";

//cubs
@import "blocks/cubs.scss";

//blog
@import "blocks/blog.scss";
@import "blocks/article.scss";
@import "blocks/sharing-list.scss";

//portfolio
@import "blocks/portfolio.scss";
@import "blocks/portfolio-page.scss";
@import "blocks/tabs.scss";
@import "blocks/tags.scss";

//social-nav
@import "blocks/social-list.scss";
@import "blocks/footer-social.scss";

//modals
@import "blocks/modals.scss";

