//general
@import "general/normalize.scss";
@import "general/swiper-bundle.min.scss";
@import "general/variables.scss";
@import "general/global.scss";
@import "general/fonts.scss";
@import "general/mixins.scss";

//keyframes
@import "blocks/keyframes.scss";

//header
@import "blocks/main-header.scss";

//main
@import "blocks/page-main.scss";
@import "blocks/card-box.scss";
@import "blocks/about-us.scss";
@import "blocks/clients.scss";
@import "blocks/teams.scss";
@import "blocks/box-list.scss";

//buttons
@import "blocks/button.scss";

//footer
@import "blocks/main-footer.scss";

//contacts
@import "blocks/contacts.scss";

//services
@import "blocks/services.scss";

//stages
@import "blocks/stages.scss";

//blog
@import "blocks/blog.scss";
@import "blocks/article.scss";
@import "blocks/sharing-list.scss";

//portfolio
@import "blocks/portfolio.scss";
@import "blocks/tabs.scss";

//breadcrumbs
@import "blocks/breadcrumbs.scss";

//social-nav
@import "blocks/social-list.scss";
@import "blocks/footer-social.scss";
