mixin box-list()
  .box(class!=attributes.class)
    +img('svg', 'box-services', 'svg', '660', '700', 'Услуги')
    ul.box__list
      li
        a.box__link.box__link--design(href="#") Дизайн
      li
        a.box__link.box__link--seo(href="#") SEO
      li
        a.box__link.box__link--sales(href="#") Воронка продаж
      li
        a.box__link.box__link--context(href="#") Контекст
      li
        a.box__link.box__link--marketing(href="#") Видеомаркетинг
      li
        a.box__link.box__link--analytics(href="#") Аналитика
      li
        a.box__link.box__link--social(href="#") Соцсети
      li
        a.box__link.box__link--strategy(href="#") Стратегия
      li
        a.box__link.box__link--crm(href="#") CRM
      li
        a.box__link.box__link--site(href="#") Сайт
