mixin breadcrumbs()
  .breadcrumbs
    .breadcrumbs__wrapper
      ul.breadcrumbs__list
        li
          a.breadcrumbs__link(href="#") Главная
        li
          a.breadcrumbs__link.breadcrumbs__link--active SEO продвижение
