mixin picture(path, imageDesk, imageTab, format, width, height, altText, mediaImg)
  picture
    source(media= "(max-width: " + mediaImg + "px)", srcset= "img/" + path + "/" + imageTab + "." + format)
    img(src="img/" + path + "/" + imageDesk + '.' + format, width= width, height= height, alt= altText)

