mixin tabs()
  ul.tabs
    li
      input(id="work" type="checkbox" name="work" value="Все работы").visually-hidden
      label(for="work")
        +img('svg', 'icon-work', 'svg', '24', '24', 'Все работы')
        | Все работы
    li
      input(id="process" type="checkbox" name="work" value="В процессе").visually-hidden
      label(for="process")
        +img('svg', 'icon-process', 'svg', '24', '24', 'В процессе')
        | В процессе
    li
      input(id="check" type="checkbox" name="work" value="Завершенные").visually-hidden
      label(for="check")
        +img('svg', 'icon-check', 'svg', '24', '24', 'Завершенные')
        | Завершенные
    li
      input(id="support" type="checkbox" name="work" value="На обслуживании").visually-hidden
      label(for="support")
        +img('svg', 'icon-support', 'svg', '24', '24', 'На обслуживании')
        | На обслуживании
    li
      button.tabs__start Фильтровать
    li
      button.tabs__reset Сбросить
