mixin tags()
  ul.tags
    li
      input(id="strategy" type="checkbox" name="work" value="#стратегия").visually-hidden
      label(for="strategy") #стратегия
    li
      input(id="generate" type="checkbox" name="work" value="#лидогенерация").visually-hidden
      label(for="generate") #лидогенерация
    li
      input(id="smm" type="checkbox" name="work" value="#SMM").visually-hidden
      label(for="smm") #SMM
    li
      input(id="site" type="checkbox" name="work" value="#Сайт").visually-hidden
      label(for="site") #Сайт
